﻿<div class="welcome-dashboard">
    <img src="/App_Plugins/CustomDashboard/images/settingsicon.jpg" style="float:right;padding:0 0 5px 5px;" />
    <h1>CSS Helpers</h1>

    <p>
        This is a list of helper css classes that can be used in the grid layout of your site. To add them to a grid element hover over the element container until a settings cog and delete bin appear
        in the top right corner. Click the settings cog and add your class or combination of classes to the 'Set a css class' box. Make sure to seperate classes with a space and don't include the leading fullstop.
        <br />When classes have been added to an element it will display 'Settings applied'.
    </p>
    <p>An example of a valid class: <strong>margintop100 center borderbottom</strong></p>
</div>
<div class="welcome-dashboard">
    <pre ng-include src="'/Css/helpers.css'"></pre>
</div>