﻿<section id="subSideTemplate">
    <section id="header">
        <h1>Select a Reward</h1>
        <p>Pick a reward from the selection below</p>
    </section>
    <section id="rewardCollection">
        <div>
            <div ng-repeat="rewards in flxRewardCollection" ng-click="SelectRewardTemplate(rewards.templateName)">
                <p><i class="fa fa-{{rewards.icon}} fa-2x"></i></p>
                <p>{{rewards.name}}</p>
            </div>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectRewardTemplate('rewards')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>
