﻿<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../../../css/font-awesome.min.css">
<script type="text/javascript">
    function selectText(containerid) {
        if (document.selection) {
            var range = document.body.createTextRange();
            range.moveToElementText(document.getElementById(containerid));
            range.select();
        } else if (window.getSelection) {
            var range = document.createRange();
            range.selectNode(document.getElementById(containerid));
            window.getSelection().addRange(range);
        }
    }
</script>


<section id="campaigns" ng-controller="flxNewsletters.Controller">
    <section id="header" class="umb-panel-header">
        <div class="umb-headline-editor-wrapper">
            <h1>Subscribers</h1>
        </div>
    </section>
    <div class="list umb-panel-body">
        <section id="data">
            <div class="row">

                <div class="col-12"><h4>Mail Client Export Options</h4><button ng-click="subscriberBox()">Manually Copy Email Addresses (click to {{show}})</button> - <span ng-show="generateLink"><button ng-click="createSubscriberCSV()">Generate CSV File for Importing into MailChimp</button></span><span ng-show="downloadLink"><a target="_self" href="subscribers.csv" download="subscribers.csv">Click here to Download Subscribers.csv</a></span></div>
                <br />
            </div>
            <div ng-show="subscriberBoxList">
                Click in the box below then right click and copy. Paste this list into the MailChimp "Copy/Paste from file" option.
                <div class="row">
                    <div class="well subscriberList col-4" id="selectable" onclick="selectText('selectable')">
                        Email
                        <p class="subscribers" ng-repeat="subscriber in subscribers">
                            {{subscriber.Email}}
                        </p>
                    </div>
                </div>
            </div>
        </section>
        <section id="data">

            <h4>Subscribers</h4>
            <div class="row">
                <div class="col-4"><h4>Email</h4></div>
                <div class="col-4"><h4>Name</h4></div>
                <div class="col-4"><h4>Subscriber List</h4></div>
            </div>
            <div class="well subscriberListMain">
                <div class="spinner" ng-show="loading" align="center"><img src="/App_Plugins/flxCommerceApplication/backoffice/images/loader.gif"></div>
                <div ng-repeat="subscriber in subscribers">
                    <div class="row" ng-show="!loading">

                        <div class="col-4">{{subscriber.Email}}</div>
                        <div class="col-4">{{subscriber.Name}}</div>
                        <div class="col-4">{{subscriber.List}}</div>

                    </div>
                </div>
            </div>
        </section>

    </div>
</section>
