﻿<section id="subSideTemplate" ng-model="newGoal" ng-controller="flxIsOfRole.Controller.Add">
    <section id="header">
        <h1>Is Of Role</h1>
        <p>Complete the fields below to create a Role Goal. To qualify for the reward the customer must be of the Role set below</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="newGoal.Name" type="text" /></div>
            <div><h4>Description: </h4><input ng-model="newGoal.Description" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="newGoal.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="newGoal.Ends" type="datetime-local" /></div>
            
            <div>
                <h4>Role: </h4><select ng-model="newGoal.Role">
                    <option 
                            ng-repeat="role in Roles"
                            value="{{role}}">
                        {{role}}
                    </option>
                </select>
            </div>
            
           

            </div>
    </section>
    <section>
        <div id="buttonContainer">
            <i class="fa fa-plus-circle fa-2x add greyedout" ng-click="Validate(newGoal, 'IsOfRole')"></i>
            <p>Add</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectGoalTemplate('goals')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>