﻿<section id="subSideTemplate" ng-model="newGoal" ng-controller="flxSpendMoreThan.Controller.Add">
    <section id="header">
        <h1>Spend More Than</h1>
        <p>Complete the fields below to create spend more than goal</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="newGoal.Name" type="text" /></div>
            <div><h4>Description: </h4><input ng-model="newGoal.Description" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="newGoal.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="newGoal.Ends" type="datetime-local" /></div>
            <div><h4>Amount: £</h4><input ng-model="newGoal.Amount" type="text" placeholder="e.g £12.50" /></div>
        </div>
    </section>
    <section>
        <div id="buttonContainer">
            <i class="fa fa-plus-circle fa-2x add greyedout" ng-click="Validate(newGoal, 'SpendMoreThan')"></i>
            <p>Add</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectGoalTemplate('goals')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>