﻿<section id="subSideTemplate" ng-model="goal" ng-controller="flxIsOfRole.Controller.Edit">
    <section id="header">
        <h1>Is Of Role</h1>
        <p>Complete the fields below to create a Role Goal. To qualify for the reward the customer must be of the Role set below</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="goal.Name" type="text" /></div>
            <div><h4>Description: </h4><input ng-model="goal.Description" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="goal.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="goal.Ends" type="datetime-local" /></div>
            <div>
                <h4>Role: </h4><select ng-model="goal.Role">
                    <option ng-selected="{{role == goal.Role}}"
                            ng-repeat="role in Roles"
                            value="{{role}}">
                        {{role}}
                    </option>
                </select>
            </div>
        </div>
    </section>
    <section>
        <div class="buttonContainer">
            <i class="fa fa-pencil fa-2x edit greyedout" ng-click="Validate(goal, goal.GoalName)"></i>
            <p>Save</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectGoalTemplate('goals')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>