﻿<div ng-controller="Umbraco.PrevalueEditors.flxCommerceTreePicker" class="umb-editor umb-contentpicker">

    <ul class="unstyled list-icons"
        ng-model="renderModel">
        <li ng-repeat="node in renderModel">

            <i class="icon icon-delete red hover-show pull-right" ng-click="remove($index)"></i>

            <i class="icon {{node.icon}} hover-hide"></i>
            <a href prevent-default ng-click="openContentPicker()">{{node.name}}</a>
        </li>
    </ul>

    <ul class="unstyled list-icons" ng-show="multipicker || renderModel.length === 0">
        <li>
            <i class="icon icon-add blue"></i>
            <a href ng-click="openContentPicker()" prevent-default>
                <localize key="general_add">Add</localize>
            </a>
        </li>
    </ul>
</div>