﻿
<style>
    input.filter {
        margin-bottom: 20px;
        display: block;
    }
    input.productCheckList {
        display: inline;
        width: 15px;
        height: 15px;
        margin: 0px 2px 10px 0;
    }
    div.productSelectorContainer {
        width: 100%;
    }
    div.product {
        margin: 0 0 12px 25px;
        display: inline-block;
        width: 250px;    
    }
</style>
<div class="productSelectorContainer" ng-controller="flx.productSelectorController">
    <input class="filter" style="" type="text" placeholder="Find a product" ng-model="ProductName" />
    {{error}}
    <div class="product" ng-repeat="Product in Products | filter: ProductName">
      <input class="productCheckList" type="checkbox" ng-model="Product.Selected"  ng-change="SelectedProduct({{Product.Info.ProductID}})"  />{{Product.Info.Name}}
    </div>
</div>

