<link rel="stylesheet" href="/App_Plugins/flxCommerceApplication/backoffice/css/flxAdminTools.css">
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">


<div class=" umb-panel-header">
    <div class="umb-headline-editor-wrapper">
        <h1>Orders Dashboard</h1>
    </div>
</div>


<div class="umb-panel-body umb-scrollable row-fluid" ng-controller="flxOrderDashboard.Controller">
    <input type="hidden" name="orderstatus" value="Shipped">
    <table class="tile-table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td class="tile-table25">
                <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-Awaiting Dispatch" class="tile-link">
                    <div class="flx-tile tile-blue" style="visibility: visible; opacity: 1; display: block; ">
                        <div class="tile-icon"><i class="fa fa-shopping-cart"></i></div>
                        <div class="tile-heading"><span>Awaiting dispatch</span></div>
                        <div class="tile-body"><span>{{OrderList.AwaitingDispatch.length || "0"}}</span></div>
                        <div class="tile-footer"></div>

                    </div>
                </a>
            </td>
            <td class="tile-table25">
                <div class="flx-tile tile-orange" style="visibility: visible; opacity: 1; display: block; ">
                    <div class="tile-icon"><i class="ti ti-shopping-cart-full"></i></div>
                    <div class="tile-heading"><span>Awaiting Dispatch Total</span></div>
                    <div class="tile-body"><span>{{OrderList.AwaitingDispatch.Total || "0" | currency:OrderList.AwaitingDispatch[0].Currency.Symbol:2  }}</span></div>
                    <div class="tile-footer"></div>
                </div>
            </td>
            <td class="tile-table25">
                <div class="flx-tile tile-green" style="visibility: visible; opacity: 1; display: block; ">
                    <div class="tile-icon"><i class="fa fa-line-chart"></i></div>
                    <div class="tile-heading"><span>Total Orders over last 7 days</span></div>
                    <div class="tile-body"><span>{{lastSevenDaysNumberOfOrders || "0"}}</span></div>
                    <div class="tile-footer">
                        <span class="tile-text-success" ng-if="orderNumberPercentageChange > 0">{{orderNumberPercentageChange | number:0  }}%<i class="fa fa-level-up"></i></span>
                        <span class="tile-text-warning" ng-if="orderNumberPercentageChange <= 0">{{orderNumberPercentageChange | number:0  }}%<i class="fa fa-level-down"></i></span>
                       
                    </div>
                </div>
            </td>

            <td class="tile-table25">
                <div class="flx-tile tile-orange" style="visibility: visible; opacity: 1; display: block; ">
                    <div class="tile-icon"><i class="ti ti-shopping-cart-full"></i></div>
                    <div class="tile-heading"><span>Last 7 days Total</span></div>
                    <div class="tile-body"><span>{{lastSevenDaysOrderTotal || "0" | currency:OrderList.AwaitingDispatch[0].Currency.Symbol:2   }}</span></div>
                    <div class="tile-footer">
                        <span class="tile-text-success" ng-if="orderTotalPercentageChange > 0">{{orderTotalPercentageChange | number:0  }}%<i class="fa fa-level-up"></i></span>
                        <span class="tile-text-warning" ng-if="orderTotalPercentageChange <= 0">{{orderTotalPercentageChange | number:0  }}%<i class="fa fa-level-down"></i></span>                        
                    </div>
                </div>
            </td>
        </tr>
    </table>

    <table class="tile-table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr style="width:100%">
            <td class="tile-table50">

                <div class="flx-tile flx-tile-chart tile-orange" style="visibility: visible; opacity: 1; display: block; ">
                    <div class="tile-heading"><span>Last 7 days Order Totals</span></div>
                    <canvas id="canvasOne" height="300" width="300"></canvas>
                </div>
            </td>
            <td class="tile-table50">

                <div class="flx-tile flx-tile-chart tile-orange" style="visibility: visible; opacity: 1; display: block; ">
                    <div class="tile-heading"><span>Last 7 days Total Orders</span></div>
                    <canvas id="canvasTwo" height="300" width="300"></canvas>
                </div>
            </td>
        </tr>
    </table>




</div>


