
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/App_Plugins/flxCommerceApplication/backoffice/css/orderPages.css?v=1.4">

<div class="umb-panel tabbable" ng-controller="flxOrders.Controller">


    <div class="umb-panel-header" style="height: 94px;">
        <div class="umb-headline-editor-wrapper">
            <h1>Status: {{page}}</h1>
        </div>
    </div>



    <div id="order" class="umb-panel-body">
        <input type="hidden" name="orderstatus" value="Shipped">
        <br />
        <div class="row">
            <div class="col-md-12">
                <button type="button" style="margin-left:10px" class=" btn btn-primary" ng-click="printOrders()">Print Invoice{{s}} <span class="badge">{{numberofselectedorders.length}}</span></button>
                <input type="text" style="padding:14px 5px;margin-bottom:-1px" ng-model="filterText" placeholder="Search orders" />
                <button class=" btn btn-primary" ng-click="Generate()">Generate Report</button><span ng-show="downloadLink"><a target="_self" href="{{url}}" download="{{url}}">Click here to Download</a></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3">
                        <h4>Date Range Start: </h4>
                    </div>
                    <div class="col-md-3">
                        <h4>Date Range End: </h4>
                    </div>
                </div>
            </div>
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-3"><input ng-model="date.starts" style="height: 33px;" type="datetime-local" value={{date.starts}} ng-click="isShown = true" /></div>
                    <div class="col-md-3"><input ng-model="date.ends" style="height: 33px;" type="datetime-local" value="{{date.ends}}" ng-click="isShown = true" /></div>
                    <div class="col-md-2"><button type="button" style="margin-left:20px" class=" btn btn-primary" ng-click="updateOrderList()" ng-init="isShown = false" ng-show="isShown">Update Order List</button></div>
                   
                </div>

            </div>
        </div>

        <br />
        <div class="row">
            <div class="col-md-12" id="notforprinting">
                <section id="headings">
                    <br />
                    <label ng-show="!loading"><input type="checkbox" ng-model="selectedAll" ng-click="checkAll()" style="vertical-align: -2px;margin-left:10px;" ng-show="!loading" />Select All</label>
                    <div class="spinner" ng-show="loading" align="center"><img src="/App_Plugins/flxCommerceApplication/backoffice/images/loader.gif"></div>
                    <div style="left:20px;" ng-show="dispatching"><br />Processing - Please Wait <img src="/App_Plugins/flxCommerceApplication/backoffice/images/loader.gif"></div>
                    <div class="row" ng-show="!loading">
                        <div class="col-md-3">
                            <h4>Order Tools</h4>
                        </div>
                        <div class="col-md-2">
                            <h4>Order No.</h4>
                        </div>
                        <div class="col-md-3">
                            <a href="javascript:void(0);" ng-click="sortType = 'LastName'; sortReverse = !sortReverse">
                                <h4>
                                    Customer
                                    <span ng-show="sortType == 'LastName'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </h4>
                            </a>
                        </div>
                        <div class="col-md-1">
                            <a href="javascript:void(0);" ng-click="sortType = 'OrderTotal'; sortReverse = !sortReverse">
                                <h4>
                                    Order Total
                                    <span ng-show="sortType == 'OrderTotal'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </h4>
                            </a>
                        </div>
                        <div class="col-md-2">
                            <a href="javascript:void(0);" ng-click="sortType = 'Order.ShippingAddress.Country'; sortReverse = !sortReverse">
                                <h4>
                                    Delivery Method
                                    <span ng-show="sortType == 'Order.ShippingAddress.Country'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </h4>
                            </a>
                        </div>

                        <div class="col-md-1">
                            <a href="javascript:void(0);" ng-click="sortType = 'OrderDate'; sortReverse = !sortReverse">
                                <h4>
                                    Order Date
                                    <span ng-show="sortType == 'OrderDate'" class="fa" ng-class="sortReverse ? 'fa-caret-up' : 'fa-caret-down'"></span>
                                </h4>
                            </a>
                        </div>
                    </div>
                </section>
                <div ng-show="emptyList"><h4>No Orders found for that date range</h4></div>
                <section id="data">
                    <div class="row" ng-hover ng-class="{ checked : Order.Selected }" ng-repeat="Order in OrderList | orderBy:sortType:sortReverse | filter:filterText" ng-show="!loading">

                        <div class="col-md-3">
                            <input type="checkbox" style="vertical-align: -2px; padding-right:2px" ng-model="Order.Selected" ng-click="updateButtons()" />
                            <span title="View Order Details" ng-click="selectsidetemplate(2, Order.OrderID)" style="cursor:pointer;">
                                <i class="fa fa-search-plus greyedout" ng-hover-grey></i>
                            </span>
                            <span title="View Order Notes" ng-click="selectsidetemplate(1, Order.OrderID)" style="cursor:pointer;">
                                <i ng-class="Order.Notes.length > 1 ? 'fa fa-comments greyedout' : 'fa fa-comment greyedout'" ng-hover-grey></i>
                            </span>

                            <span title="Print Order" ng-click="printOrder(Order.OrderID)" style="cursor:pointer;">
                                <i class="fa fa-print greyedout" ng-hover-grey></i>
                            </span>
                            <span title="Change Order Status">
                                <select ng-model="Order.OrderStatus.OrderStatusID"
                                        ng-options="status.OrderStatusID as status.Name for status in OrderStatuses" style="width:150px;height:25px;padding: 1px 3px;margin-bottom:2px;" ng-change="updateStatusButton = true"></select>
                            </span>

                            <button type="button" class="button" style="margin-bottom:2px;height:25px;" ng-click="updateOrderStatus(Order.OrderStatus.OrderStatusID, Order.OrderID)" ng-show="updateStatusButton">Update Order</button>
                        </div>
                        <div class="col-md-2">
                            <span title="View Order Details" ng-click="selectsidetemplate(2, Order.OrderID)" style="cursor:pointer;">
                                {{Order.OrderNumber}}
                            </span>
                        </div>
                        <div class="col-md-3">
                            {{Order.FirstName}} {{Order.LastName}}
                        </div>
                        <div class="col-md-1">
                            {{Order.OrderTotal | currency:Order.Currency.Symbol:2}}
                        </div>
                        <div class="col-md-2">
                            {{Order.ShippingAddress.Country}} - {{Order.FulfillmentOption.Service}}
                        </div>
                        <div class="col-md-1">
                            {{Order.OrderDate | date:'dd/MM/yyyy'}}
                        </div>

                    </div>
                </section>
            </div>
            <div id="sideTemplate" ng-include="SideTemplate" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}"></div>
        </div>
    </div>
</div>




