﻿<style type="text/css">
    @media print {
        #leftcolumn { display:none !important; }  
        #dontPrint { display:none !important; }     
        #printable { 
            display: block;
            margin-left:-45px;
            margin-right:45px;
             

        } 
         div.page
        {
            page-break-after: always;
            page-break-inside: avoid;
        }               
    }
  

    body {
        background: #FFFFFF;
        -webkit-print-color-adjust:exact;
    }

    body, td, th, input, select, textarea, option, optgroup {
        font-family: Verdana, Arial, Helvetica, sans-serif;
        font-size: 12px;
        color: #000000;
    }

    h1 {
        text-transform: uppercase;
        color: #CCCCCC;
        text-align: right;
        font-size: 24px;
        font-weight: normal;
        padding-bottom: 5px;
        margin-top: 0px;
        margin-bottom: 15px;
        border-bottom: 1px solid #CDDDDD;
    }

    .store {
        width: 100%;
        margin-bottom: 20px;
    }

    .div2 {
        float: left;
        display: inline-block;
    }

    .div3 {
        float: right;
        display: inline-block;
        padding: 5px;
    }

    .heading td {
        background: #a6312c;
        color: white;
    }

    .address, .product {
        border-collapse: collapse;
    }

    .address {
        width: 100%;
        margin-bottom: 20px;
        border-top: 1px solid #CDDDDD;
        border-right: 1px solid #CDDDDD;
    }

        .address th, .address td {
            border-left: 1px solid #CDDDDD;
            border-bottom: 1px solid #CDDDDD;
            padding: 5px;
            vertical-align: text-bottom;
        }

        .address td {
            width: 50%;
        }

    .product {
        width: 100%;
        margin-bottom: 20px;
        border-top: 1px solid #CDDDDD;
        border-right: 1px solid #CDDDDD;
    }

        .product td {
            border-left: 1px solid #CDDDDD;
            border-top: 1px solid #CDDDDD;
            border-bottom: 1px solid #CDDDDD;
            padding: 5px;
        }
        

       .navbar-btn {
            margin-top: 8px;
            margin-bottom: 8px;
        }
        .btn-primary {
            color: #fff;
            background-color: #428bca;
            border-color: #357ebd;
        }
        .btn {
            display: inline-block;
            padding: 6px 12px;
            margin-bottom: 0;
            font-size: 14px;
            font-weight: 400;
            line-height: 1.42857143;
            text-align: center;
            white-space: nowrap;
            vertical-align: middle;
            cursor: pointer;
            -webkit-user-select: none;
            -moz-user-select: none;
            -ms-user-select: none;
            user-select: none;
            background-image: none;
            border: 1px solid transparent;
            border-radius: 4px;
        }
        table.product ul li {
            font-size: 11px;
        } 

</style>


<div class="row" ng-controller="flxInvoice.Controller" id="printable">

    <button id="dontPrint" ng-click="printPage()" class="btn btn-primary navbar-btn"><span>{{invoices.length>1 ? 'Print Invoices' : 'Print Invoice'}}</span></button>
    <button id="dontPrint" ng-click="closePage()" class="btn btn-primary navbar-btn">Close Page</button>
    <br />
    <br />

    <div class="col-md-12" ng-repeat="order in invoices">
        <div class="page">
            <img src="/App_Plugins/flxCommerceApplication/backoffice/images/invoice-header.jpg" max-width 100%>
            <br /><br />
            <table class="store">
                <tbody>
                    <tr>
                        <td>
                            Control2K Ltd<br>
                            Waterton Technology Centre<br>
                            Waterton Industrial Estate<br>
                            Bridgend<br>
                            CF31 3WT<br>
                            Telephone: 01656 646404<br>
                            training@control2k.co.uk<br>
                            http://www.control2k.co.uk
                        </td>


                        <td align="right" valign="top">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><b>Order Date:</b></td>
                                        <td>{{order.OrderDate | date:'dd/MM/yyyy'}}</td>
                                    </tr>

                                    <tr>
                                        <td><b>Order Number:</b></td>
                                        <td>{{order.OrderNumber}}</td>
                                    </tr>                                       
                                </tbody>
                            </table>
                        </td>

                    </tr>
                    <tr>                   
                        <td align="left"><b>Payment Method:</b> {{order.Transactions[order.Transactions.length-1].TransactionType}}</td>
                    </tr>
                    <tr>
                        <td align="left"><b>Transaction ID:</b> {{order.Transactions[order.Transactions.length-1].GatewayIdentifier}}</td>
                    </tr>  
                </tbody>
            </table>

            <table class="address">
                <tbody>
                    <tr class="heading">
                        <td width="50%"><b>Billing Address</b></td>
                      
                    </tr>
                    <tr>
                        <td>
                            {{order.FirstName}} {{order.LastName}}<br />
                            {{order.BillingAddress.Address1}}<br />
                            {{order.BillingAddress.Address2}}<br />
                            {{order.BillingAddress.City}}<br />
                            {{order.BillingAddress.CountyState}}<br />
                            {{order.BillingAddress.ZipCode}}<br />
                            {{order.BillingAddress.Country}}<br />                           
                            T: {{order.BillingAddress.Phone}}<br />
                            Email: {{order.Email}}<br />
                        </td>

                        <td>
                          
                        </td>
                    </tr>
                </tbody>

            </table>
            <table class="product">
                <tbody>
                    <tr class="heading">
                        <td><b>Course</b></td>
                        <td><b>Course Number</b></td>
                        <td align="right"><b>Quantity</b></td>
                        <td align="right"><b>Unit Price</b></td>
                        <td align="right"><b>Total</b></td>
                    </tr>
                    <tr>
                        <td>
                    <tr ng-repeat="orderline in order.OrderLines">
                        <td>
                            {{orderline.ProductName}}
                            <ul ng-show="orderline.Attributes.length > 0">
                                <li ng-repeat="attr in orderline.Attributes | filter:{Key: 'Delegate'}">{{attr.Key}} - {{attr.Value}}</li>
                            </ul>
                        </td>
                        <td>{{orderline.Sku}}</td>
                        <td align="right">{{orderline.Quantity}}</td>
                        <td align="right">{{orderline.PricePaid | currency:order.Currency.Symbol:2 }}</td>
                        <td align="right">{{orderline.LineTotal | currency:order.Currency.Symbol:2 }}</td>
                    </tr>
                    <tr>
                        <td align="right" colspan="4"><b>Sub-Total:</b></td>
                        <td align="right">{{order.SubTotal | currency:order.Currency.Symbol:2 }}</td>
                    </tr>
                    <tr>
                        <td align="right" colspan="4"><b>Shipping ({{order.FulfillmentOption.Service | clickncollect}}):</b></td>
                        <td align="right">
                            {{order.ShippingAmount | currency:order.Currency.Symbol:2 }}<br />
                        </td>
                    </tr>
                    <tr ng-switch on="order.DiscountAmount">
                        <td align="right" colspan="4" ng-switch-when="0" style="display:none;"></td>
                        <td align="right" colspan="4" ng-switch-default><b>Discount:</b></td>
                        <td align="right" ng-switch-default>-{{order.DiscountAmount | currency:order.Currency.Symbol:2 }}<br /></td>
                    </tr>
                    <tr>
                        <td align="right" colspan="4"><b>VAT(20%):</b></td>
                        <td align="right">{{order.TaxAmount | currency:order.Currency.Symbol:2 }}</td>
                    </tr>
                    <tr>
                        <td align="right" colspan="4"><b>Total:</b></td>
                        <td align="right">{{order.OrderTotal | currency:order.Currency.Symbol:2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
