﻿

<script type="text/javascript" src="/umbraco/lib/angular/1.1.5/angular.js" defer></script>
<script type="text/javascript" src="/umbraco/lib/angular/1.1.5/angular-resource.js" defer></script>
<!--<script type="text/javascript" src="/App_Plugins/flxCommerceApplication/backoffice/flxOrders/flxOrderView.controller.js" defer></script>-->
<link rel="stylesheet" href="/App_Plugins/flxCommerceApplication/backoffice/css/orderPages.css?v=1.4">

<style type="text/css">
     @media print {
        #leftcolumn { display:none !important; }  
        #dontPrint { display:none !important; }  
        #notforprinting    { display:none !important; }  
        #printable {
            
            page-break-after: always;
            page-break-inside: avoid;
        }
        
         div.page
        {
            page-break-after: always;
            page-break-inside: avoid;
            height: 100%;
            width: 100%;
            position: fixed;
          
        }               
    }
}
  
       
    .store {
        width: 100%;
        margin-bottom: 20px;
    }

    .div2 {
        float: left;
        display: inline-block;
    }

    .div3 {
        float: right;
        display: inline-block;
        padding: 5px;
    }

    .heading td {
        background: #a6312c;
        color: white;
    }

    .address, .product {
        border-collapse: collapse;
    }

    .address {
        width: 100%;
        margin-bottom: 20px;
        border-top: 1px solid #CDDDDD;
        border-right: 1px solid #CDDDDD;
    }

        .address th, .address td {
            border-left: 1px solid #CDDDDD;
            border-bottom: 1px solid #CDDDDD;
            padding: 5px;
            vertical-align: text-bottom;
        }

        .address td {
            width: 50%;
        }

    .product {
        width: 100%;
        margin-bottom: 20px;
        border-top: 1px solid #CDDDDD;
        border-right: 1px solid #CDDDDD;
    }

        .product td {
            border-left: 1px solid #CDDDDD;
            border-top: 1px solid #CDDDDD;
            border-bottom: 1px solid #CDDDDD;
            padding: 5px;
        }

        table.product ul li {
            font-size: 13px;
        } 
   </style>




<div class="row" id="printable" style="overflow:scroll;">  
    <div class="col-md-12">        
        <br />
        <br />
        <div class="page">
            <img src="/App_Plugins/flxCommerceApplication/backoffice/images/invoice-header.jpg" max-width 100%>
            <br /><br />
            <table class="store">
                <tbody>
                    <tr>
                        <td>
                            Control2K Ltd<br>
                            Waterton Technology Centre<br>
                            Waterton Industrial Estate<br>
                            Bridgend<br>
                            CF31 3WT<br>
                            Telephone: 01656 646404<br>
                            training@control2k.co.uk<br>
                            http://www.control2k.co.uk
                        </td>
                        <td align="right" valign="top">
                            <table>
                                <tbody>
                                    <tr>
                                        <td><b>Order Date:</b></td>
                                        <td>{{sideBarOrder.OrderDate | date:'dd/MM/yyyy'}}</td>
                                    </tr>

                                    <tr>
                                        <td><b>Order Number:</b></td>
                                        <td>{{sideBarOrder.OrderNumber}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Payment Method:</b></td>
                                        <td>{{sideBarOrder.Transactions[sideBarOrder.Transactions.length-1].TransactionType}}</td>
                                    </tr>
                                    <tr>
                                        <td><b>Transaction ID:</b> {{order.Transactions[order.Transactions.length-1].GatewayIdentifier}}</td>
                                    </tr>
                                </tbody>
                            </table>
                        </td>
                    </tr>
                </tbody>
            </table>

            <table class="address">
                <tbody>
                    <tr class="heading">
                        <td width="50%"><b>Billing Address</b></td>
                        
                    </tr>
                    <tr>
                        <td>
                            {{sideBarOrder.FirstName}} {{sideBarOrder.LastName}}<br />
                            {{sideBarOrder.BillingAddress.Address1}}<br />
                            {{sideBarOrder.BillingAddress.Address2}}<br />
                            {{sideBarOrder.BillingAddress.City}}<br />
                            {{sideBarOrder.BillingAddress.CountyState}}<br />
                            {{sideBarOrder.BillingAddress.ZipCode}}<br />
                            {{sideBarOrder.BillingAddress.Country}}<br />
                            T: {{sideBarOrder.BillingAddress.Phone}}<br />
                            Email: {{sideBarOrder.Email}}<br />
                        </td>

                        <td style="border-right:none;">
                           
                        </td>
                    </tr>
                </tbody>

            </table>
            <table class="product">
                <tbody>
                    <tr class="heading">
                        <td><b>Course</b></td>
                        <td><b>Course Number</b></td>
                        <td align="right"><b>Quantity</b></td>
                        <td align="right"><b>Unit Price</b></td>
                        <td align="right"><b>Total</b></td>
                    </tr>
                    <tr ng-repeat="orderline in sideBarOrder.OrderLines">
                        <td>
                            {{orderline.ProductName}}
                            <ul ng-show="orderline.Attributes.length > 0">
                                <li ng-repeat="attr in orderline.Attributes | filter:{Key: 'Delegate'}">{{attr.Key}} - {{attr.Value }}</li>
                            </ul>
                        </td>
                        <td>{{orderline.Sku}}</td>
                        <td align="right">{{orderline.Quantity}}</td>
                        <td align="right">{{orderline.PricePaid | currency:sideBarOrder.Currency.Symbol:2 }}</td>
                        <td align="right">{{orderline.LineTotal | currency:sideBarOrder.Currency.Symbol:2 }}</td>
                    </tr>
                    <tr>
                        <td align="right" colspan="4"><b>Sub-Total:</b></td>
                        <td align="right">{{sideBarOrder.SubTotal | currency:sideBarOrder.Currency.Symbol:2 }}</td>
                    </tr>
                    <!-- <tr>
         <td align="right" colspan="4"><b>Shipping ({{sideBarOrder.FulfillmentOption.Service}}):</b></td>
         <td align="right">
             {{sideBarOrder.ShippingAmount | currency:sideBarOrder.Currency.Symbol:2 }}<br />
         </td>
     </tr>
        -->
                    <tr ng-switch on="sideBarOrder.DiscountAmount">
                        <td align="right" colspan="4" ng-switch-when="0" style="display:none;"></td>
                        <td align="right" colspan="4" ng-switch-default><b>Discount:</b></td>
                        <td align="right" ng-switch-default>-{{sideBarOrder.DiscountAmount | currency:sideBarOrder.Currency.Symbol:2 }}<br /></td>
                    </tr>
                    <tr>
                        <td align="right" colspan="4"><b>VAT(20%):</b></td>
                        <td align="right">{{sideBarOrder.TaxAmount | currency:sideBarOrder.Currency.Symbol:2 }}</td>
                    </tr>
                    <tr>
                        <td align="right" colspan="4"><b>Total:</b></td>
                        <td align="right">{{sideBarOrder.OrderTotal | currency:sideBarOrder.Currency.Symbol:2 }}</td>
                    </tr>
                </tbody>
            </table>
        </div> 
        <div>
            <div ng-click="selectsidetemplate(0)" class="btn btn-primary navbar-btn" type="button">Close</div>
        </div>  
        <br />
    </div>
    
</div>
