﻿<div class="row" id="printable" style="overflow:scroll;">
    <div class="col-md-12">
        <br />
        <br />          
            <h3>Notes for Order No. {{sideBarOrder.OrderNumber}}</h3>
            <hr />
            <div class="row" ng-repeat="note in sideBarOrder.Notes">
                <div class="well" style="margin-left:15px;margin-right:15px;">
                    <p><b>Order Note : </b>{{note.Note}}</p>
                    <p><b>Date  : </b>{{note.CreatedOn | date:"dd/MM/yyyy 'at' h:mma"}}</p>
                </div>
            </div>
            <div class="xs-margin"></div><!-- space -->
      
        <textarea class="form-control" rows="5" id="orderNote" ng-model="newNote.note" style="width:433px;margin-left:10px;"></textarea>
            <label><input type="checkbox" name="checkbox" style="vertical-align: -2px;" ng-model="newNote.Selected"> Email note to customer</label> <br />
            <button class="btn btn-primary navbar-btn" ng-click="addNewNote()">Add New Note</button><span class="spinner" ng-show="noteloading" align="center">&nbsp;&nbsp;&nbsp;&nbsp;<img src="/App_Plugins/flxCommerceApplication/backoffice/images/loader.gif"></span>
        <br />
        <br />
        <div>
            <div ng-click="selectsidetemplate(0)" class="btn btn-primary navbar-btn" type="button">Close</div>
        </div>
        <br />
    </div>    
</div>
