﻿<section id="goal" ng-controller="flxGoals.Controller" ng-model="goal">
    <section id="header">
        <h1>Edit Goal</h1>
        <p>Fill out the fields below to create a edit goal</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="goal.Name" type="text" /></div>
            <div><h4>Description: </h4><input ng-model="goal.Description" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="goal.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="goal.Ends" type="datetime-local" /></div>
        </div>
    </section>
    <section>
        <div class="buttonContainer">
            <i class="fa fa-pencil fa-2x edit greyedout" ng-click="EditGoal(goal)"></i>
            <p>Save</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectSideTemplate('campaign')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>