﻿<section id="goals">
    <section id="header">
        <h2>Goals for promotion : {{promotion.Name}}</h2>
    </section>
    <section id="data" class="list">
        <div>
            <div class="col-alt">&nbsp;</div>
            <div class="col-alt">&nbsp;</div>
            <div class="col-3 alt"><h3>Name</h3></div>
            <div class="col-3 alt"><h3>Starts</h3></div>
            <div class="col-3 alt"><h3>End</h3></div>
        </div>
        <div class="spinner" ng-show="loading" align="center"><img src="/App_Plugins/flxCommerceApplication/backoffice/images/loader.gif"></div>
        <div ng-repeat="goal in goals">
            <div class="row hover" ng-show="!loading">
                <div class="col-alt"><i class="fa fa-pencil greyedout" ng-click="SelectGoal(goal, 'edit' + goal.GoalName)" title="Edit Goal Details"></i></div>
                <div class="col-alt"><i class="fa fa-trash greyedout " ng-click="DeleteGoal(goal, goal.GoalName)" title="Delete Goal Details"></i></div>
                <div class="col-3" ng-model="promotion.Name">{{goal.Name}}</div>
                <div class="col-3" ng-model="goal.Starts">{{goal.Starts | date:'dd/MM/yyyy'}}</div>
                <div class="col-3" ng-model="goal.Ends">{{goal.Ends | date:'dd/MM/yyyy'}}</div>
            </div>
        </div>
        <div class="row" ng-show="noData"><p>Add a goal to this promotion</p></div>
    </section>
    <section id="buttonContainer">
        <div>
            <i class="fa fa-plus-circle fa-2x add greyedout" ng-click="SelectGoalTemplate('goalCollection')"></i>
            <p>Add</p>
        </div>
    </section>

</section>