﻿<section id="subSideTemplate">
    <section id="header">
        <h1>Select a Goal</h1>
        <p>Pick a goal from the selection below</p>
    </section>
    <section id="goalCollection">
        <div>
            <div ng-repeat="goals in goalCollection" ng-click="SelectGoalTemplate(goals.templateName)">
                <p><i class="fa fa-{{goals.icon}} fa-2x"></i></p>
                <p>{{goals.name}}</p>
            </div>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectGoalTemplate('goals')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>
