﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using System.Text;
@{
    int settingsNodeT = 0;
    int homeNodeT = 0;
    int blogNodeT = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodeT = item.Id;
            continue;
        }
        else if (item.Name == "Home")
        {
            homeNodeT = item.Id;
            continue;
        }
        if (item.Name == "Blog")
        {
            blogNodeT = item.Id;
            continue;
        }
        if (settingsNodeT > 0 && blogNodeT > 0 && homeNodeT > 0) { break; }
    }
    var settingsNode = Umbraco.Content(settingsNodeT);
    var homeNode = Umbraco.Content(homeNodeT);
    var blogNode = Umbraco.Content(blogNodeT);
}
@if (homeNode.Children.Any())
{
    var navStart = homeNode.Children.Where("Visible");
    var totalMenuItems = navStart.Count();
    var half = (int)Math.Round((decimal)totalMenuItems / 2);
    var leftSide = navStart.Take(half);
    var rightSide = navStart.Skip(leftSide.Count());
    <div class="headercontainer">
        <div class="row">
            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 headerlogo pull-left">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a href="/contact-us"><img src="~/Media/call-round.png" /></a></div>
                <!-- div class="col-lg-6 col-md-6 col-sm-6 col-xs-6"><a href="/directions"><img src="~/Media/map-round.png" /></a></div -->
            </div>

            <div class="col-lg-10 col-md-8 col-sm-8 col-xs-6" style="position:relative;">
                @{ Html.RenderPartial("Searcher"); }
                <nav class="navbar-default nav col-lg-5 hidemefrom1200" data-delay="500" role="navigation">
                    <ul class="desktopnav pull-right">
                        @foreach (var navItem in leftSide)
                        {
                            @childPage(navItem, 0);
                        }
                    </ul>
                </nav>

                <div class="col-lg-2 col-md-12 col-sm-12 col-xs-12 websitelogo">
                    <a href="/" title="@(settingsNode.websiteTitle)">
                        <img src="@(settingsNode.websiteLogo)" alt="@(settingsNode.websiteTitle)">
                    </a>
                </div>

                <nav class="navbar-default nav col-lg-5 hidemefrom1200" data-delay="500" role="navigation">
                    <ul class="desktopnav pull-left">
                        @foreach (var navItem in rightSide)
                        {
                            @childPage(navItem, 0);
                        }
                    </ul>
                </nav>
            </div>

            <div class="col-lg-1 col-md-2 col-sm-2 col-xs-3 headerlogo pull-right">
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <!-- <a href="#"><img src="~/Media/basket.png" /></a> -->
                </div>


                @if (settingsNode.GetPropertyValue("showSearchFunction").ToString() == "True")
                {
                    <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                        <span class="fa fa-search searcher"></span>
                    </div>
                }
                <div class="col-lg-6 col-md-6 col-sm-6 col-xs-6">
                    <nav class="navbar">
                        <div class="navbar-toggler first-button" type="button" data-toggle="collapse" data-target="#navbarSide"
                             aria-controls="navbarSide" aria-expanded="false" aria-label="Toggle navigation">
                            <div class="animated-icon1"><span></span><span></span><span></span></div>
                        </div>
                    </nav>
                </div>
            </div>
        </div>

        <div class="collapse" id="navbarSide">
            @{
                int counter = 0;
            }
            <ul class="navbar-nav">
                @foreach (var navItem in navStart)
                {
                    @childPage(navItem, counter);
                    counter++;
                }
            </ul>
        </div>
    </div>
}

@helper childPage(dynamic navItem, int counter)
{
var descendantlabelcount = 0;
var sb = new StringBuilder();

sb.AppendFormat("{0}", navItem.GetPropertyValue<bool>("navigationHighlight") ? "ticket " : "");
sb.AppendFormat("{0}", navItem.Descendants().Count() > 0 ? "haschildren" : "");
sb.AppendFormat("{0}", Model.Content.Name == navItem.Name ? " active" : "");

if (sb.Length > 0)
{
    sb.Insert(0, "class=\"");
    sb.Append("\"");
}

<li @Html.Raw(sb.ToString())>

    @if (navItem.Descendants().Count() > 0)
    {
        @* Count descendants for any that have hidefromnav and if any dont then allow *@
        foreach (var descendantcount in navItem.Descendants().Where("umbracoNaviHide == false"))
        {
            descendantlabelcount++;
        }
        if (descendantlabelcount > 0)
        {
            <div class="childrenhook"></div> 
        }
    }

    @if (!navItem.GetPropertyValue<bool>("labelOnly"))
    {
        @Html.Raw("<a tabindex=\"-1\" href=\"" + navItem.Url + "\" title=\"" + navItem.Name + "\">")
    }
    
    @if (navItem.HasValue("navigationImage"))
    {
        var thisimage = navItem.GetPropertyValue("navigationImage") as string;
        <img src="@Url.GetCropUrl(thisimage, width:76, height:100)" alt="@navItem.Name" style="width:100%;width:unset;" />
    }
    <span>@navItem.Name</span>
    @if (!navItem.GetPropertyValue<bool>("labelOnly"))
    {
        @Html.Raw("</a>")
    }

    @if (navItem.Descendants().Where("Visible").Count() > 0)
    {
        @childPages(navItem);
    }

</li>
}

@helper childPages(dynamic navItem)
{
    @* This is for sub results - call single result to get parent *@
    <ul class="sublevel level-4">
        @foreach (var item in navItem.Descendants().Where("Visible"))
        {
            <li>
                @if (!item.GetPropertyValue<bool>("labelOnly"))
                {@Html.Raw("<a tabindex=\"-1\" href=\"" + item.url + "\">")}

                @if (item.HasValue("navigationImage"))
                {
                    var thisimage = item.GetPropertyValue("navigationImage") as string;
                    <img src="@Url.GetCropUrl(thisimage, width:76, height:100)" alt="@item.Name" style="width:100%;width:unset;" />
                }
                <p>@item.Name</p>

                @if (!item.GetPropertyValue<bool>("labelOnly"))
                {@Html.Raw("</a>")}
            </li>
        }
    </ul>
}
