﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
<!-- BOF - Views/Partials/mainNavigation -->

@{
    int settingsNodetemp = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodetemp = item.Id;
        }
    }
    var settingsNode = Umbraco.Content(settingsNodetemp);
}

            <div class="headercontainer">
                <div class="row">
                    <div class="brand col-xs-8 col-sm-8 col-lg-3">
                        <a href="/" title="@(settingsNode.websiteTitle)">
                            <img src="@(settingsNode.websiteLogo)" alt="@(settingsNode.websiteTitle)">
                        </a>
                    </div>

                    <div class="navcontainer col-lg-8">


@if (CurrentPage.Site().Children.Any())
{
    var naviLevel = CurrentPage.Site().Children.First().Level;
    var selection = settingsNode.utilitynav.Split(',');
<nav class="navbar-default nav" data-delay="500" role="navigation">
    <ul class="level-@naviLevel">

        @foreach (var childPage in CurrentPage.Site().Children.Where("Visible"))
        {
            var hasChildClass = "no-child";
            if (childPage.Children.Where("Visible").Count() > 0)
            {
                hasChildClass = "has-child";
            }
            <li class="@hasChildClass@(childPage.IsAncestorOrSelf(CurrentPage) ? " selected" : null)">
                <a href="@childPage.Url" title="@childPage.Name">
                    @if (childPage.HasValue("navigationIcon"))
                    {
                        <i class="fa @childPage.GetPropertyValue("navigationIcon")" aria-hidden="true"></i>
                    }
                    @childPage.Name
                </a>
                @Html.Raw(childPage.Children.Where("Visible").Any() ? "<div class='faicon fa fa-angle-right hidemedesktop'></div>" : "")

                @if (childPage.Children.Where("Visible").Any())
                {
                    <ul class="sublevel level-3">
                        @childPages(childPage.Children)
                    </ul>
                }
            </li>
        }
    </ul>
</nav>
}
else
{ <!-- No Navigation Children Found! --> }

                    </div>

        @if (settingsNode.GetPropertyValue("showSearchFunction").ToString() == "True")
        {
                        Html.RenderPartial("Searcher");
                    }

                    <div id="toggle" class="toggle col-xs-2 col-sm-2 ">
                        <a href="#" class="cross"><span></span></a>
                    </div>
                </div>
            </div>


@helper childPages(dynamic pages)
{
    if (pages.Where("Visible").Count() > 0)
    {
        var naviLevel = pages.First().Level;
        foreach (var page in pages.Where("Visible"))
        {
            var maxval = page.Parent.navigationMaxHeight;
            var i = 0;

    <li>
            <a tabindex="-1" href="@page.Url" title="@page.Name">
                @if (page.HasValue("navigationImage"))
                {
                    <img src="@page.GetPropertyValue("navigationImage")" alt="@page.Name" style="max-width:100px;" />
                }
                @page.Name
            </a>
            
        @if (page.Descendants().Count() > 0)
        {
            <ul class="sublevel level-4">
                @foreach (var item in page.Descendants())
                {
                    var endtags = "</ul></li><li><span style=\"margin-bottom:-12px;\">&nbsp;</span><ul style=\"border-right:none;\" class=\"sublevel level-4\">";
                    i++;
                    if (i == page.Parent.navigationMaxHeight && page.Parent.navigationMaxHeight != 0)
                    {
                        @Html.Raw(endtags)
                        i = 0;
                    }
                    <li><a tabindex="-1" href="@item.url">@item.name</a></li>
                }
            </ul>
        }

    </li>

        }
    }
}
<!-- EOF - Views/Partials/mainNavigation -->
