﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
@using Leekes.Umbraco.KeyValueExtension.Extensions;
@using Leekes.Umbraco.KeyValueExtension.Models;
@using Umbraco.Web
@using Newtonsoft.Json.Linq;

@{
    int settingsNodetemp = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodetemp = item.Id;
        }
    }

    var settingsNode = Umbraco.Content(settingsNodetemp);


    @*
        @(Request.Url.Scheme + "://" + Request.Url.Host) <- this method is great but doesn't resolve ports
    *@

    if (settingsNode.HasValue("websiteTitle"))
    {
        @Html.Raw("    <meta property=\"og:url\" content=\"" + settingsNode.websiteTitle + "\" />\n");
    }
    if (Model.Content.HasValue("ogType"))
    {
        @Html.Raw("    <meta property=\"og:type\" content=\"" + Model.Content.GetPropertyValue("ogType") + "\" />\n");
    }
    if (Model.Content.HasValue("ogCard"))
    {
        @Html.Raw("    <meta property=\"og:card\" content=\"" + Model.Content.GetPropertyValue("ogCard") + "\" />\n");
    }
    if (Model.Content.HasValue("ogTitle"))
    {
        @Html.Raw("    <meta property=\"og:title\" content=\"" + Model.Content.GetPropertyValue("ogTitle") + "\" />\n");
    }
    if (Model.Content.HasValue("ogDescription"))
    {
        @Html.Raw("    <meta property=\"og:description\" content=\"" + Model.Content.GetPropertyValue("ogDescription") + "\" />\n");
    }
    if (Model.Content.GetPropertyValue("ogImage") != null && Model.Content.HasValue("ogImage"))
    {
        @Html.Raw("    <meta property=\"og:image\" content=\"" + Request.Url.GetLeftPart(UriPartial.Authority) + Model.Content.GetPropertyValue<IPublishedContent>("ogImage").Url + "\" />\n");
    }
    else if (settingsNode.HasValue("ogImage"))
    {
        @Html.Raw("    <meta property=\"og:image\" content=\"" + Request.Url.GetLeftPart(UriPartial.Authority) + settingsNode.GetPropertyValue<IPublishedContent>("ogImage").Url + "\" />\n");
    }

    if (settingsNode.HasValue("facebookAppId"))
    { @Html.Raw("    <meta property=\"fb:app_id\" content=\"" + settingsNode.GetPropertyValue("facebookAppId") + "\" />\n");
}

if (settingsNode.HasValue("twitterSite"))
{
    @Html.Raw("    <meta name=\"twitter:site\" content=\"" + settingsNode.GetPropertyValue("twitterSite") + "\" />\n");
}
if (Model.Content.HasValue("ogCreator"))
{
    @Html.Raw("    <meta name=\"twitter:creator\" content=\"@" + Model.Content.GetPropertyValue("ogCreator") + "\" />\n");
}
if (Model.Content.HasValue("ogTitle"))
{
    @Html.Raw("    <meta name=\"twitter:title\" content=\"" + Model.Content.GetPropertyValue("ogTitle") + "\" />\n");
}
if (Model.Content.HasValue("ogDescription"))
{
    @Html.Raw("    <meta name=\"twitter:description\" content=\"" + Model.Content.GetPropertyValue("ogDescription") + "\" />\n");
}

if (Model.Content.GetPropertyValue("ogImage") != null && Model.Content.HasValue("ogImage"))
{
    @Html.Raw("    <meta name=\"twitter:image\" content=\"" + Request.Url.GetLeftPart(UriPartial.Authority) + Model.Content.GetPropertyValue<IPublishedContent>("ogImage").Url + "\" />\n");
}
else if (settingsNode.HasValue("ogImage"))
{
    @Html.Raw("    <meta name=\"twitter:image\" content=\"" + Request.Url.GetLeftPart(UriPartial.Authority) + settingsNode.GetPropertyValue<IPublishedContent>("ogImage").Url + "\" />\n");
}

if (Model.Content.HasValue("keyValue"))
{
    var t1 = HtmlHelperExtensions.KeyValueMetaList(CurrentPage.keyValue);
    var t2 = HtmlHelperExtensions.KeyValueDataList(CurrentPage.keyValue);

    if (t2.ToString().Length > 27)
    {
        foreach (var item in t1)
        {
            <meta property="@item.key" content="@item.value" />
        }
    }

}
}