﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage
            <div class="searchercontainer" style="position:absolute;left:0;right:0;bottom:0;padding:7px 0;margin:7px 0;">
                <form action="/search-results/">
                    <div class="row">
                        <div class="col-lg-12">
                            <div class="input-group input-group-lg">
                                <input id="keywords" name="keywords" type="text" class="form-control" placeholder="Search for..." value="">
                                <span class="input-group-btn">
                                    <button class="btn btn-info" type="submit">SEARCH</button>
                                </span>
                            </div>
                        </div>
                    </div>
                </form>
            </div>