﻿<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../../../../../../css/font-awesome.min.css">
<section id="campaigns" ng-controller="flxCampaigns.Controller">
    <section id="header" class="umb-panel-header">
        <div class="umb-headline-editor-wrapper">
            <h1>Active Campaigns</h1>
        </div>
    </section>
    <div class="list umb-panel-body">
        <div id="buttonContainer">
            <button class="btn btn-primary goalBtn" type="button" ng-click="SelectSideTemplate('addCampaign')">Create</button>
        </div>
        <section id="data">
            <div class="row">
                <div class="col-alt">&nbsp;</div>
                <div class="col-alt">&nbsp;</div>
                <div class="col-alt">&nbsp;</div>
                <div class="col-4"><h4>Name</h4></div>
                <div class="col-4"><h4>Starts</h4></div>
                <div class="col-4"><h4>End</h4></div>
                <div class="col-4"><h4>Enabled</h4></div>
            </div>
            <div class="spinner" ng-show="loading" align="center"><img src="/App_Plugins/flxCommerceApplication/backoffice/images/loader.gif"></div>
            <div ng-repeat="campaign in campaigns">
                <div class="row hover" ng-show="!loading" ng-class="{ checked : campaign.IsSelected }">
                    <div class="col-alt" ng-click="SelectCampaign(campaign, 'campaign')"><i class="fa fa-search-plus greyedout" ng-hover-grey></i></div>
                    <div class="col-alt" ng-click="SelectCampaign(campaign, 'editCampaign')"><i class="fa fa-pencil greyedout" ng-hover-grey></i></div>
                    <div class="col-alt" ng-click="DeleteCampaign(campaign)"><i class="fa fa-trash greyedout" ng-hover-grey></i></div>
                    <div class="col-4" ng-model="campaign.Name">{{campaign.Name}}</div>
                    <div class="col-4" ng-model="campaign.Starts">{{campaign.Starts | date:'medium'}}</div>
                    <div class="col-4" ng-model="campaign.Ends">{{campaign.Ends | date:'medium'}}</div>
                    <div class="col-4" ng-model="campaign.isEnabled">{{campaign.isEnabled}}</div>
                </div>
            </div>
            <div class="row" ng-show="noData"><p>Currently no active campaigns</p></div>
        </section>
        <div id="sideTemplate" ng-include="SideTemplate" ng-animate="{enter: 'animate-enter', leave: 'animate-leave'}">
        </div>

    </div>
</section>
