﻿<section id="campaign" ng-model="newCampaign">
    <section id="header">
        <h1>Add Campaign</h1>
        <p>Fill out the fields below to create a new campaign</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="newCampaign.Name" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="newCampaign.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="newCampaign.Ends" type="datetime-local" /></div>
            <div><h4>Enabled: </h4><input class="alt" ng-model="newCampaign.isEnabled" type="checkbox" /></div>
        </div>
    </section>
    <section>
        <div class="buttonContainer">
            <i class="fa fa-plus-circle fa-2x add greyedout" ng-click="AddCampaign(newCampaign)"></i>
            <p>Add</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectSideTemplate(0)" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>