﻿<section id="campaign">
    <section id="header">
        <h1>{{campaign.Name}}</h1>
    </section>
    <section ng-controller="flxPromotions.Controller">
        <div class="container" ng-include="promotionTemplate">

        </div>
        <section ng-controller="flxGoals.Controller" ng-hide="loading" class="ng-hide">
            <div class="container" ng-include="goalTemplate">

            </div>
        </section>
        <section ng-controller="flxRewards.Controller" ng-hide="loading" class="ng-hide">
            <div class="container alt" ng-include="rewardTemplate">

            </div>
        </section>
    </section>
    <section id="footer">
        <div ng-click="SelectSideTemplate(0)" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>