﻿<section id="campaign" ng-model="campaign">
    <section id="header">
        <h1>Edit Campaign</h1>
        <p>Fill out the fields below to create a edit campaign</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="campaign.Name" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="campaign.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="campaign.Ends" type="datetime-local" /></div>
            <div><h4>Enabled: </h4><input class="alt" ng-model="campaign.isEnabled" type="checkbox" /></div>
        </div>
    </section>
    <section>
        <div class="buttonContainer">
            <i class="fa fa-pencil fa-2x edit greyedout" ng-click="EditCampaign(campaign)"></i>
            <p>Save</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectSideTemplate(0)" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>