﻿<section id="campaigns" ng-controller="flxCampaigns.Controller">
    <section id="header" class="umb-panel-header">
        <div class="umb-headline-editor-wrapper">
            <h1>Expired Campaigns</h1>
        </div>
    </section>
</section>