﻿<section id="subSideTemplate" ng-model="newPromotion">
    <section id="header">
        <h1>Add Promotion</h1>
        <p>Fill out the fields below to create a new promotion</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="newPromotion.Name" type="text" /></div>
            <div><h4>Enabled: </h4><input class="alt" ng-model="newPromotion.isEnabled" type="checkbox" /></div>
        </div>
    </section>
    <section>
        <div class="buttonContainer">
            <i class="fa fa-plus-circle fa-2x add greyedout" ng-click="AddPromotion(newPromotion)"></i>
            <p>Add</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectPromotionTemplate('promotions')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>