﻿<section id="subSideTemplate" ng-model="promotion">
    <section id="header">
        <h1>Edit Promotions</h1>
        <p>Alter the fields below to create edit promotion</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="promotion.Name" type="text" /></div>
            <div><h4>Enabled: </h4><input class="alt" ng-model="promotion.isEnabled" type="checkbox" /></div>
        </div>
    </section>
    <section>
        <div class="buttonContainer">
            <i class="fa fa-pencil fa-2x edit greyedout" ng-click="EditPromotion(promotion)"></i>
            <p>Save</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectPromotionTemplate('promotions')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>