﻿<section id="promotions">
    <section id="header">
        <h2>Promotions </h2>
    </section>
    <section id="data" class="list">
        <div>
            <div class="col-alt">&nbsp;</div>
            <div class="col-alt">&nbsp;</div>
            <div class="col-alt">&nbsp;</div>
            <div class="col-2 alt"><h3>Name</h3></div>
            <div class="col-2 alt"><h3>isEnabled</h3></div>
        </div>
        <div class="spinner" ng-show="loading" align="center"><img src="/App_Plugins/flxCommerceApplication/backoffice/images/loader.gif"></div>
        <div ng-repeat="promotion in promotions">
            <div class="row hover" ng-show="!loading" ng-class="{ checked : promotion.IsSelected }">
                <div class="col-alt" ng-click="SelectPromotion(promotion, 'promotions')"><i class="fa fa-search-plus greyedout" title="View Promotion Details"></i></div>
                <div class="col-alt" ng-click="SelectPromotion(promotion, 'editPromotion')"><i class="fa fa-pencil greyedout" title="Edit Promotion Details"></i></div>
                <div class="col-alt" ng-click="DeletePromotion(promotion)"><i class="fa fa-trash greyedout" title="Delete Promotion"></i></div>
                <div class="col-2" ng-model="promotion.Name">{{promotion.Name}}</div>
                <div class="col-2" ng-model="promotion.isEnabled">{{promotion.isEnabled}}</div>
            </div>
        </div>
        <div class="row" ng-show="noData"><p>Currently no promotions</p></div>
    </section>
    <section id="buttonContainer">
        <div>
            <i class="fa fa-plus-circle fa-2x add greyedout" ng-click="SelectPromotionTemplate('addPromotion')"></i>
            <p>Add</p>
        </div>
    </section>
</section>
