﻿.mbran-sitemapxml .frequency-slider .slider-tick-label-container {
    margin-left: -33.3333px !important;
}

.mbran-sitemapxml .frequency-slider .slider-tick-label {
    width: 66.6667px !important;
}

.mbran-sitemapxml .frequency-slider .slider.slider-horizontal {
    margin-bottom: 24px !important;
}


.mbran-sitemapxml .priority-slider {
    margin-top: 30px;
}


