﻿
<style>
    input.filter {
        margin-bottom: 20px;
        display: block;
    }
    input.productCheckList {
        display: inline;
        width: 20px;
        height: 20px;
        margin: 0px 2px 10px 0;
    }
    div.productSelectorContainer {
        width: 100%;
    }
    div.product {
        margin: 0 0 12px 25px;
        display: inline-block;
        width: 250px;    
    }
</style>
<div class="productSelectorContainer" ng-controller="flx.optionSelector">
    {{error}}
    <div class="product" ng-repeat="item in SelectedItems">
        <input class="productCheckList" type="checkbox" ng-model="item.isChecked" />{{item.Val}}
    </div>
</div>

