@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>

@{
    Layout = "";
}

@if (Model.Items.Any())
{
    var name = "";
    var link = "";
    var socialclass = "";

    <div class="buttongroup">

        @foreach (var item in Model.Items)
        {
            if (!String.IsNullOrEmpty(item.GetValue<string>("button1Name")) && (!String.IsNullOrEmpty(item.GetValue<string>("button1Link"))))
            {
                name = item.GetValue("button1Name");
                link = item.GetValue<IPublishedContent>("button1Link").Url;
                socialclass = "buttonspaceclass";

                <a href="@link"><button type="button" class="btn @if (item.GetValue<bool>("button1style")) { @Html.Raw("btn-success"); } else { @Html.Raw("btn-default"); }">@name</button></a>
            }
            else if (!String.IsNullOrEmpty(item.GetValue<string>("button1Name")))
            {
                name = item.GetValue("button1Name");
                <button type="button" class="btn @if (item.GetValue<bool>("button1style")) { @Html.Raw("btn-success"); } else { @Html.Raw("btn-default"); }">@name</button>
                socialclass = "buttonspaceclass";
            }

            if (!String.IsNullOrEmpty(item.GetValue<string>("button2Name")) && (!String.IsNullOrEmpty(item.GetValue<string>("button2Link"))))
            {
                name = item.GetValue("button2Name");
                link = item.GetValue<IPublishedContent>("button2Link").Url;
                socialclass = "buttonspaceclass";

                <a href="@link"><button type="button" class="btn btn-default">@name</button></a>
            }
            else if (!String.IsNullOrEmpty(item.GetValue<string>("button2Name")))
            {
                name = item.GetValue("button2Name");
                <button type="button" class="btn btn-default">@name</button>
                socialclass = "buttonspaceclass";
            }

            if (!String.IsNullOrEmpty(item.GetValue<string>("button3Name")) && (!String.IsNullOrEmpty(item.GetValue<string>("button3Link"))))
            {
                name = item.GetValue("button3Name");
                link = item.GetValue<IPublishedContent>("button3Link").Url;

                <a href="@link"><button type="button" class="btn btn-default">@name</button></a>
            }
            else if (!String.IsNullOrEmpty(item.GetValue<string>("button3Name")))
            {
                name = item.GetValue("button3Name");
                <button type="button" class="btn btn-default">@name</button>
            }

            if (item.GetValue<bool>("socialIcons"))
            {
                int settingsNodetemp = 0;
                foreach (var setting in @Umbraco.TypedContentAtRoot())
                {
                    if (setting.Name == "Site Settings")
                    {
                        settingsNodetemp = setting.Id;
                    }
                }
                var settingsNode = Umbraco.Content(settingsNodetemp);
                var socialLink = "";
                <div class="socialblock @socialclass">
                    @if (!String.IsNullOrEmpty(item.GetValue<string>("socialLink")))
                    {
                        socialLink = item.GetValue<IPublishedContent>("socialLink").Url;
                    }
                    else { socialLink = HttpContext.Current.Request.Url.ToString(); }

                    @*{
                        socialLink = Request.Url.Scheme + "://" + Request.Url.Host + socialLink;
                    }*@

                    @if (settingsNode.HasValue("facebookLink") && (!item.GetValue<bool>("linkToSocialSite")))
                    {
                    @Html.Raw("<a href=\"https://www.facebook.com/sharer/sharer.php?u=" + socialLink + "\" target=\"_blank\"><i class=\"fa fa-facebook\" aria-hidden=\"true\"></i></a>");
                    } else if (settingsNode.HasValue("facebookLink") && (item.GetValue<bool>("linkToSocialSite"))) {
                    @Html.Raw("<a href=\"" + settingsNode.GetPropertyValue("facebookLink") + "\" target=\"_blank\"><i class=\"fa fa-facebook\" aria-hidden=\"true\"></i></a>");
                    }

                    @if (settingsNode.HasValue("twitterLink") && (!item.GetValue<bool>("linkToSocialSite")))
                    {@Html.Raw("<a href=\"https://twitter.com/home?status=" + socialLink + "\" target=\"_blank\"><i class=\"fa fa-twitter\" aria-hidden=\"true\"></i></a>");
                    } else if (settingsNode.HasValue("twitterLink") && (item.GetValue<bool>("linkToSocialSite"))) {
                    @Html.Raw("<a href=\"" + settingsNode.GetPropertyValue("twitterLink") + "\" target=\"_blank\"><i class=\"fa fa-twitter\" aria-hidden=\"true\"></i></a>");
                    }

                    @if (settingsNode.HasValue("instagramLink") && (!item.GetValue<bool>("linkToSocialSite")))
                    {@Html.Raw("<a href=\"https://pinterest.com/pin/create/button/?url=" + socialLink + "\" target=\"_blank\"><i class=\"fa fa-instagram\" aria-hidden=\"true\"></i></a>");
                    } else if (settingsNode.HasValue("instagramLink") && (item.GetValue<bool>("linkToSocialSite"))) {
                    @Html.Raw("<a href=\"" + settingsNode.GetPropertyValue("instagramLink") + "\" target=\"_blank\"><i class=\"fa fa-instagram\" aria-hidden=\"true\"></i></a>");
                    }

                    @if (settingsNode.HasValue("youtubeLink") && (!item.GetValue<bool>("linkToSocialSite")))
                    {@Html.Raw("<a href=\"" + socialLink + "\" target=\"_blank\"><i class=\"fa fa-youtube\" aria-hidden=\"true\"></i></a>");
                    } else if (settingsNode.HasValue("youtubeLink") && (item.GetValue<bool>("linkToSocialSite"))) {
                    @Html.Raw("<a href=\"" + settingsNode.GetPropertyValue("youtubeLink") + "\" target=\"_blank\"><i class=\"fa fa-youtube\" aria-hidden=\"true\"></i></a>");
                    }

                </div>
            }

        }
    </div>
}