﻿@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using Umbraco.Web.Models;
@using System.Globalization;

@{
    Layout = "";
    var link = "";
    var alt = "";
}

@if (Model.Items.Any())
{
    foreach (var item in Model.Items)
    {
        if (!String.IsNullOrEmpty(item.GetValue("typedLink")))
        {
            link = item.GetValue("typedLink");
        }
        else if (!String.IsNullOrEmpty(item.GetValue<string>("mediaLink")))
        {
            var templink = item.GetValue<IPublishedContent>("mediaLink");
            link = templink.Url;
        }

        if (!String.IsNullOrEmpty(link))
        {@Html.Raw("<a href=\"" + link + "\">")}

        if (!String.IsNullOrEmpty(item.GetValue<string>("image")))
        {
            if (!String.IsNullOrEmpty(item.GetValue("altText")))
            {
                alt = item.GetValue("altText");
            }
        var media = item.GetValue<IPublishedContent>("image");
        @* <img src="@media.Url" @if (!String.IsNullOrEmpty(alt)) { @Html.Raw("alt=\"" + alt + "\"") } />  Old version - removed for image cropper style *@
        <img src="@Url.GetCropUrl(media)" style="max-width:100%;width:unset;" @if (!String.IsNullOrEmpty(alt)) { @Html.Raw("alt=\"" + alt + "\"") } />
        }

        if (!String.IsNullOrEmpty(link))
        { @Html.Raw("</a>")}

    }
}

