﻿@inherits UmbracoViewPage<Lecoati.LeBlender.Extension.Models.LeBlenderModel>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "";
}

@if (Model.Items.Any())
{
    foreach (var item in Model.Items)
    {
        if (!String.IsNullOrEmpty(item.GetValue<string>("addClass")))
        {
            <div class="@item.GetValue("addClass")"></div>
        }
    }
}