﻿@using Umbraco.Web
@using Umbraco.Web.Models
@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@{

    int imageId = Model.value.imageId;

    string title = Model.value.title;

    string link = Model.value.imagelink;

    string description = Model.value.description;

}

    @if (link != null)
    {
        @Html.Raw("<a href=\"" + link + "\">");
    }
    @if (title != null)
    {
        <img src="@Umbraco.TypedMedia(imageId).GetCropUrl(title)" @if (description != null && !string.IsNullOrEmpty(description.Trim())) { @Html.Raw("alt = \"" + @description + "\"") } style="max-width:100%;width:unset;" />
    }
    else
    {
        <img src="@Umbraco.TypedMedia(imageId).GetCropUrl()" @if (description != null && !string.IsNullOrEmpty(description.Trim())) { @Html.Raw("alt = \"" + @description + "\"") } style="max-width:100%;width:unset;" />
    }
    @if (link != null)
    {
        @Html.Raw("</a>");
    }