﻿@model dynamic
@using Umbraco.Web
@using Umbraco.Web.Models
@using Umbraco.Web.Templates

@*
    *******************************************************************
    Non standard Image Grid Datatype (Rhys)

    If you upgrade Umbraco the grid view editor may/will be overwriten. Add the following to this file:
    Umbraco\Views\propertyeditors\grid\editors\media.html

    Line    Code
    13      <input type="text" class="caption" ng-model="control.value.caption" localize="placeholder" placeholder="@grid_placeholderImageCaption" />
    14      <input type="text" class="caption" ng-model="control.value.link" localize="placeholder" placeholder="Image Link..." />

    **********************************
*@

@if (Model.value != null)
{
    var url = Model.value.image;
    if (Model.editor.config != null && Model.editor.config.size != null)
    {
        url += "?width=" + Model.editor.config.size.width;
        url += "&height=" + Model.editor.config.size.height;

        if (Model.value.focalPoint != null)
        {
            url += "&center=" + Model.value.focalPoint.top + "," + Model.value.focalPoint.left;
            url += "&mode=crop";
        }
    }

    var altText = Model.value.altText ?? Model.value.caption ?? string.Empty;
    var link = "";

    if (Model.value.link != null)
    {
        link = Convert.ToString(Model.value.link);
    }

    if (Model.value.caption != null && !string.IsNullOrEmpty(link.Trim()))
    {
        <div class="image-container">
            <a href="@Model.value.link" alt="@Model.value.caption">
                <img src="@url" alt="@Model.value.caption" />
                <p class="caption">@Model.value.caption</p>
            </a>
        </div>
    }
    else if (Model.value.caption == null && !string.IsNullOrEmpty(link.Trim()))
    {
        <div class="image-container">
            <a href="@Model.value.link" alt="@Model.value.caption">
                <img src="@url" alt="@Model.value.caption" />
            </a>
        </div>
    }
    else
    {
        <div class="image-container">
            <img src="@url" />
            @if (Model.value.caption != null)
            {
                <p class="caption">@Model.value.caption</p>
            }
        </div>
    }
}