﻿<section id="subSideTemplate" ng-model="newReward" ng-controller="flxFreeProduct.Controller.Add">
    <section id="header">
        <h1>Free Product</h1>
        <p>Complete the fields below to create free product reward</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="newReward.Name" type="text" /></div>
            <div><h4>Description: </h4><input ng-model="newReward.Description" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="newReward.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="newReward.Ends" type="datetime-local" /></div>
            <div>
                <h4>Product: </h4><select ng-model="newReward.ProductID">
                    <option ng-selected="{{p.Name == product.Name}}"
                            ng-repeat="p in products"
                            value="{{p.ProductID}}">
                        {{p.Name}}
                    </option>
                </select>
            </div>
            <div><h4>Quantity: </h4><input ng-model="newReward.Quantity" type="number" /></div>
        </div>
    </section>
    <section>
        <div id="buttonContainer">
            <i class="fa fa-plus-circle fa-2x add greyedout" ng-click="Validate(newReward, 'FreeProduct')"></i>
            <p>Add</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectRewardTemplate('rewards')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>