﻿<section id="subSideTemplate" ng-model="newReward" ng-controller="flxPercentOffOrder.Controller.Add">
    <section id="header">
        <h1>Percent Off Order</h1>
        <p>Complete the fields below to create coupon code</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="newReward.Name" type="text" /></div>
            <div><h4>Description: </h4><input ng-model="newReward.Description" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="newReward.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="newReward.Ends" type="datetime-local" /></div>
            <div><h4>Discount (%): </h4><input ng-model="newReward.DiscountPercent" type="text" /></div>
        </div>
    </section>
    <section>
        <div id="buttonContainer">
            <i class="fa fa-plus-circle fa-2x add greyedout" ng-click="Validate(newReward, 'PercentOffOrder')"></i>
            <p>Add</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectRewardTemplate('rewards')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>
</section>