﻿<section id="subSideTemplate" ng-model="reward" ng-controller="flxPercentOffOrder.Controller.Edit">
    <section id="header">
        <h1>Percent off</h1>
        <p>Complete the fields below to create percent off</p>
    </section>
    <section id="input">
        <div>
            <div><h4>Name: </h4><input ng-model="reward.Name" type="text" /></div>
            <div><h4>Description: </h4><input ng-model="reward.Description" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="reward.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="reward.Ends" type="datetime-local" /></div>
            <div><h4>Discount (%): </h4><input ng-model="reward.DiscountPercent" type="text" /></div>
        </div>
    </section>
    <section>
        <div class="buttonContainer">
            <i class="fa fa-pencil fa-2x edit greyedout" ng-click="Validate(reward, reward.RewardName)"></i>
            <p>Save</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectRewardTemplate('rewards')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>

</section>