﻿<section id="subSideTemplate" ng-model="reward" ng-controller="flxFreeProduct.Controller.Edit">
    <section id="header">
        <h1>Free Product</h1>
        <p>Complete the fields below to edit the free product</p>
    </section>
    <section id="input">
        <div class="spinner" ng-show="loading" align="center"><img src="/App_Plugins/flxCommerceApplication/backoffice/images/loader.gif"></div>
        <div ng-show="!loading">
            <div><h4>Name: </h4><input ng-model="reward.Name" type="text" /></div>
            <div><h4>Description: </h4><input ng-model="reward.Description" type="text" /></div>
            <div><h4>Starts: </h4><input ng-model="reward.Starts" type="datetime-local" /></div>
            <div><h4>End: </h4><input ng-model="reward.Ends" type="datetime-local" /></div>
            <div>
                <h4>Product: </h4><select ng-model="reward.ProductID">
                    <option ng-selected="{{p.Name == product.Name}}"
                            ng-repeat="p in products"
                            value="{{p.ProductID}}">
                        {{p.Name}}
                    </option>
                </select>
            </div>
            <div><h4>Quantity: </h4><input ng-model="reward.Quantity" type="number" /></div>
        </div>
    </section>
    <section>
        <div class="buttonContainer">
            <i class="fa fa-pencil fa-2x edit greyedout" ng-click="Validate(reward, reward.RewardName)"></i>
            <p>Save</p>
        </div>
    </section>
    <section id="footer">
        <div ng-click="SelectRewardTemplate('rewards')" class="closePanel btn btn-link" type="button">Cancel</div>
    </section>

</section>