
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/App_Plugins/flxCommerceApplication/backoffice/css/flxAdminTools.css?v=1">

<div class="umb-panel-header">
    <div class="umb-headline-editor-wrapper">
        <h1>Catalogue Dashboard</h1>
    </div>
</div>




<div class="umb-panel-body umb-scrollable row-fluid" ng-controller="flxCatalogue.Controller">
    <input type="hidden" name="orderstatus" value="Shipped">
    <table class="tile-table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr ng-hover ng-repeat="product in products">
            <td>{{product.Name }}</td>
            <td>{{product.Sku }}</td>
            <td>{{product.Price }}</td>


        </tr>
    </table>

 


</div>
