﻿div#flxTools {
    padding: 10px;
}
div#flxPromotions {
    padding: 10px;
}
section#campaigns {
    margin: 0px 10px 0px 10px;
}

section#campaigns h1 {
    }

section#campaigns .col-1 {
        width: 100%;
    }

section#campaigns .col-2 {
        width: 50%;
        display: inline-block;
    }
section#promotions .col-2 {
        width: 30%;
        display: inline-block;
    }
section#campaigns .col-3, section#promotions .col-3 {
        width: 33%;
        display: inline-block;

    }
section#goals .col-3, section#rewards .col-3 {
        width: 25%;
        display: inline-block;

}
section#campaigns .col-4, section#promotions .col-4 {
        width: 20%;
        display: inline-block;
        /*padding: 5px 5px 5px 5px;*/
    }
section#campaigns .col-alt {
        width: 3%;
        display: inline-block;
        /*padding: 5px 5px 5px 5px;*/
    }

section#campaigns #buttonContainer {
        padding: 10px 10px;
}
section#promotions .col-alt, section#goals .col-alt, section#rewards .col-alt {
        width: 5%;
        display: inline-block;
        padding: 0px 0px 0px 0px!important;   
        margin-right: 5px;
        /*padding: 5px 5px 5px 5px;*/
    }
section#promotions .highlight {
    border: 1px solid red;
}
#sideTemplate section#buttonContainer {
    margin-top: 10px;
}
#sideTemplate section#buttonContainer .col-alt {
    width: 35%;
    display: inline-block;
}
#sideTemplate  h2 {
    font-size: 20px;
}
#sideTemplate  section#data div {
    padding: 0px 10px 0px 0px;
}
#sideTemplate  section#data div.alt {
    margin-left: -2px;
}
#sideTemplate  section#data h3 {
    font-size: 17px;
}

section#campaigns input.col-4 {
        margin-bottom: 0px;
    }

.removeInline {
        display: block!important;

}
.marginLeft {
    margin-left: 94px;

}
section#campaigns .row {
    margin-bottom: 10px;
    margin-top: 5px;
}
section#campaigns section#data  {
    padding: 10px 10px;

}
div#sideTemplate section#data  {
    padding: 0px 10px;
    margin-top: -10px;
}

section#campaigns section#data .hover:hover {
        cursor: pointer;
    }

section#input {
    margin-top: 40px;
}

section#input input {
    width: 200px;
    margin-bottom: 0px;
}
section#input input.alt {
    width: 20px;
    margin-bottom: 0px;
}
section#input h4 {
    font-size: 15px;
    display: inline-block;
    width: 100px;
}

section#campaign,  section#subSideTemplate{
    padding: 10px 0px 0 20px;
}
section#campaign section .add, section#campaign section .edit, section#promotion section .add, section#promotion section .edit, section#goal section .add, section#goal section .edit {
    cursor: pointer;
}

.animate-enter, .animate-leave {
    -webkit-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -moz-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    -ms-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
     -o-transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
     transition: 200ms cubic-bezier(0.420, 0.000, 1.000, 1.000) all;
    }

.animate-leave.animate-leave-active,
.animate-enter {
    opacity: 0;
    width: 0px;
    height: 0px;
 }

.animate-enter.animate-enter-active,
.animate-leave {
    opacity: 1;
    width: 150px;
    height: 30px;
}

#sideTemplate > section, #sideTemplate > div, section#subSideTemplate  {
    top: 0 !important;
    left: 100% !important;
    display: block;
    width: 440px !important;
    height: 100% !important;
    position: fixed;
    z-index: 1050;
    background-color: #fff;
    border-radius: 6px;
    box-shadow: 0 3px 7px rgba(0,0,0,0.3);
    background-clip: padding-box;
    margin-left: -460px;
    overflow: scroll;
}
#sideTemplate > section::-webkit-scrollbar-track
{
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
	border-radius: 10px;
	background-color: white;
}
#sideTemplate > section::-webkit-scrollbar
{
    background-color:lightgray;
    border-radius:10px;
}
#sideTemplate > section::-webkit-scrollbar-thumb
{
	border-radius: 10px;
	-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
    background-color:lightgray;
}
#sideTemplate section#data h4, section#subSideTemplate section#data h4  {
    font-size: 15px;
}
#sideTemplate section#footer, section#subSideTemplate section#footer {
    position: fixed;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 999;
    padding: 20px;
    margin: 0;
}

#sideTemplate section#footer div.closePanel, section#subSideTemplate section#footer div.closePanel {
    font-size: 14px;
    float: right;
    line-height: 20px;
}
#sideTemplate section#promotions {
    margin-top: 20px;
}
#sideTemplate .container {
    width: 100%;
    border-bottom: 1px dotted lightgray;
}
#sideTemplate .container.alt {
    padding-bottom: 50px;
}
section#subSideTemplate #goalCollection, section#subSideTemplate #rewardCollection {
    margin: 25px 0px 0px

}
section#subSideTemplate #goalCollection div div, section#subSideTemplate #rewardCollection div div {
    display: inline-block;
    margin: 0px 10px 0 10px;
    cursor: pointer;

}
section#subSideTemplate #goalCollection div div:hover, section#subSideTemplate #rewardCollection div div:hover {
    opacity: 0.8;

}
section#subSideTemplate #goalCollection div div p, section#subSideTemplate #rewardCollection div div p {
    text-align: center;
}
section#subSideTemplate select {
    padding: 0px;
    margin-bottom: 0px;
}
section#subSideTemplate .buttonContainer {
    width: 150px;
    padding: 10px 10px 10px 0px;
    margin: 20px 0px 0px 0px;
}
section#subSideTemplate .buttonContainer p {
    margin: 5px 0px 0px 0px;
}

.greyedout:hover {
     opacity: 1;

}
.greyedout {
    opacity: 0.5;
    -webkit-transition: opacity 0.7s ease;
    transition: opacity 0.7s ease;
}

.subscriberList{
    
    display:block; 
    height:250px;
    background-color:#f8f8f8;
    overflow:scroll;
    
}

.subscriberListMain{
    
    display:block; 
    height:500px;
    background-color:#f8f8f8;
    overflow:scroll;
    
}


p.subscribers{
        margin: 0 0 0px;
}


.dash{
    text-decoration:none!important;

}
.tile-table{
    width:100%;

}
.tile-table25{
    width:25%;

}
.tile-table50{
    width:50%;

}


.flx-tile {
  margin: 6px 6px 32px;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  background: #fff;
  padding: 16px;
  position: relative;
  overflow: hidden;
  border-radius: 2px;
  display: block;
}

.flx-tile:hover {
    background: #fafafa;
}

.flx-tile-chart:hover {
   background: #fff!important;
}
.flx-tile .tile-heading {
  text-align: left;
  color: #9e9e9e;
  height: 16px;
  line-height: 16px;
  font-weight: 600;
  font-size: 14px;
  text-transform: uppercase;
}
.flx-tile .tile-body {
  text-align: right;
  color: #616161;
  font-size: 36px;
  font-weight: 400;
  line-height: 72px;
  position: relative;
  z-index: 1;
}


.flx-tile .tile-footer {
  text-align: right;
  font-size: 12px;
  position: absolute;
  right: 12px;
  bottom: 8px;
}
.flx-tile .tile-icon {
  position: absolute;
  height: 160px;
  width: 160px;
  border-radius: 50%;
  left: -85px;
  bottom: -95px;
}
.flx-tile .tile-icon i {
  font-size: 52px;
  position: absolute;
  left: 96px;
  top: 0;
}
.flx-tile.tile-warning .tile-icon i {
  color: #ffecb3;
}
.flx-tile.tile-success .tile-icon i {
  color: #dcedc8;
}
.flx-tile.tile-teal .tile-icon i {
  color: #b2dfdb;
}
.flx-tile.tile-lime .tile-icon i {
  color: #f0f4c3;
}
.flx-tile.tile-danger .tile-icon i {
  color: #f9bdbb;
}
.flx-tile.tile-info .tile-icon i {
  color: #b2ebf2;
}
.flx-tile.tile-green .tile-icon i {
  color: #c8e6c9;
}
.flx-tile.tile-primary .tile-icon i {
  color: #b3e5fc;
}
.flx-tile.tile-gray .tile-icon i {
  color: #f5f5f5;
}
.flx-tile.tile-orange .tile-icon i {
  color: #ffe0b2;
}
.flx-tile.tile-blue .tile-icon i {
  color: #bbdefb;
}
.flx-tile.tile-green .tile-icon i {
  color: #c8e6c9;
}
.flx-tile.tile-purple .tile-icon i {
  color: #e1bee7;
}
.flx-tile.tile-indigo .tile-icon i {
  color: #c5cae9;
}
.flx-tile.tile-brown .tile-icon i {
  color: #d7ccc8;
}
.flx-tile.flx-tile-alt.tile-warning {
  background: #ffc107;
}
.flx-tile.flx-tile-alt.tile-warning .tile-heading {
  color: #ffecb3;
}
.flx-tile.flx-tile-alt.tile-warning .tile-icon i {
  color: #ffd54f;
}
.flx-tile.flx-tile-alt.tile-warning .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-warning .tile-footer span {
  color: #ffe082 !important;
}
.flx-tile.flx-tile-alt.tile-success {
  background: #8bc34a;
}
.flx-tile.flx-tile-alt.tile-success .tile-heading {
  color: #dcedc8;
}
.flx-tile.flx-tile-alt.tile-success .tile-icon i {
  color: #aed581;
}
.flx-tile.flx-tile-alt.tile-success .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-success .tile-footer span {
  color: #c5e1a5 !important;
}
.flx-tile.flx-tile-alt.tile-teal {
  background: #009688;
}
.flx-tile.flx-tile-alt.tile-teal .tile-heading {
  color: #b2dfdb;
}
.flx-tile.flx-tile-alt.tile-teal .tile-icon i {
  color: #4db6ac;
}
.flx-tile.flx-tile-alt.tile-teal .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-teal .tile-footer span {
  color: #80cbc4 !important;
}
.flx-tile.flx-tile-alt.tile-lime {
  background: #cddc39;
}
.flx-tile.flx-tile-alt.tile-lime .tile-heading {
  color: #f0f4c3;
}
.flx-tile.flx-tile-alt.tile-lime .tile-icon i {
  color: #dce775;
}
.flx-tile.flx-tile-alt.tile-lime .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-lime .tile-footer span {
  color: #e6ee9c !important;
}
.flx-tile.flx-tile-alt.tile-danger {
  background: #e51c23;
}
.flx-tile.flx-tile-alt.tile-danger .tile-heading {
  color: #f9bdbb;
}
.flx-tile.flx-tile-alt.tile-danger .tile-icon i {
  color: #f36c60;
}
.flx-tile.flx-tile-alt.tile-danger .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-danger .tile-footer span {
  color: #f69988 !important;
}
.flx-tile.flx-tile-alt.tile-info {
  background: #00bcd4;
}
.flx-tile.flx-tile-alt.tile-info .tile-heading {
  color: #b2ebf2;
}
.flx-tile.flx-tile-alt.tile-info .tile-icon i {
  color: #4dd0e1;
}
.flx-tile.flx-tile-alt.tile-info .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-info .tile-footer span {
  color: #80deea !important;
}
.flx-tile.flx-tile-alt.tile-green {
  background: #4caf50;
}
.flx-tile.flx-tile-alt.tile-green .tile-heading {
  color: #c8e6c9;
}
.flx-tile.flx-tile-alt.tile-green .tile-icon i {
  color: #81c784;
}
.flx-tile.flx-tile-alt.tile-green .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-green .tile-footer span {
  color: #a5d6a7 !important;
}
.flx-tile.flx-tile-alt.tile-primary {
  background: #03a9f4;
}
.flx-tile.flx-tile-alt.tile-primary .tile-heading {
  color: #b3e5fc;
}
.flx-tile.flx-tile-alt.tile-primary .tile-icon i {
  color: #4fc3f7;
}
.flx-tile.flx-tile-alt.tile-primary .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-primary .tile-footer span {
  color: #81d4fa !important;
}
.flx-tile.flx-tile-alt.tile-inverse {
  background: #9e9e9e;
}
.flx-tile.flx-tile-alt.tile-inverse .tile-heading {
  color: #f5f5f5;
}
.flx-tile.flx-tile-alt.tile-inverse .tile-icon i {
  color: #e0e0e0;
}
.flx-tile.flx-tile-alt.tile-inverse .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-inverse .tile-footer span {
  color: #eeeeee !important;
}
.flx-tile.flx-tile-alt.tile-orange {
  background: #ff9800;
}
.flx-tile.flx-tile-alt.tile-orange .tile-heading {
  color: #ffe0b2;
}
.flx-tile.flx-tile-alt.tile-orange .tile-icon i {
  color: #ffb74d;
}
.flx-tile.flx-tile-alt.tile-orange .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-orange .tile-footer span {
  color: #ffcc80 !important;
}
.flx-tile.flx-tile-alt.tile-blue {
  background: #2196f3;
}
.flx-tile.flx-tile-alt.tile-blue .tile-heading {
  color: #bbdefb;
}
.flx-tile.flx-tile-alt.tile-blue .tile-icon i {
  color: #64b5f6;
}
.flx-tile.flx-tile-alt.tile-blue .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-blue .tile-footer span {
  color: #90caf9 !important;
}
.flx-tile.flx-tile-alt.tile-green {
  background: #4caf50;
}
.flx-tile.flx-tile-alt.tile-green .tile-heading {
  color: #c8e6c9;
}
.flx-tile.flx-tile-alt.tile-green .tile-icon i {
  color: #81c784;
}
.flx-tile.flx-tile-alt.tile-green .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-green .tile-footer span {
  color: #a5d6a7 !important;
}
.flx-tile.flx-tile-alt.tile-purple {
  background: #9c27b0;
}
.flx-tile.flx-tile-alt.tile-purple .tile-heading {
  color: #e1bee7;
}
.flx-tile.flx-tile-alt.tile-purple .tile-icon i {
  color: #ba68c8;
}
.flx-tile.flx-tile-alt.tile-purple .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-purple .tile-footer span {
  color: #ce93d8 !important;
}
.flx-tile.flx-tile-alt.tile-indigo {
  background: #3f51b5;
}
.flx-tile.flx-tile-alt.tile-indigo .tile-heading {
  color: #c5cae9;
}
.flx-tile.flx-tile-alt.tile-indigo .tile-icon i {
  color: #7986cb;
}
.flx-tile.flx-tile-alt.tile-indigo .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-indigo .tile-footer span {
  color: #9fa8da !important;
}
.flx-tile.flx-tile-alt.tile-brown {
  background: #795548;
}
.flx-tile.flx-tile-alt.tile-brown .tile-heading {
  color: #d7ccc8;
}
.flx-tile.flx-tile-alt.tile-brown .tile-icon i {
  color: #a1887f;
}
.flx-tile.flx-tile-alt.tile-brown .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-brown .tile-footer span {
  color: #bcaaa4 !important;
}
.flx-tile.flx-tile-alt.tile-blue-gray {
  background: #607d8b;
}
.flx-tile.flx-tile-alt.tile-blue-gray .tile-heading {
  color: #cfd8dc;
}
.flx-tile.flx-tile-alt.tile-blue-gray .tile-icon i {
  color: #90a4ae;
}
.flx-tile.flx-tile-alt.tile-blue-gray .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-blue-gray .tile-footer span {
  color: #b0bec5 !important;
}
.flx-tile.flx-tile-alt.tile-gray {
  background: #9e9e9e;
}
.flx-tile.flx-tile-alt.tile-gray .tile-heading {
  color: #eeeeee;
}
.flx-tile.flx-tile-alt.tile-gray .tile-icon i {
  color: #bdbdbd;
}
.flx-tile.flx-tile-alt.tile-gray .tile-body {
  color: #ffffff !important;
}
.flx-tile.flx-tile-alt.tile-gray .tile-footer span {
  color: #e0e0e0 !important;
}

.tile-text-success {
  color: #7cb342;
}

.tile-text-warning {
  color: #fa1313;
}

.tile-link {
    
    text-decoration:none!important;
}

.tile-link:hover {
    
    text-decoration:none;
}


.dashboardHeader
{
margin-left:6px;
}
.dashboardLogo
{
margin-left:6px;
}

.hoverover { 
  background: #f8f8f8; 

  
}

.panel {
  position: relative;
}
.panel .panel-heading h2 {
  height: 100%;
  width: auto;
  float: left;
  position: relative;
}
ul .panel .panel-heading h2 {
  padding: 0 !important;
}
.panel .panel-heading .panel-ctrls {
  width: auto;
  float: right;
  padding: 0;
  margin: 0;
  line-height: 0;
 
}
.panel .panel-heading .panel-ctrls .button-icon,
.panel .panel-heading .panel-ctrls .dropdown {
  float: right;
  position: relative;
  text-align: center;
  cursor: pointer;
}
.panel .panel-heading .panel-ctrls .button-icon:hover,
.panel .panel-heading .panel-ctrls .dropdown:hover {
  text-decoration: none;
}
.panel .panel-heading .panel-ctrls .button-icon:first-child,
.panel .panel-heading .panel-ctrls .dropdown:first-child {
  margin-right: 0;
}
.panel .panel-heading .panel-ctrls .button-icon.custom-icon,
.panel .panel-heading .panel-ctrls .dropdown.custom-icon {
  float: left;
}
.panel .panel-heading .panel-loader {
  float: right;
  background-repeat: no-repeat;
  background-position: center center;
  display: none;
}
.panel .panel-heading:empty {
  border-width: 0;
  height: 2px;
}
.panel .panel-heading .nav > li > a:hover,
.panel .panel-heading .nav > li > a:focus {
  background: none;
}
.panel .panel-heading .nav-tabs {
  float: right;
  margin-top: 0;
  border-bottom: none;
}
.panel .panel-heading .nav-tabs li i {
  margin: 0 !important;
}
.panel .panel-heading .nav-tabs li.open > a,
.panel .panel-heading .nav-tabs li.open > a:hover,
.panel .panel-heading .nav-tabs li.open > a:focus,
.panel .panel-heading .nav-tabs li.open > a:active,
.panel .panel-heading .nav-tabs li.open > a:visited {
  z-index: 4;
}
.panel .panel-heading .nav-tabs li.open .dropdown-menu,
.panel .panel-heading .nav-tabs li.open .dropdown-menu:focus,
.panel .panel-heading .nav-tabs li.open .tt-dropdown-menu,
.panel .panel-heading .nav-tabs li.open .tt-dropdown-menu:focus {
  z-index: 3;
}
.panel .collapsed .panel-heading {
  border-radius: 2px;
}
.panel .panel-body {
  /*width: 100%*;*/
  position: relative;
}
.panel .panel-body.no-padding {
  padding: 0px;
}
.panel .panel-body.no-padding > table {
  margin: 0;
}
.panel .panel-body.no-padding > .table-responsive {
  margin: 0;
  border: 0;
}
.panel .panel-scroll {
  overflow-y: scroll;
}
.panel .panel-scroll::-webkit-scrollbar {
  width: 6px;
}
.panel .panel-scroll::-webkit-scrollbar-thumb {
  background-color: #c4c4c4;
  border-radius: 0;
}
.panel .panel-scroll::-webkit-scrollbar-thumb:hover {
  background-color: #c4c4c4;
}
.panel .panel-scroll::-webkit-scrollbar-track {
  background-color: #ededed;
}
.panel,
.panel .panel-body {
  border-radius: 2px;
}
.panel .panel-heading {
  border-top-right-radius: 2px;
  border-top-left-radius: 2px;
}
.panel .panel-heading + .panel-body,
.panel .panel-editbox + .panel-body {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
}
.panel.panel-collapsed .panel-heading {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel.panel-collapsed.editbox-open .panel-editbox {
  border-bottom: none;
}
.panel.editbox-open .panel-heading {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel .panel-footer.no-padding {
  padding: 0px;
}
.panel {
  background-color: #fafafa;
  box-shadow: 0 1px 3px 0px rgba(0, 0, 0, 0.2);
  border-radius: 2px;
  background-color: #fff;
  margin: 0 0 20px 6px;
}
.panel .panel-heading {
  color: #9e9e9e;
  background-color: #fafafa;
  padding: 0px 16px 0px 16px;
  line-height: 48px;
   height:40px;
}
.panel .panel-heading h2 {
  color: #9e9e9e;
  font-size: 14px;
  font-weight: 700;
  padding: 10px 0 0px;
  margin: 0;
  line-height: 20px;
  text-transform: uppercase;
}
.panel .panel-heading h2 i {
  margin-right: 8px;
}
.panel .panel-heading h2 i.separator {
  height: 32px;
  width: 1px;
  display: inline-block;
  margin: 8px 16px;
}
.panel .panel-heading .panel-ctrls {
  margin-right: -8px;
}
.panel .panel-heading .panel-ctrls i.separator {
  height: 32px;
  width: 1px;
  display: inline-block;
  margin: 8px 16px;
}
.panel .panel-heading .panel-ctrls .button-icon {
  margin: 8px 0;
  line-height: 16px;
  padding: 8px 0;
  width: 32px;
  height: 32px;
  border-radius: 50%;
}
.panel .panel-heading .panel-ctrls .button-icon.btn {
  margin: 8px 0;
}
.panel .panel-heading .panel-loader {
  width: 14px;
  height: 14px;
  margin: 17px 0px 0px 0px;
}
.panel .panel-body {
  background-color: #fff;
  font-size: 14px;
  padding: 2px;
}
.panel .panel-body.no-padding .alert {
  margin: 32px !important;
}
.panel .panel-body.panel-tb-padding {
  padding: 16px 0px;
}
.panel .panel-body.panel-lr-padding {
  padding: 0 16px;
}
.panel .panel-body.scroll-pane > .scroll-content {
  padding: 16px;
}
.panel .panel-footer {
  padding: 16px;
  background-color: #fafafa;
  border-radius: 0 0 2px 2px;
}
.panel.ui-sortable-helper {
  -webkit-transform: rotate(1deg);
  -ms-transform: rotate(1deg);
  -o-transform: rotate(1deg);
  transform: rotate(1deg);
}
.panel-placeholder {
  border-radius: 2px;
  margin-bottom: 32px;
  padding: 0;
  background-color: #eeeeee;
  border: 2px dashed #e0e0e0;
}
.panel .panel-heading .nav-tabs li {
  margin-bottom: 0;
}
.panel .panel-heading .nav-tabs li a {
  border: none;
  color: #9e9e9e;
  font-weight: 700;
  padding: 0 16px;
  line-height: 48px;
  border-radius: 0;
}
.panel .panel-heading .nav-tabs li:hover a {
  color: #212121;
  background: none;
}
.panel .panel-heading .nav-tabs li.active a {
  background: #fff;
  font-weight: 700;
  color: #212121;
  box-shadow: none;
}
.panel .panel-heading .nav-tabs li.active > a {
  color: #212121 !important;
}
.panel .panel-heading .nav-tabs li.active:hover > a {
  color: #212121 !important;
  background: #fff;
}
.panel .panel-heading h2 > ul.nav-tabs {
  margin: -14px 0px -14px -16px;
}
.panel .panel-heading h2 > ul.nav-tabs > li > a {
  padding: 0 16px;
}
.panel .panel-heading h2 > ul.nav-tabs li.active a {
  font-weight: 700 !important;
}
.panel .panel-heading h2 > ul.nav-tabs li.tabdrop + li > a {
  border-top-left-radius: 2px;
}
.panel .panel-heading li.tabdrop a {
  border-top-left-radius: 0 !important;
  border-top-right-radius: 0 !important;
}
.panel .panel-heading li.tabdrop ul a {
  padding: 6px 16px !important;
  line-height: 1.45 !important;
  font-weight: normal !important;
}
.panel .panel-heading li.tabdrop.active a {
  box-shadow: none;
}
.panel .panel-heading li.tabdrop.open > a,
.panel .panel-heading li.tabdrop.open > a:hover,
.panel .panel-heading li.tabdrop.open > a:focus,
.panel .panel-heading li.tabdrop.open > a:active,
.panel .panel-heading li.tabdrop.open > a:visited,
.panel .panel-heading li.tabdrop.open a,
.panel .panel-heading li.tabdrop.open a:hover {
  color: #212121 !important;
  background: #fff !important;
}
.panel .panel-heading li.tabdrop.open a {
  color: #9e9e9e !important;
  font-weight: 700 !important;
}
.panel .panel-heading li.tabdrop.open a:hover,
.panel .panel-heading li.tabdrop.open a:focus,
.panel .panel-heading li.tabdrop.open a:active {
  color: #212121;
  background: #f5f5f5;
}
.panel .panel-heading li.tabdrop.open .active a {
  color: #212121 !important;
}
.panel.panel-inverse {
  border-color: #757575;
}
.panel.panel-inverse .panel-heading {
  color: #fafafa;
  background-color: #757575;
  border-color: #757575;
}
.panel.panel-inverse .panel-heading h2 {
  color: #fafafa;
}
.panel.panel-inverse .panel-heading h2 i.separator {
  background-color: rgba(250, 250, 250, 0.125);
}
.panel.panel-inverse .panel-heading .panel-ctrls .button-icon {
  color: rgba(250, 250, 250, 0.5);
}
.panel.panel-inverse .panel-heading .panel-ctrls .button-icon:hover {
  color: #fafafa;
  background-color: rgba(250, 250, 250, 0.125);
}
.panel.panel-inverse .panel-heading .panel-ctrls i.separator {
  background-color: rgba(250, 250, 250, 0.125);
}
.panel.panel-inverse .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-inverse .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-primary {
  border-color: #039be5;
}
.panel.panel-primary .panel-heading {
  color: #e1f5fe;
  background-color: #03a9f4;
  border-color: #039be5;
}
.panel.panel-primary .panel-heading h2 {
  color: #e1f5fe;
}
.panel.panel-primary .panel-heading h2 i.separator {
  background-color: rgba(225, 245, 254, 0.125);
}
.panel.panel-primary .panel-heading .panel-ctrls .button-icon {
  color: rgba(225, 245, 254, 0.5);
}
.panel.panel-primary .panel-heading .panel-ctrls .button-icon:hover {
  color: #e1f5fe;
  background-color: rgba(225, 245, 254, 0.125);
}
.panel.panel-primary .panel-heading .panel-ctrls i.separator {
  background-color: rgba(225, 245, 254, 0.125);
}
.panel.panel-primary .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-primary .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-success {
  border-color: #7cb342;
}
.panel.panel-success .panel-heading {
  color: #f1f8e9;
  background-color: #8bc34a;
  border-color: #7cb342;
}
.panel.panel-success .panel-heading h2 {
  color: #f1f8e9;
}
.panel.panel-success .panel-heading h2 i.separator {
  background-color: rgba(241, 248, 233, 0.125);
}
.panel.panel-success .panel-heading .panel-ctrls .button-icon {
  color: rgba(241, 248, 233, 0.5);
}
.panel.panel-success .panel-heading .panel-ctrls .button-icon:hover {
  color: #f1f8e9;
  background-color: rgba(241, 248, 233, 0.125);
}
.panel.panel-success .panel-heading .panel-ctrls i.separator {
  background-color: rgba(241, 248, 233, 0.125);
}
.panel.panel-success .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-success .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-warning {
  border-color: #fdd835;
}
.panel.panel-warning .panel-heading {
  color: #fffde7;
  background-color: #ffc107;
  border-color: #fdd835;
}
.panel.panel-warning .panel-heading h2 {
  color: #fffde7;
}
.panel.panel-warning .panel-heading h2 i.separator {
  background-color: rgba(255, 253, 231, 0.125);
}
.panel.panel-warning .panel-heading .panel-ctrls .button-icon {
  color: rgba(255, 253, 231, 0.5);
}
.panel.panel-warning .panel-heading .panel-ctrls .button-icon:hover {
  color: #fffde7;
  background-color: rgba(255, 253, 231, 0.125);
}
.panel.panel-warning .panel-heading .panel-ctrls i.separator {
  background-color: rgba(255, 253, 231, 0.125);
}
.panel.panel-warning .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-warning .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-danger {
  border-color: #dd191d;
}
.panel.panel-danger .panel-heading {
  color: #fde0dc;
  background-color: #e51c23;
  border-color: #dd191d;
}
.panel.panel-danger .panel-heading h2 {
  color: #fde0dc;
}
.panel.panel-danger .panel-heading h2 i.separator {
  background-color: rgba(253, 224, 220, 0.125);
}
.panel.panel-danger .panel-heading .panel-ctrls .button-icon {
  color: rgba(253, 224, 220, 0.5);
}
.panel.panel-danger .panel-heading .panel-ctrls .button-icon:hover {
  color: #fde0dc;
  background-color: rgba(253, 224, 220, 0.125);
}
.panel.panel-danger .panel-heading .panel-ctrls i.separator {
  background-color: rgba(253, 224, 220, 0.125);
}
.panel.panel-danger .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-danger .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-info {
  border-color: #00acc1;
}
.panel.panel-info .panel-heading {
  color: #e0f7fa;
  background-color: #00bcd4;
  border-color: #00acc1;
}
.panel.panel-info .panel-heading h2 {
  color: #e0f7fa;
}
.panel.panel-info .panel-heading h2 i.separator {
  background-color: rgba(224, 247, 250, 0.125);
}
.panel.panel-info .panel-heading .panel-ctrls .button-icon {
  color: rgba(224, 247, 250, 0.5);
}
.panel.panel-info .panel-heading .panel-ctrls .button-icon:hover {
  color: #e0f7fa;
  background-color: rgba(224, 247, 250, 0.125);
}
.panel.panel-info .panel-heading .panel-ctrls i.separator {
  background-color: rgba(224, 247, 250, 0.125);
}
.panel.panel-info .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-info .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-brown {
  border-color: #6d4c41;
}
.panel.panel-brown .panel-heading {
  color: #efebe9;
  background-color: #795548;
  border-color: #6d4c41;
}
.panel.panel-brown .panel-heading h2 {
  color: #efebe9;
}
.panel.panel-brown .panel-heading h2 i.separator {
  background-color: rgba(239, 235, 233, 0.125);
}
.panel.panel-brown .panel-heading .panel-ctrls .button-icon {
  color: rgba(239, 235, 233, 0.5);
}
.panel.panel-brown .panel-heading .panel-ctrls .button-icon:hover {
  color: #efebe9;
  background-color: rgba(239, 235, 233, 0.125);
}
.panel.panel-brown .panel-heading .panel-ctrls i.separator {
  background-color: rgba(239, 235, 233, 0.125);
}
.panel.panel-brown .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-brown .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-indigo {
  border-color: #3949ab;
}
.panel.panel-indigo .panel-heading {
  color: #e8eaf6;
  background-color: #3f51b5;
  border-color: #3949ab;
}
.panel.panel-indigo .panel-heading h2 {
  color: #e8eaf6;
}
.panel.panel-indigo .panel-heading h2 i.separator {
  background-color: rgba(232, 234, 246, 0.125);
}
.panel.panel-indigo .panel-heading .panel-ctrls .button-icon {
  color: rgba(232, 234, 246, 0.5);
}
.panel.panel-indigo .panel-heading .panel-ctrls .button-icon:hover {
  color: #e8eaf6;
  background-color: rgba(232, 234, 246, 0.125);
}
.panel.panel-indigo .panel-heading .panel-ctrls i.separator {
  background-color: rgba(232, 234, 246, 0.125);
}
.panel.panel-indigo .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-indigo .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-orange {
  border-color: #fb8c00;
}
.panel.panel-orange .panel-heading {
  color: #fff3e0;
  background-color: #ff9800;
  border-color: #fb8c00;
}
.panel.panel-orange .panel-heading h2 {
  color: #fff3e0;
}
.panel.panel-orange .panel-heading h2 i.separator {
  background-color: rgba(255, 243, 224, 0.125);
}
.panel.panel-orange .panel-heading .panel-ctrls .button-icon {
  color: rgba(255, 243, 224, 0.5);
}
.panel.panel-orange .panel-heading .panel-ctrls .button-icon:hover {
  color: #fff3e0;
  background-color: rgba(255, 243, 224, 0.125);
}
.panel.panel-orange .panel-heading .panel-ctrls i.separator {
  background-color: rgba(255, 243, 224, 0.125);
}
.panel.panel-orange .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-orange .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-midnightblue {
  border-color: #263238;
}
.panel.panel-midnightblue .panel-heading {
  color: #eceff1;
  background-color: #37474f;
  border-color: #263238;
}
.panel.panel-midnightblue .panel-heading h2 {
  color: #eceff1;
}
.panel.panel-midnightblue .panel-heading h2 i.separator {
  background-color: rgba(236, 239, 241, 0.125);
}
.panel.panel-midnightblue .panel-heading .panel-ctrls .button-icon {
  color: rgba(236, 239, 241, 0.5);
}
.panel.panel-midnightblue .panel-heading .panel-ctrls .button-icon:hover {
  color: #eceff1;
  background-color: rgba(236, 239, 241, 0.125);
}
.panel.panel-midnightblue .panel-heading .panel-ctrls i.separator {
  background-color: rgba(236, 239, 241, 0.125);
}
.panel.panel-midnightblue .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-midnightblue .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-teal {
  border-color: #009688;
}
.panel.panel-teal .panel-heading {
  color: #e0f2f1;
  background-color: #009688;
  border-color: #009688;
}
.panel.panel-teal .panel-heading h2 {
  color: #e0f2f1;
}
.panel.panel-teal .panel-heading h2 i.separator {
  background-color: rgba(224, 242, 241, 0.125);
}
.panel.panel-teal .panel-heading .panel-ctrls .button-icon {
  color: rgba(224, 242, 241, 0.5);
}
.panel.panel-teal .panel-heading .panel-ctrls .button-icon:hover {
  color: #e0f2f1;
  background-color: rgba(224, 242, 241, 0.125);
}
.panel.panel-teal .panel-heading .panel-ctrls i.separator {
  background-color: rgba(224, 242, 241, 0.125);
}
.panel.panel-teal .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-teal .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-pink {
  border-color: #e91e63;
}
.panel.panel-pink .panel-heading {
  color: #fce4ec;
  background-color: #e91e63;
  border-color: #e91e63;
}
.panel.panel-pink .panel-heading h2 {
  color: #fce4ec;
}
.panel.panel-pink .panel-heading h2 i.separator {
  background-color: rgba(252, 228, 236, 0.125);
}
.panel.panel-pink .panel-heading .panel-ctrls .button-icon {
  color: rgba(252, 228, 236, 0.5);
}
.panel.panel-pink .panel-heading .panel-ctrls .button-icon:hover {
  color: #fce4ec;
  background-color: rgba(252, 228, 236, 0.125);
}
.panel.panel-pink .panel-heading .panel-ctrls i.separator {
  background-color: rgba(252, 228, 236, 0.125);
}
.panel.panel-pink .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-pink .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-purple {
  border-color: #9c27b0;
}
.panel.panel-purple .panel-heading {
  color: #f3e5f5;
  background-color: #9c27b0;
  border-color: #9c27b0;
}
.panel.panel-purple .panel-heading h2 {
  color: #f3e5f5;
}
.panel.panel-purple .panel-heading h2 i.separator {
  background-color: rgba(243, 229, 245, 0.125);
}
.panel.panel-purple .panel-heading .panel-ctrls .button-icon {
  color: rgba(243, 229, 245, 0.5);
}
.panel.panel-purple .panel-heading .panel-ctrls .button-icon:hover {
  color: #f3e5f5;
  background-color: rgba(243, 229, 245, 0.125);
}
.panel.panel-purple .panel-heading .panel-ctrls i.separator {
  background-color: rgba(243, 229, 245, 0.125);
}
.panel.panel-purple .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-purple .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-green {
  border-color: #4caf50;
}
.panel.panel-green .panel-heading {
  color: #e8f5e9;
  background-color: #4caf50;
  border-color: #4caf50;
}
.panel.panel-green .panel-heading h2 {
  color: #e8f5e9;
}
.panel.panel-green .panel-heading h2 i.separator {
  background-color: rgba(232, 245, 233, 0.125);
}
.panel.panel-green .panel-heading .panel-ctrls .button-icon {
  color: rgba(232, 245, 233, 0.5);
}
.panel.panel-green .panel-heading .panel-ctrls .button-icon:hover {
  color: #e8f5e9;
  background-color: rgba(232, 245, 233, 0.125);
}
.panel.panel-green .panel-heading .panel-ctrls i.separator {
  background-color: rgba(232, 245, 233, 0.125);
}
.panel.panel-green .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-green .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-lime {
  border-color: #cddc39;
}
.panel.panel-lime .panel-heading {
  color: #f9fbe7;
  background-color: #cddc39;
  border-color: #cddc39;
}
.panel.panel-lime .panel-heading h2 {
  color: #f9fbe7;
}
.panel.panel-lime .panel-heading h2 i.separator {
  background-color: rgba(249, 251, 231, 0.125);
}
.panel.panel-lime .panel-heading .panel-ctrls .button-icon {
  color: rgba(249, 251, 231, 0.5);
}
.panel.panel-lime .panel-heading .panel-ctrls .button-icon:hover {
  color: #f9fbe7;
  background-color: rgba(249, 251, 231, 0.125);
}
.panel.panel-lime .panel-heading .panel-ctrls i.separator {
  background-color: rgba(249, 251, 231, 0.125);
}
.panel.panel-lime .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-lime .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-bluegray,
.panel.panel-realtime-alt {
  border-color: #607d8b;
}
.panel.panel-bluegray .panel-heading,
.panel.panel-realtime-alt .panel-heading {
  color: #eceff1;
  background-color: #607d8b;
  border-color: #607d8b;
}
.panel.panel-bluegray .panel-heading h2,
.panel.panel-realtime-alt .panel-heading h2 {
  color: #eceff1;
}
.panel.panel-bluegray .panel-heading h2 i.separator,
.panel.panel-realtime-alt .panel-heading h2 i.separator {
  background-color: rgba(236, 239, 241, 0.125);
}
.panel.panel-bluegray .panel-heading .panel-ctrls .button-icon,
.panel.panel-realtime-alt .panel-heading .panel-ctrls .button-icon {
  color: rgba(236, 239, 241, 0.5);
}
.panel.panel-bluegray .panel-heading .panel-ctrls .button-icon:hover,
.panel.panel-realtime-alt .panel-heading .panel-ctrls .button-icon:hover {
  color: #eceff1;
  background-color: rgba(236, 239, 241, 0.125);
}
.panel.panel-bluegray .panel-heading .panel-ctrls i.separator,
.panel.panel-realtime-alt .panel-heading .panel-ctrls i.separator {
  background-color: rgba(236, 239, 241, 0.125);
}
.panel.panel-bluegray .panel-heading .nav-tabs li > a,
.panel.panel-realtime-alt .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-bluegray .panel-heading .nav-tabs li:hover > a,
.panel.panel-realtime-alt .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-bluegraylight {
  border-color: #eceff1;
}
.panel.panel-bluegraylight .panel-heading {
  color: #607d8b;
  background-color: #eceff1;
  border-color: #eceff1;
}
.panel.panel-bluegraylight .panel-heading h2 {
  color: #607d8b;
}
.panel.panel-bluegraylight .panel-heading h2 i.separator {
  background-color: rgba(96, 125, 139, 0.125);
}
.panel.panel-bluegraylight .panel-heading .panel-ctrls .button-icon {
  color: rgba(96, 125, 139, 0.5);
}
.panel.panel-bluegraylight .panel-heading .panel-ctrls .button-icon:hover {
  color: #607d8b;
  background-color: rgba(96, 125, 139, 0.125);
}
.panel.panel-bluegraylight .panel-heading .panel-ctrls i.separator {
  background-color: rgba(96, 125, 139, 0.125);
}
.panel.panel-bluegraylight .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-bluegraylight .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-deeppurple {
  border-color: #673ab7;
}
.panel.panel-deeppurple .panel-heading {
  color: #ede7f6;
  background-color: #673ab7;
  border-color: #673ab7;
}
.panel.panel-deeppurple .panel-heading h2 {
  color: #ede7f6;
}
.panel.panel-deeppurple .panel-heading h2 i.separator {
  background-color: rgba(237, 231, 246, 0.125);
}
.panel.panel-deeppurple .panel-heading .panel-ctrls .button-icon {
  color: rgba(237, 231, 246, 0.5);
}
.panel.panel-deeppurple .panel-heading .panel-ctrls .button-icon:hover {
  color: #ede7f6;
  background-color: rgba(237, 231, 246, 0.125);
}
.panel.panel-deeppurple .panel-heading .panel-ctrls i.separator {
  background-color: rgba(237, 231, 246, 0.125);
}
.panel.panel-deeppurple .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-deeppurple .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-yellow {
  border-color: #ffeb3b;
}
.panel.panel-yellow .panel-heading {
  color: #f57f17;
  background-color: #ffeb3b;
  border-color: #ffeb3b;
}
.panel.panel-yellow .panel-heading h2 {
  color: #f57f17;
}
.panel.panel-yellow .panel-heading h2 i.separator {
  background-color: rgba(245, 127, 23, 0.125);
}
.panel.panel-yellow .panel-heading .panel-ctrls .button-icon {
  color: rgba(245, 127, 23, 0.5);
}
.panel.panel-yellow .panel-heading .panel-ctrls .button-icon:hover {
  color: #f57f17;
  background-color: rgba(245, 127, 23, 0.125);
}
.panel.panel-yellow .panel-heading .panel-ctrls i.separator {
  background-color: rgba(245, 127, 23, 0.125);
}
.panel.panel-yellow .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-yellow .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-deeporange {
  border-color: #ff5722;
}
.panel.panel-deeporange .panel-heading {
  color: #fbe9e7;
  background-color: #ff5722;
  border-color: #ff5722;
}
.panel.panel-deeporange .panel-heading h2 {
  color: #fbe9e7;
}
.panel.panel-deeporange .panel-heading h2 i.separator {
  background-color: rgba(251, 233, 231, 0.125);
}
.panel.panel-deeporange .panel-heading .panel-ctrls .button-icon {
  color: rgba(251, 233, 231, 0.5);
}
.panel.panel-deeporange .panel-heading .panel-ctrls .button-icon:hover {
  color: #fbe9e7;
  background-color: rgba(251, 233, 231, 0.125);
}
.panel.panel-deeporange .panel-heading .panel-ctrls i.separator {
  background-color: rgba(251, 233, 231, 0.125);
}
.panel.panel-deeporange .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-deeporange .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-blue {
  border-color: #2196f3;
}
.panel.panel-blue .panel-heading {
  color: #e3f2fd;
  background-color: #2196f3;
  border-color: #2196f3;
}
.panel.panel-blue .panel-heading h2 {
  color: #e3f2fd;
}
.panel.panel-blue .panel-heading h2 i.separator {
  background-color: rgba(227, 242, 253, 0.125);
}
.panel.panel-blue .panel-heading .panel-ctrls .button-icon {
  color: rgba(227, 242, 253, 0.5);
}
.panel.panel-blue .panel-heading .panel-ctrls .button-icon:hover {
  color: #e3f2fd;
  background-color: rgba(227, 242, 253, 0.125);
}
.panel.panel-blue .panel-heading .panel-ctrls i.separator {
  background-color: rgba(227, 242, 253, 0.125);
}
.panel.panel-blue .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-blue .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-indigo {
  border-color: #3f51b5;
}
.panel.panel-indigo .panel-heading {
  color: #e8eaf6;
  background-color: #3f51b5;
  border-color: #3f51b5;
}
.panel.panel-indigo .panel-heading h2 {
  color: #e8eaf6;
}
.panel.panel-indigo .panel-heading h2 i.separator {
  background-color: rgba(232, 234, 246, 0.125);
}
.panel.panel-indigo .panel-heading .panel-ctrls .button-icon {
  color: rgba(232, 234, 246, 0.5);
}
.panel.panel-indigo .panel-heading .panel-ctrls .button-icon:hover {
  color: #e8eaf6;
  background-color: rgba(232, 234, 246, 0.125);
}
.panel.panel-indigo .panel-heading .panel-ctrls i.separator {
  background-color: rgba(232, 234, 246, 0.125);
}
.panel.panel-indigo .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-indigo .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-pink {
  border-color: #e91e63;
}
.panel.panel-pink .panel-heading {
  color: #fce4ec;
  background-color: #e91e63;
  border-color: #e91e63;
}
.panel.panel-pink .panel-heading h2 {
  color: #fce4ec;
}
.panel.panel-pink .panel-heading h2 i.separator {
  background-color: rgba(252, 228, 236, 0.125);
}
.panel.panel-pink .panel-heading .panel-ctrls .button-icon {
  color: rgba(252, 228, 236, 0.5);
}
.panel.panel-pink .panel-heading .panel-ctrls .button-icon:hover {
  color: #fce4ec;
  background-color: rgba(252, 228, 236, 0.125);
}
.panel.panel-pink .panel-heading .panel-ctrls i.separator {
  background-color: rgba(252, 228, 236, 0.125);
}
.panel.panel-pink .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-pink .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-black {
  border-color: #212121;
}
.panel.panel-black .panel-heading {
  color: #fafafa;
  background-color: #212121;
  border-color: #212121;
}
.panel.panel-black .panel-heading h2 {
  color: #fafafa;
}
.panel.panel-black .panel-heading h2 i.separator {
  background-color: rgba(250, 250, 250, 0.125);
}
.panel.panel-black .panel-heading .panel-ctrls .button-icon {
  color: rgba(250, 250, 250, 0.5);
}
.panel.panel-black .panel-heading .panel-ctrls .button-icon:hover {
  color: #fafafa;
  background-color: rgba(250, 250, 250, 0.125);
}
.panel.panel-black .panel-heading .panel-ctrls i.separator {
  background-color: rgba(250, 250, 250, 0.125);
}
.panel.panel-black .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-black .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-gray {
  border-color: #9e9e9e;
}
.panel.panel-gray .panel-heading {
  color: #fafafa;
  background-color: #9e9e9e;
  border-color: #9e9e9e;
}
.panel.panel-gray .panel-heading h2 {
  color: #fafafa;
}
.panel.panel-gray .panel-heading h2 i.separator {
  background-color: rgba(250, 250, 250, 0.125);
}
.panel.panel-gray .panel-heading .panel-ctrls .button-icon {
  color: rgba(250, 250, 250, 0.5);
}
.panel.panel-gray .panel-heading .panel-ctrls .button-icon:hover {
  color: #fafafa;
  background-color: rgba(250, 250, 250, 0.125);
}
.panel.panel-gray .panel-heading .panel-ctrls i.separator {
  background-color: rgba(250, 250, 250, 0.125);
}
.panel.panel-gray .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-gray .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-default {
  border-color: #fafafa;
}
.panel.panel-default .panel-heading {
  color: #9e9e9e;
  background-color: #fafafa;
  border-color: #fafafa;
}
.panel.panel-default .panel-heading h2 {
  color: #9e9e9e;
}
.panel.panel-default .panel-heading h2 i.separator {
  background-color: rgba(158, 158, 158, 0.125);
}
.panel.panel-default .panel-heading .panel-ctrls .button-icon {
  color: rgba(158, 158, 158, 0.5);
}
.panel.panel-default .panel-heading .panel-ctrls .button-icon:hover {
  color: #9e9e9e;
  background-color: rgba(158, 158, 158, 0.125);
}
.panel.panel-default .panel-heading .panel-ctrls i.separator {
  background-color: rgba(158, 158, 158, 0.125);
}
.panel.panel-default .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-default .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-white,
.panel.panel-realtime {
  border-color: #ffffff;
}
.panel.panel-white .panel-heading,
.panel.panel-realtime .panel-heading {
  color: #9e9e9e;
  background-color: #ffffff;
  border-color: #ffffff;
}
.panel.panel-white .panel-heading h2,
.panel.panel-realtime .panel-heading h2 {
  color: #9e9e9e;
}
.panel.panel-white .panel-heading h2 i.separator,
.panel.panel-realtime .panel-heading h2 i.separator {
  background-color: rgba(158, 158, 158, 0.125);
}
.panel.panel-white .panel-heading .panel-ctrls .button-icon,
.panel.panel-realtime .panel-heading .panel-ctrls .button-icon {
  color: rgba(158, 158, 158, 0.5);
}
.panel.panel-white .panel-heading .panel-ctrls .button-icon:hover,
.panel.panel-realtime .panel-heading .panel-ctrls .button-icon:hover {
  color: #9e9e9e;
  background-color: rgba(158, 158, 158, 0.125);
}
.panel.panel-white .panel-heading .panel-ctrls i.separator,
.panel.panel-realtime .panel-heading .panel-ctrls i.separator {
  background-color: rgba(158, 158, 158, 0.125);
}
.panel.panel-white .panel-heading .nav-tabs li > a,
.panel.panel-realtime .panel-heading .nav-tabs li > a {
  color: rgba(255, 255, 255, 0.5);
}
.panel.panel-white .panel-heading .nav-tabs li:hover > a,
.panel.panel-realtime .panel-heading .nav-tabs li:hover > a {
  color: #ffffff;
}
.panel.panel-transparent {
  background-color: transparent !important;
  box-shadow: none !important;
}
.panel.panel-transparent .panel-heading {
  background-color: transparent !important;
}
.panel.panel-transparent .panel-heading .nav-tabs li a {
  border-radius: 24px !important;
}
.panel.panel-transparent .panel-body {
  background-color: transparent !important;
}
.panel.panel-default .panel-heading .nav-tabs li a,
.panel.panel-white .panel-heading .nav-tabs li a,
.panel.panel-realtime .panel-heading .nav-tabs li a {
  color: #9e9e9e;
}
.panel.panel-default .panel-heading .nav-tabs li:hover a,
.panel.panel-white .panel-heading .nav-tabs li:hover a,
.panel.panel-realtime .panel-heading .nav-tabs li:hover a {
  color: #212121;
}
.panel.panel-default .panel-heading .nav-tabs li.active a,
.panel.panel-white .panel-heading .nav-tabs li.active a,
.panel.panel-realtime .panel-heading .nav-tabs li.active a {
  background: #fff;
  color: #212121;
}
.panel.panel-default .panel-heading .nav-tabs li.active:hover > a,
.panel.panel-white .panel-heading .nav-tabs li.active:hover > a,
.panel.panel-realtime .panel-heading .nav-tabs li.active:hover > a {
  background: #fff;
}
/* Helpers ----------- */
[data-widget]:not([data-widget-static]) .panel-heading {
  cursor: move;
}
.panel-group {
  margin-bottom: 32px;
  position: relative;
}
.panel-group > .panel {
  margin-bottom: 0;
  padding-bottom: 0;
  border-radius: 2px;
  overflow: hidden;
}
.panel-group > .panel .panel-body {
  border-top-right-radius: 0;
  border-top-left-radius: 0;
  margin-top: 0;
}
.panel-group .panel + .panel {
  margin-top: 16px;
}
.panel-group .panel-heading a:after {
  font-family: 'FontAwesome';
  content: "\f107";
  float: right;
  color: grey;
}
.panel-group .panel-heading a.collapsed:after {
  content: "\f104";
}
.blockLoader {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-color: #000000;
  background-color: rgba(0, 0, 0, 0.7);
  zoom: 1;
  background-color: transparent\9;
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3000000, endColorstr=#b3000000)";
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr=#b3000000, endColorstr=#b3000000);
}
.panel-toolbar-editbox.panel-collapsed .panel-heading,
.panel-toolbar-colorbox.panel-collapsed .panel-heading {
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.panel-editbox {
  padding: 16px;
  display: none;
  position: absolute;
  z-index: 2;
  right: 40px;
  width: 176px;
  background-color: #ffffff;
  border-radius: 2px;
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.12);
}
.panel-editbox:before,
.panel-editbox:after {
  right: 8px;
}
.panel-collapsed .panel-editbox {
  border-bottom-right-radius: 2px;
  border-bottom-left-radius: 2px;
}
.panel-color-list {
  padding: 16px !important;
  text-align: left;
  margin: 0;
  font-size: 0;
  min-width: 176px;
  padding-left: 0;
  list-style: none;
  margin-left: -5px;
  -webkit-box-shadow: 0 4px 9px rgba(0, 0, 0, 0.12);
  box-shadow: 0 4px 9px rgba(0, 0, 0, 0.12);
}
.panel-color-list > li {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
}
.panel-color-list:before,
.panel-color-list:after {
  right: 8px !important;
}
.panel-color-list li {
  margin: 1px;
  padding: 0;
}
.panel-color-list li span {
  border-radius: 50%;
  display: block;
  height: 16px !important;
  width: 16px !important;
}
.panel-color-list li span:hover {
  cursor: pointer;
}
.panel-color-list.text-center {
  text-align: center;
}

