/*!
 * Age verification CSS to go with the JS that can be found at (https://github.com/Herudea/age-verification)
 */

#modal_screen {
	position: fixed;
	top:0;
	left: 0;
	height: 100%;
	width: 100%;
	z-index: 1100;
	background-color: rgba(0,0,0,.8);
}

#modal_screen.nope {
	background-color: #000; 
}

#modal_content {
    position: fixed;
    z-index: 1101;
    margin: 0 auto;
    font-size: 12px;
    width: 410px; /* if you adjust it from the original 290px, adjust the difference in the width of #modal_content nav too */
    height: 410px; /* if you adjust it from the original 290px, adjust the difference in the width of #modal_content nav too */
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -o-box-sizing: border-box;
    box-sizing: border-box;
    background-position: center 3em;
    background-repeat: no-repeat;
    background-size: 220px auto;
    /* background-image: url(/media/1250/hensol-castle-white.png); */
}

#modal_content .content_wrapper {
	padding-top: 3em;
	/* margin:3em auto 0; */
	text-align: center;
    color:#fff;
}

    #modal_content h2 {
        margin: 0 0 0 0;
        color: #fff;
    }

    #modal_content p {
        max-width: 75%;
        margin: 1.2em auto 0;
        color: #fff;
    }



#modal_content nav:after {
	content: "";
	display: block;
	clear: both;
}

#modal_content nav small {
	display: block;
	text-align: center;
	color: #888;
	margin: 1em 0 0;
}

#modal_content nav a.av_btn {

}

#modal_content nav .av_go {
}

#modal_content nav .av_no {
}

#modal_content nav .av_btn:hover {
}

#modal_content #modal_regret_wrapper nav a.av_btn {
}

.content_wrapper h2 {padding:40px 0;}

@media (min-width: 688px) {
    #modal_content {
		top: 10em;
		top: 30vh;
		left: 30vw;
		width: 90%;
		max-width: 500px;
		height:500px;
		padding:3em;
		border-radius: 100%;
		background-position: center 3em;
		background-size: 230px auto;
		font-size: 16px;
	}

	#modal_content .content_wrapper {
		padding-top: 100px;
		/*margin:3em auto 0;*/
		text-align: center;
	}

	#modal_content h2 {
		margin: 0 0 0 0;
		font-size: 2.4em;
	}

	#modal_content p {
		font-size: 1em;
		line-height: 1.9em;
	}

	#modal_content nav {width: 100%;}

	#modal_content nav a.av_btn {
		padding:1em 2.5em;
		margin:1.6em auto 0;
		font-size: 1em;
	}
}
