﻿/* Blog Macro */
ul.pagination {
    list-style-type: none;
}
.pagination li, .img-gallery img, .umb-editor-placeholder img {
    display: inline-block;
}
.pagination a {
    background:#0ff;
}
.blognormal img, .galleryimagelink img, .cd-image-container img, .img-gallery img, .umb-editor-placeholder img {
    max-width: 100px !important;
    max-height: 100px !important;
}