/*  CSS that applies to all elements
    ******************************** */

.none {
}

.center .image-container {
    text-align: center;
    margin: 0 auto;
}
/* Apply to a container that has a sub element with an image */

.center, .center .buttongroup {
    text-align: center;
    margin: 0 auto;
}
/* Centers all contents of current element ** REMOVED .display:block as it corrupts the layout */
.leftalign, .leftalign .buttongroup {
    text-align: left;
}
/* Left align all contents of current element  */
.rightalign, .rightalign .buttongroup {
    text-align: right;
}
/* Right align all content of current element */

.paddingsides {
    padding-left: 15px;
    padding-right: 15px;
}
/* To add edge gap for forms within a grid column */

.padding15 {
    padding: 15px 0;
}
/* Add padding top and bottom to current element */
.padding25 {
    padding: 25px 0;
}

.padding50 {
    padding: 50px 0;
}

.padding100 {
    padding: 100px 0;
}

.padding150 {
    padding: 150px 0;
}

.padding200 {
    padding: 200px 0;
}

.padding250 {
    padding: 250px 0;
}

.paddingtop25 {
    padding-top: 25px;
}
/* Add padding to top of current element */
.paddingtop50 {
    padding-top: 50px;
}

.paddingtop100 {
    padding-top: 100px;
}

.paddingtop150 {
    padding-top: 150px;
}

.paddingtop200 {
    padding-top: 200px;
}

.paddingtop250 {
    padding-top: 250px;
}

.paddingbottom25 {
    padding-bottom: 25px;
}
/* Add padding to bottom of current element */
.paddingbottom50 {
    padding-bottom: 50px;
}

.paddingbottom100 {
    padding-bottom: 100px;
}

.paddingbottom150 {
    padding-bottom: 150px;
}

.paddingbottom200 {
    padding-bottom: 200px;
}

.paddingbottom250 {
    padding-bottom: 250px;
}

.margin25 {
    margin: 25px 0;
}

.margin50 {
    margin: 50px 0;
}

.margin100 {
    margin: 100px 0;
}

.margin150 {
    margin: 150px 0;
}

.margin200 {
    margin: 200px 0;
}

.margin250 {
    margin: 250px 0;
}

.margintop25 {
    margin-top: 25px;
}

.margintop50 {
    margin-top: 50px;
}

.margintop100 {
    margin-top: 100px !important;
}

.margintop150 {
    margin-top: 150px;
}

.margintop200 {
    margin-top: 200px;
}

.margintop250 {
    margin-top: 250px;
}

.marginbottom25 {
    margin-bottom: 25px;
}

.marginbottom50 {
    margin-bottom: 50px;
}

.marginbottom100 {
    margin-bottom: 100px;
}

.marginbottom150 {
    margin-bottom: 150px;
}

.marginbottom200 {
    margin-bottom: 200px;
}

.marginbottom250 {
    margin-bottom: 250px;
}

.fontsmall p, .fontsmall span {
    font-size: 0.8em;
}

.fontnormal p, .fontnormal span {
    font-size: 1em;
}

.fontxlarge p, .fontxlarge span {
    font-size: 1.3em;
}

.fontxxlarge p, .fontxxlarge span {
    font-size: 1.6em;
}

.fontxxxlarge p, .fontxxxlarge span {
    font-size: 2em;
}

.borderbottom::after {
    display: inline-block;
    height: 3px;
    content: " ";
    width: 10%;
}
/* Add underline border */

.fullwidth > .container {
    max-width: 100%;
    width: 100%;
}
/* Make sub item in grid full width */

.fullwidth .col-md-12 {
    padding: 0 !important;
}

/* make image round in current element*/
.roundimage img {
    background-clip: padding-box;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 5px solid rgba(179,109,72,0.8);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}

.smallimage img {
    max-height: 400px;
    max-width: 400px;
    width: fit-content;
    margin: 0 auto;
    width: 100%;
}
/* Confine image width and height in  current element */

.skewed {
    transform: skew(0deg, -5deg);
}

    .skewed .container {
        transform: skew(0deg, 5deg);
    }

.oppositeskewed {
    transform: skew(0deg, 5deg);
}

    .oppositeskewed .container {
        transform: skew(0deg, -5deg);
    }

.smallimage img {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}

.textwidth400 {
    max-width: 450px;
    width: 100%;
    margin: 0 auto;
}

.inner700 .container {
    width: 100%;
    max-width: 700px;
    margin: 0 auto;
}

.width100 img {
    width: 100%;
    max-width: 100%;
    min-width: 100%;
}

/*  Background colours and gradients
    ******************************** */


.offsetbackground {
    margin: -100px 0 0 -20%;
    width: 140%;
}

    .offsetbackground .image-container, .backgroundcolortriangle img {
        background: linear-gradient(to top right, #ddd 0%, #ddd 50%, #ccc 50%, #ccc 100%);
    }

.backgroundcolortriangle h4 {
    margin: 20px;
}

.backgroundcolortriangle p {
    padding: 0 20px;
}

.backgroundcolortriangle .buttongroup {
    width: 100%;
}

.backgroundcolortriangle button.btn.btn-default {
    width: 100%;
}

.backgroundcolortriangle .buttongroup {
    padding: 0 20px;
}



.offsetbackgroundtop {
    margin: 50px 0 0 0;
}

    .offsetbackgroundtop img {
        margin: -50px 0 0 0;
    }

.offsetbackground p {
    padding: 25px;
    background: #ccc;
}



.backgroundwhite {
    background: #fff;
}

.backgroundcolourcopper {
    background: #BE8371;
    color: #fff;
}

.backgroundcolorblack {
    background: #000;
    color: #fff;
}

    .backgroundcolorblack .umbraco-forms-caption {
        color: #fff;
    }

    .backgroundcolorblack .umbraco-forms-form option, .backgroundcolorblack .umbraco-forms-form select {
        color: #666;
    }

.backgroundcolorgrey, .backgroundcolortriangle {
    background: rgba(200,200,200,0.8);
}

.backgroundcolordark {
    background: #BBD2C5; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #536976, #BBD2C5); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #536976, #BBD2C5); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroundcolorteal {
    background: #141E30; /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #F0F2F0, #141E30); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #F0F2F0, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroundcolorfadein {
    background: #000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000, #928DAB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000, #928DAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroundcolourblackvert {
    background: #000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000, #243B55, #928DAB); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000, #243B55, #928DAB); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroundcolourgreenvert {
    background: #000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000, #243B55, #237A57); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000, #243B55, #237A57); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroundcolourpurplevert {
    background: #000; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000, #243B55, #0b8793); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000, #243B55, #0b8793); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.backgroundcolourwhite {
    background-image: linear-gradient(120deg, #fdfbfb 0%, #ebedee 100%);
}

.backgroundcolorwhiteish {
    background-color: #DCD9D4;
    background-image: linear-gradient(to bottom, rgba(255,255,255,0.50) 0%, rgba(0,0,0,0.50) 100%), radial-gradient(at 50% 0%, rgba(255,255,255,0.10) 0%, rgba(0,0,0,0.50) 50%);
    background-blend-mode: soft-light,screen;
}

.bubbles {
    background: radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.15) 30%, rgba(255,255,255,.3) 32%, rgba(255,255,255,0) 33%) 0 0, radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.3) 13%, rgba(255,255,255,0) 14%) 0 0, radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 17%, rgba(255,255,255,.43) 19%, rgba(255,255,255,0) 20%) 0 110px, radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) -130px -170px, radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.2) 11%, rgba(255,255,255,.4) 13%, rgba(255,255,255,0) 14%) 130px 370px, radial-gradient(rgba(255,255,255,0) 0, rgba(255,255,255,.1) 11%, rgba(255,255,255,.2) 13%, rgba(255,255,255,0) 14%) 0 0, linear-gradient(to right, rgba(239,230,220,1) 0%, rgba(241,220,209,1) 100%);
    background-size: 470px 470px, 970px 970px, 410px 410px, 610px 610px, 530px 530px, 730px 730px, 100% 100%;
    background-color: #840b2a;
}


.featuredProducts {
    background: #403B4A; /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #000 0%, #330867 30%, #30cfd0 100%); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #000 0%, #330867 30%, #30cfd0 100%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

/* Inverted rounded corners */
.ss-style-invertedrounded {
    top: 100%;
    left: 0;
    z-index: 10;
    width: 100%;
    background: #ccc;
    color: #fff;
    text-align: center;
}




/*  Only applies to mobile devices up to 767px in width (average tablet size)
    ************************************************************************* */
@media only screen and (max-width: 768px) {

    .mobilehideme {
        display: none;
    }

    .ss-style-invertedrounded {
        border-radius: 170% 170% 10% 10%;
    }

    .textwidth400 {
        width: 100%;
        margin: 0 auto;
    }

    .centerme {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* Vertical Center for mobile */

    .centermobile, .centermobile .buttongroup {
        text-align: center !important;
        margin: 0 auto;
        display: block;
    }
    /* Normal center for mobile */

    .oppositemobile .row {
        display: inline-grid;
    }
    /* Collapse in a different order on mobile - only for top (row) level of grid, applies to sub columns */
    .oppositemobile .column:first-of-type {
        order: 2;
    }

    .oppositemobile .column:last-of-type {
        order: 1;
    }

    .oppositemobile .column .mobilefirst {
        order: 0;
    }

    .mobileorder {
        display: inline-grid;
    }
        /* Apply different order only on mobile view - applies to all child elements and assumes the last 'a' link to be displaid before other elements */
        .mobileorder h2, .mobileorder p, .mobileorder div {
            order: 1;
        }

        .mobileorder a:last-of-type {
            order: 0;
        }

    .mobilepadding15 {
        padding: 15px 0;
    }
    /* mobile only padding top and bottom */
    .mobilepadding25 {
        padding: 25px 0;
    }

    .mobilepadding50 {
        padding: 50px 0;
    }

    .mobilepaddingtop15 {
        padding-top: 15px;
    }

    .mobilepaddingtop25 {
        padding-top: 25px;
    }

    .mobilepaddingtop50 {
        padding-top: 50px;
    }

    .mobilepaddingbottom15 {
        padding-bottom: 15px;
    }

    .mobilepaddingbottom25 {
        padding-bottom: 25px;
    }

    .mobilepaddingbottom50 {
        padding-bottom: 50px;
    }
}



/*  Only applies to devices with minimum width of 767px in width (average laptop / desktop upwards)
    ********************************************************************************************** */


@media screen and (min-width: 768px) {

    .ss-style-invertedrounded {
        border-radius: 30%;
    }

    .centerme {
        padding-top: 20px;
        padding-bottom: 20px;
    }
    /* vertical Center for desktop only */

    .oppositedesktop .row {
        display: inline-grid;
    }
    /* Display in a different order for desktop */
    .oppositedesktop .column:first-of-type {
        order: 2;
    }

    .oppositedesktop .column:last-of-type {
        order: 1;
    }

    .desktoporder {
        display: inline-grid;
    }
        /* Apply different order only on desktop view - applies to all child elements and assumes the last 'a' link to be displaid before other elements */
        .desktoporder h2, .mobileorder p, .mobileorder div {
            order: 1;
        }

        .desktoporder a:last-of-type {
            order: 0;
        }

    .mobileonly {
        display: none !important;
    }
    /* Hide this element on desktop only */
}
