﻿/* ************************************************ **
** Variables (!)    ******************************* **
** ************************************************ */

:root {
    --main-backgroundcolor: #fff; /* Primary Background */
    --main-color: #000; /* Primary Foreground */
    --main-primarycolor: rgba(179,109,72,0.8); /* Main Primary Colour  #B57C63 */
    --main-primarycolor2: rgba(203,153,127,0.8); /* Main Primary but brighter */
    --main-primarycolor3: rgba(100,61,40,0.8); /* Main Primary but darker  */
    --main-width: 1400px;
    --gutter: 20px;
    --font-sizeHeading: calc(1.8rem + 2.8vh);
    --font-sizeLarge: calc(0.8rem + 2vh);
    --font-size: calc(0.8rem + 1.8vw);
    --font-sizeSmaller: calc(1rem + 1.0vw);
    --main-headercolor: rgba(141,100,75,1); /* rgba(199,221,230,1) */
    --main-headercolor2: rgba(141,100,75,0.8); /* rgba(199,221,230,0.8) */
}

/* ************************************************ */
/* Defaults         ******************************* */
/* ************************************************ */

/**
 * Fix fonts that render as bold in Firefox
 *
 * Put this near the top of your style.css
 * Before any overriding styles
 */
html {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
    font-weight: 300;
    -webkit-font-smoothing: subpixel-antialiased;
}

html, body {
    font-family: 'Montserrat', sans-serif;
    width: 100%;
    height: 100%;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    padding-right: 0 !important;
    box-sizing: border-box;
    background: var(--main-backgroundcolor);
    line-height: 24px;
    color: #444;
    -webkit-font-smoothing: antialiased;
    -webkit-font-smoothing: subpixel-antialiased;
    font-weight: 300;
}

body {
    animation: pageload .75s ease-in-out;
}

@keyframes pageload {
    0% {
        filter: opacity(0);
        filter: brightness(0);
    }

    100% {
        filter: opacity(1);
        filter: brightness(1);
    }
}

.headertext, .imageasboxoverlay .headertext {
    font-family: 'Oswald', sans-serif;
    line-height: 1.6em;
    -webkit-box-decoration-break: clone;
    display: inline;
    box-decoration-break: clone;
    padding: 0px 20px;
    color: #fff !important;
    text-transform: uppercase;
    background: rgba(0,0,0,0.8);
}

.headertextinverted {
    font-family: 'Oswald', sans-serif;
    line-height: 1.6em;
    -webkit-box-decoration-break: clone;
    display: inline;
    box-decoration-break: clone;
    padding: 0px 20px;
    color: #000 !important;
    text-transform: uppercase;
    background: rgba(255,255,255,0.8);
}

nav ul li span, nav span, .linkcollection a, .navbar-nav span, ul.sublevel.level-4 {
    font-family: 'Oswald', sans-serif;
}

.slidertext button {
    margin-top: 20px;
}

.slidertext p {
    padding: 10px 0 0 0;
}

.slidertext a {
    display: block;
}

label {
    margin: 0;
    font-size: 0.8em;
}

img {
    width: 100%;
}

a, a:hover, a:focus, a:active {
    text-decoration: none;
    outline: none;
}


.fa {
    font-size: 1.6em;
}

.socialblock {
    /* margin: 30px 0 0; Removed for spacing reasons - keep an eye just incase */
}

h1, h2, h3, h4, h5, h6 {
    font-weight: 300;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    /* These are so headings can sit flush with the tops of the next door element */
    padding: 0;
    margin: 0;
    -webkit-font-smoothing: antialiased;
}

p, span, strong {
    font-family: 'Montserrat', sans-serif;
    -webkit-font-smoothing: antialiased;
}

nav ul li span, .heading {
    text-transform: uppercase;
    font-size: var(--font-size);
}

h1 {
    font-size: var(--font-sizeHeading);
}

h2 {
    font-size: var(--font-sizeLarge); /* 2.4em; */
}

h3 {
    font-size: var(--font-sizeLarge); /* 1.8em; */
}

h4, h5, h6 {
    font-size: var(--font-sizeSmaller);
}


.textwidth400 p {
    margin: 30px 0;
}

.toggle span:before, .toggle span:after, .toggle span, .toggle .cross.open span:before, .toggle .cross.open span:after {
    background: var(--main-color);
}


@media (min-width: 1200px) {
    .container {
        max-width: var(--main-width);
        width: 100%;
    }
}


/* rgba(199,221,230,0.8);
// rgba(99,121,130,0.8); */


/* ************************************************ **
** Forms overides          ************************* **
** ************************************************ */

.umbraco-forms-form fieldset {
    padding: 0 !important;
    margin: 0 !important;
    border: none !Important;
}


.umbraco-forms-field.consentforstoringsubmitteddata.dataconsent.mandatory label {
    padding-right: 20px;
}

.umbraco-forms-form input.text, .umbraco-forms-form textarea, .umbraco-forms-form select {
    padding: 20px !important;
    font-family: 'Oswald', sans-serif;
    text-transform: uppercase;
    width: 100%;
    color: #666;
}

.formdatalabeltidy {
    display: inline-block;
}

h4.umbraco-forms-caption {
    padding-left: 15px;
}

.inlinecheckbox input[type=checkbox] {
    position: initial;
    margin: 0 5px;
    transform: scale(1.4);
}

.inlinecheckbox {
    display: inline;
}

    .inlinecheckbox input, .inlinecheckbox span {
        display: inline;
    }

.help-block {
    color: #fff;
}

/* ************************************************ **
** Colours          ******************************* **
** ************************************************ */
.navbar-fixed-top, #navbarSide {
    background: rgba(0,0,0,0.4); /* fallback for old browsers */
    background: rgba(0,0,0,0.4); /* Chrome 10-25, Safari 5.1-6 */
    background: rgba(0,0,0,0.4); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}


    #navbarSide::before, .navbar-fixed-top::before {
        content: "";
        position: absolute;
        filter: blur(10px);
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background: rgba(0,0,0,0.6);
    }

span.fa.fa-times-circle {
    color: var(--main-backgroundcolor);
}

/*
.btn-primary {
    border-radius: 0;
}

.emailsignup input.btn.primary {
    color: #fff;
    background-color: rgba(179,109,72,0.8);
    border-color: rgba(203,153,127,0.8);
}
*/

a, h1, h2, h3, h4, h5, h6, p, span, .copyright, .container li, .form-group, .table, .page-header, .whitetext, a:hover {
    color: var(--main-color);
}

    h4.whitetext {
        color: #fff;
    }

.blacktext a, .blacktext p, .blacktext span, .blacktext h4, .blacktext th, .blacktext td,
.product-box a, .product-box span, .product-box .form-group,
.backgroundcolordark a, .backgroundcolordark p, .backgroundcolordark h1,
.backgroundwhite a, .backgroundwhite p, .backgroundwhite h1,
.backgroundcolourwhite a, .backgroundcolourwhite p, .backgroundcolourwhite h1,
.backgroundcolorwhiteish a, .backgroundcolorwhiteish p, .backgroundcolorwhiteish h1, .backgroundcolorwhiteish h2,
.backgroundcolourwhite ul li, .backgroundcolourwhite h2, .heading, .description span {
    color: var(--main-backgroundcolor)
}

.slidertext h1, .slidertext h2, .slidertext h3, .slidertext h4, .slidertext h5, .slidertext h6, .slidertext p, .slidertext span, .well span, .well .form-group,
.tab-content span, .tab-content div, .tab-content p, .tab-content li, .tab-content h1, .tab-content h2, .tab-content h3, .tab-content h4,
.category-heading, .category-text, .category-text span, .category-text p, input {
    color: var(--main-color);
}

.nav-tabs > li > a, .sublevel.level-4 li p {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
}

    .nav-tabs > li > a:hover {
        color: #ff00ff;
    }


nav ul li span, .fa-search:before, .navbar-nav p, .navbar-nav span {
    color: var(--main-backgroundcolor);
}

#toggle2 span, #toggle2 span:after, #toggle2 span:before {
    background-color: var(--main-backgroundcolor);
}
/* old colour #444 */





.buttongroup .socialblock a {
    color: #666;
    -webkit-transition: all 2s ease-in-out;
    transition: all 2s ease-in-out;
}

.borderbottom::after {
    background-color: rgba(203,153,127,0.9);
}

nav span:after, .linkcollection a:after, .navbar-nav span:after {
    border: 1px solid rgba(203,153,127,0);
}

nav span:hover:after, .linkcollection a:hover:after, .navbar-nav span:hover:after, li.active a {
    border-color: rgba(184,115,51,0.6);
}

nav ul li ul {
    border: 2px solid rgba(199,221,230,0.9);
}

nav ul li ul {
    border: 2px solid var(--main-primarycolor);
    background-color: rgba(0,0,0,1);
    min-width: max-content;
}

li.active a, #navbarSide li.active a {
    border-bottom: 2px solid rgba(184,115,51,1);
}

/* .slidertext {
    background-color: rgba(199,221,230,0.8);
    border: 2px solid rgba(99,121,130,0.8);
} */
.slidertext h1, .slidertext h2, .slidertext h3, .slidertext h4, .slidertext h5, .slidertext h6, .slidertext p, .slidertext span {
    color: var(--main-backgroundcolor);
    text-shadow: 0 0 2px var(--main-color), 0 0 4px var(--main-color);
}

.animated-icon1 span, .animated-icon2 span, .animated-icon3 span {
    background: var(--main-backgroundcolor);
}


/* ************************************************ */
/* Buttons          ******************************* */
/* ************************************************ */
.btn {
    /* display: block;  Removed for slight upgrade to buttons! */
    border-radius: 0;
    padding: 17px 10px;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 1.4rem;
    line-height: 1.3;
    margin: 0 1px;
    min-height: 30px;
    min-width: 180px;
    -webkit-transition: background-color .2s linear, color .2s linear, border .2s linear;
    -o-transition: background-color .2s linear, color .2s linear, border .2s linear;
    transition: background-color .2s linear, color .2s linear, border .2s linear;
    white-space: normal;
}

.btn-default {
    border: 1px solid #000;
    color: #000;
    background: none;
}

    .btn-default:hover {
        border: 1px solid #000;
        background-color: #000;
        color: #fff;
    }

.btn-primary {
    border: 1px solid #b68e4c;
    background-color: #b68e4c;
}

    .btn-primary:hover {
        border: 1px solid #b68e4c;
        background-color: #b68e4c;
        color: #fff;
    }

.btn-success, .btn-success:active:focus, .btn-success:focus, .pagination > .active > a, .pagination > .active > a:hover, .pagination > li > a:hover { /* Copper colour */
    background-color: #b87333;
    border: 1px solid #b87333;
    color: #fff;
}

    .imageasboxoverlay:hover .btn-success, .btn-success:hover, .imageasboxoverlay2:hover .btn-success, .btn-success:active, .pagination > li > a, .pagination > li > a:focus {
        background-color: #fff;
        border: 1px solid #b87333;
        color: #b87333;
    }

.btn-info {
    background: none;
    border: 1px solid #fff;
    color: #fff;
}

    .imageasboxoverlay:hover .btn-info, .btn-info:hover {
        background-color: #fff;
        border: 1px solid #000;
        color: #000;
    }

.btn-warning {
}

.btn-danger {
}

.btn-link {
}


/* ************************************************ */
/* Header           ******************************* */
/* ************************************************ */

.websitelogo {
    padding: 0;
}

    .websitelogo img {
        width: 100%;
        margin: 10px 0 9px;
        max-width: 130px; /* 115px; Changed to suit new Nav which doesnt sit central */
    }


.headercontainer {
    margin: 0 auto;
    text-align: center;
    /* max-width: var(--main-width);  Fill width for Vale */
}




i.fa.fa-shopping-cart {
    font-size: 1.4em;
}

.centerme .col-lg-6.col-md-6.col-sm-6.col-xs-6 {
    /*padding: 0 10px;*/
}

.headerlogo img {
    width: 100%;
    min-height: 30px;
    min-width: 30px;
}

.headerlogo.col-lg-1 {
    /*padding-top: 14px;
    padding-bottom:14px;*/
    padding: 19px 0;
}



    .headerlogo.col-lg-1 img {
        max-width: 30px;
    }

@media (max-width: 1200px) {
    .hidemefrom1200 {
        display: none;
    }
}

/* ************************************************ **
** Table            ******************************* **
** ************************************************ */

.sizeguide {
    width: 100%;
    margin-bottom: 1rem;
    overflow: auto;
}

    .sizeguide thead th {
        background: #f9f9f9;
        color: #464646;
        padding: 5px !important;
    }

    .sizeguide tbody tr:nth-child(even) {
        border-bottom: 0;
        background-color: #f2f2f2;
    }

    .sizeguide tbody tr:nth-child(odd) {
        border-bottom: 0;
        background: linear-gradient(to right, #aaa, #ddd, #aaa);
    }



/* ************************************************ **
** Buttons          ******************************* **
** ************************************************ */
.buttongroup a {
    padding: 5px;
}

    .buttongroup a:last-child {
        padding: 5px 0 5px 5px;
    }

    .buttongroup a:first-child {
        padding: 5px 5px 5px 0;
    }

.textwidth400 .buttongroup, .textwidth400 .buttongroup a:first-child {
    padding: 0;
}

.linkcollection {
    font-size: 1.2em;
    padding: 5px 0;
}

.copyright {
    text-align: center;
    padding: 5px 0;
}



.pagecontainer {
    margin: 0 auto;
}

.searchercontainer {
    position: absolute;
    left: 0;
    right: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

.searchercontainer {
    opacity: 0;
    top: -80px;
}

    .searchercontainer.opennav {
        opacity: 1;
        top: 0;
        z-index: 200;
    }

    .searchercontainer .btn {
        min-width: 0;
    }

.highlightme {
    background-color: yellow;
    display: inline;
}





#carouselExampleIndicators h5 {
    display: inline-block;
    padding: 10px;
    background: #B9121B;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}

#carouselExampleIndicators .p {
    text-align: center;
    padding-top: 221px;
    font-size: 13px;
}

#carouselExampleIndicators .full-screen {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}





/* ************************************************ */
/* Link Blocks      ******************************* */
/* ************************************************ */

.horizontal .linkcollection {
    display: inline;
    padding: 0 20px;
}

    .horizontal .linkcollection:first-of-type {
        padding: 0 10px 0 0;
    }

    .horizontal .linkcollection:last-of-type {
        padding: 0 0 0 10px;
    }


.linkblock .image {
    display: inline-block;
    overflow: hidden;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    -webkit-border-radius: 100%;
    -moz-border-radius: 100%;
    border-radius: 100%;
    border: 5px solid rgba(179,109,72,0.8);
    box-shadow: 0 3px 2px rgba(0, 0, 0, 0.3);
}





/*
.linkblocks {
    display: flex;
}

.linkblock {
    display: inline-block;
  
}

.imageAsBoxContainer a, .linkblock a, .buttongroup a {
    color: #fff;
}



    .linkblock .image img {
        width: auto;
        height: 100%;
    }

    */
.linkblock .heading {
    font-size: 2.4em;
}


.imageAsBoxContainer .description {
    max-width: 500px;
    width: 100%;
    margin: 20px 0;
}

    .imageAsBoxContainer .description span {
        font-size: 14px;
    }

.imageAsBoxContainer {
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
}

.imageAsBoxContainer {
    background-position: center;
    background-repeat: no-repeat;
    /*   flex: 1;          fix for square linkblock with image as background
    width: 100%;
    height: 100%; */
}


    .imageAsBoxContainer a {
        margin: 0 auto;
        width: 100%;
        min-height: 300px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }

#parallax-container .imageAsBoxContainer a {
    min-height: 0 !important;
}


.imageasboxoverlay2 {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,0.4);
    margin: 0 15px;
    padding: 27%;
}




.imageAsBoxContainer.colwidth3 {
    max-width: 460px;
}

.imageAsBoxContainer.colwidth4 {
    max-width: 100% !important;
}





.slick-slide {
    overflow: hidden;
}

.slick-slide {
    filter: blur(10px);
    transition: all 1s ease-in-out;
}

.slick-active, .slick-current {
    filter: blur(0);
}

.whiteelement h1, .whiteelement h2, .whiteelement h3, .whiteelement h4, .whiteelement h5, .whiteelement h6, .whiteelement p {
    position: inherit;
    color: #fff;
}

.whiteelement {
    padding-bottom: 10px;
}

.imageAsBoxContainer2 .heading, .linkblock .heading {
    font-size: 1.6em;
}

.imageAsBoxContainer2 .description {
    font-size: 0.8em;
}

/*.imageAsBoxContainer2 {
    display: inline-flex !important;
}*/

.imageAsBoxContainer2 {
    position: relative;
}

.imageAsBoxContainer2 {
    margin: 0;
}

    .imageAsBoxContainer2.slick-slide {
        margin: 0 15px;
    }


/*
    .imageAsBoxContainer2 a {
        margin: 0 auto;
        width: 100%;
        height: 392px;
        position: relative;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
    }
    */
.imageasbox2 {
}

.imageasboxoverlay {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#parallax-container .imageasboxoverlay {
    position: inherit;
    top: 0;
    left: 0;
    transform: translate(0);
}

.imageasbox2 button {
    display: inline-flex;
    position: initial;
    text-align: center;
    margin: 0 auto;
}

.imageasboxoverlay button {
    margin: 0 auto;
}

.buttongroup, .imageasbox button, .whiteelement button {
    display: inline-block;
}


.whiteelement .headertext {
    position: absolute;
    top: 30%;
    transform: translate(-50%,-50%);
}

.whiteelement p {
    position: absolute;
    top: 50%;
    left: 20px;
    right: 20px;
}

.imageasboxoverlay .btn-info {
    color: #fff;
}


/* This is a very dodgy fix - must re do this! Rhys */
.heading.headertext {
    font-size: 2em;
}








.buttongroup {
    /*display: flex; removed to center button buttongroups */
    flex-direction: row;
    align-items: center;
}

.buttonspaceclass {
    padding-top: 30px;
}

.buttongroup button {
    margin: 10px 15px;
}

    .buttongroup button:first-of-type {
        margin-left: 0;
    }

    .buttongroup button:last-of-type {
        margin-right: 0;
    }

.buttongroup .socialblock a {
    font-size: 1.2em;
}

.socialblock p {
    display: inline-block;
    margin: 0 0 5px 10px;
}

.buttongroup .btn.btn-primary {
    margin: 0 5px;
}

    .buttongroup .btn.btn-primary:first-of-type {
        margin-left: 0;
    }

    .buttongroup .btn.btn-primary:last-of-type {
        margin-right: 0;
    }


.breadcrumbcontainer {
    margin: 25px auto 0 auto;
}

    .breadcrumbcontainer a, .breadcrumbcontainer .divider {
        color: #000;
    }







.autoplay2 .slick-track .textwidth400 {
    padding-top: 4%;
    margin-bottom: 4%;
    text-align: left;
}

.autoplay2 .slick-list {
    overflow: visible;
}

.autoplay2.backgroundcolorgrey.verticalalign.slick-initialized.slick-slider {
    margin-top: 50px;
    margin-bottom: 50px;
}

.autoplay2container {
    margin-top: -50px;
    margin-bottom: -50px;
}

.autoplay3container {
    margin-top: 0;
    margin-bottom: 0;
    padding: 0 30px;
}

.autoplay3 .slick-prev {
    left: -40px !important;
}

.autoplay3 .slick-next {
    right: -40px !important;
}

.autoplay3 .slick-slide {
    filter: blur(0) !important;
}

/* ************************************************ */
/* All nav defaults ******************************* */
/* ************************************************ */


.sidenavOnly {
    display: none;
}

#navbarSide .sidenavOnly {
    display: inline-block;
}

.nav {
    padding: 0;
}

nav ul {
    margin: 0;
    padding: 0;
}



    nav ul li ul {
        width: 100%;
        vertical-align: bottom;
    }

nav a {
    color: #fff;
}

nav ul {
    /* display: flex; fix for normaL DISPLAY */
    /* width: 100%; removed for NEW nav which doesnt sit central !!*/
}

    nav ul li {
        margin: 0 auto;
        text-align: center;
        display: inline;
        padding: 0 1px;
        position: relative;
    }

        nav ul li span {
            line-height: 78px;
            height: 78px;
            font-size: 0.9em;
        }

        nav ul li ul div {
            display: block;
            padding: 5px;
            background: #222;
            border-radius: 5px;
            margin: 10px 0;
        }

/*
#headerspacer {
    z-index: 199;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
}
    */
header {
    margin: 0 auto;
    top: 0;
    position: fixed;
    right: 0;
    left: 0;
    z-index: 1030;
}

/* positioning to fix dodgy menu heights */
.navcontainer {
    position: relative;
}

.navbar-default {
    z-index: 199;
}


nav ul {
    list-style-type: none;
}

#nav-icon {
    width: 30px;
    height: 20px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -ms-transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    -ms-transition: .5s ease-in-out;
    cursor: pointer;
}

    #nav-icon span {
        display: block;
        position: absolute;
        height: 4px;
        width: 100%;
        background: #000;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -ms-transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
        -ms-transition: .25s ease-in-out;
    }

        #nav-icon span:nth-child(1) {
            top: 0px;
        }

        #nav-icon span:nth-child(2) {
            top: 10px;
        }

        #nav-icon span:nth-child(3) {
            top: 20px;
        }

    #nav-icon.open span:nth-child(1) {
        top: 10px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
        -ms-transform: rotate(135deg);
    }

    #nav-icon.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    #nav-icon.open span:nth-child(3) {
        top: 10px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
        -ms-transform: rotate(-135deg);
    }

.navbar-default, .affix #nav-icon, .affix .header-ribbon, .affix .phone-number, .affix .contact-info, .affix .quote-form, .affix {
    transition: opacity .3s ease-in-out;
    -webkit-transition: .3s ease-in-out;
    -moz-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
    -ms-transition: .3s ease-in-out;
}

    .affix .navbar-default, #nav-icon, .header-ribbon, .phone-number, .contact-info, .quote-form, .affix {
        transition: opacity .3s ease-in-out;
        -webkit-transition: .3s ease-in-out;
        -moz-transition: .3s ease-in-out;
        -o-transition: .3s ease-in-out;
        transition: .3s ease-in-out;
        -ms-transition: .3s ease-in-out;
    }












.scriptcontainer .column, .col2small .container {
    padding-left: 0;
    padding-right: 0;
}

.headercontainer .row {
    margin-left: 15px;
    margin-right: 15px;
}

.centerslider {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    margin-right: 15px;
    max-width: 700px;
}

.umbraco-forms-form.emailsignup.emailsignup.umbraco-forms- {
    margin: 0 -15px;
}

div.pagecontainer {
}

.linkblocks .imageAsBoxContainer {
    float: left;
}

#parallax-container .imageAsBoxContainer {
    float: none;
}





















@media (max-width: 767px) {

    .smallimage.center p {
        min-height: 35px;
        line-height: 17px;
    }

    .linkblock, .imageAsBoxContainer {
        width: 100%;
    }

    #parallax-container .linkblock, .imageAsBoxContainer {
        max-width: 530px;
        width: 100%;
    }

    /* New set up for navbarSide */

    div#navbarSide {
    }

    .autoplay2 .slick-track {
        left: 0;
    }

        .autoplay2 .slick-track .textwidth400 {
            text-align: center;
            margin: 10px auto;
            max-width: 100%;
            padding: 20px 40px;
        }

        .autoplay2 .slick-track button {
            margin: 0 auto;
        }

        .autoplay2 .slick-track img {
            margin: 0 auto;
        }




    h1, h2, h3, nav ul li span, .heading {
        font-weight: 600;
    }


    nav ul li ul div {
        padding: 5px;
    }



    body {
        overflow-x: hidden;
    }
    /* Stop mobile menu / moving elements cause overflow on X axis */

    nav.col-lg-5 {
        padding: 0;
    }
    /* overide bootstrap padding for mobile menu */

    nav { /*
        -webkit-transform: translateX(100%);
        -ms-transform: translateX(100%);
        transform: translateX(100%);
             fix for always on nav
             */
        opacity: 1;
        transition: -webkit-transform 300ms ease-in-out, opacity 300ms ease-in-out;
        transition: transform 300ms ease-in-out, opacity 300ms ease-in-out;
    }

        nav.open {
            opacity: 1;
            -webkit-transform: translateX(0);
            -ms-transform: translateX(0);
            transform: translateX(0);
        }

        nav > ul li.selected ul {
            -webkit-transform: scale(1);
            -ms-transform: scale(1);
            transform: scale(1);
            height: 100%;
        }

        nav li > ul {
            -webkit-transform: scale(0);
            -ms-transform: scale(0);
            transform: scale(0);
            transition: all 300ms ease-in-out;
            height: 0;
            margin: 0;
        }

        nav ul {
            display: inline-block;
            width: 100%;
            left: 0;
            right: 0;
            top: 0;
            bottom: 0;
            background-color: #111;
            height: 90vh;
            overflow: auto;
        }

    .linkblock .image {
        max-width: 200px;
    }
}



/* ************************************************ */
/* Blog              ******************************* */
/* ************************************************ */


.blogpostcontainer {
    display: inline;
}

    .blogpostcontainer p {
        margin: 0;
    }

.blogpost {
    display: inline-block;
    padding-bottom: 40px;
    text-align: left;
}

    .blogpost .image {
        position: relative;
    }

        .blogpost .image p {
            font-size: 1.5em;
        }

    .blogpost .blogtestalignment {
        position: absolute;
        left: 0;
        bottom: 10px;
        max-width: 90%;
        width: 100%;
    }

    .blogpost .blogdescription {
        padding: 15px 0;
        font-size: 1.0em;
        min-height: 110px;
        overflow: hidden;
    }

    .blogpost .buttongroup {
        display: inline;
    }

    .blogpost .btn {
        width: 100%;
    }

.pagecontainer.post {
    text-align: center;
    padding: 50px 0;
}

    .pagecontainer.post .postcontent {
        padding: 100px 0;
        border-bottom: 2px solid #333;
    }


ul.pagination {
    margin: 15px;
}

    ul.pagination:hover span {
        color: #fff;
    }

/* ************************************************ */
/* All breakpoints  ******************************* */
/* ************************************************ */
@media (min-width: 1600px) {
    nav ul li span {
        font-size: 1.0em;
    }
}


@media (min-width: 767px) and (max-width: 1000px) {

    .autoplay2 .slick-track {
        left: 8%;
    }

        .autoplay2 .slick-track .textwidth400 {
            text-align: left;
            margin: 10px auto;
        }

        .autoplay2 .slick-track img {
            margin: 0 auto;
        }


    .linkblock .image {
        max-width: 200px;
    }
}




/* Large full width nav */
@media screen and (min-width: 767px) {

    #parallax-container .linkblock, .imageAsBoxContainer {
        max-width: 530px;
    }

    nav ul li {
        padding: 30px; /* 30px 15px; */
    }

    .desktopnav .sublevel.level-4 li {
        padding: 0;
    }

    .desktopnav .sublevel.level-4 {
        padding: 10px;
    }

        .desktopnav .sublevel.level-4 li p {
            padding: 5px;
            text-align: left;
        }

    .sublevel.level-4 li p:hover {
        color: var(--main-primarycolor);
    }


    .slidertext {
        max-width: 550px;
        width: 90%;
        max-width: 75%;
    }





    /* Hopefull bootstrap3.html fix for grid within a grid  */
    .navigationelementfix .container {
        width: 100%;
        padding-right: 0px;
        padding-left: 0px;
    }



    .nav-pills li:first-child a {
        border-radius: 5px 0 0 0;
    }

    .nav-pills li:last-child a {
        border-radius: 0 0 0 5px;
    }

    .nav-pills li a {
        border-radius: 0;
    }

    .tab-content {
        border-radius: 0 5px 5px 5px;
    }



    .sizeguide tbody th, table tbody td {
        padding: 0.5rem 0.625rem 0.625rem;
    }


    .verticalcenter .row.clearfix {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    nav ul li ul {
        position: absolute;
        left: 0;
        right: 0;
    }






    /* Not sure why this is here??
    nav:first-of-type {
        padding: 0 0 0 50px;
    }

    nav:last-of-type {
        padding: 0 50px 0 0;
    }
        /*

    /* Foldout navigation here */



    nav li ul {
        opacity: 0;
        visibility: hidden;
        overflow: hidden;
        transform-origin: 50% 0%;
        transition: all .1s ease;
        -ms-transform-origin: 50% 0%;
        -ms-transition: all .1s ease;
    }

    nav li:hover ul {
        opacity: 1;
        visibility: visible;
        animation-name: swingdown;
        animation-duration: 0.5s;
        animation-timing-function: ease;
        transition: all .1s ease;
        -ms-animation-name: swingdown;
        -ms-animation-duration: 0.5s;
        -ms-animation-timing-function: ease;
        -ms-transition: all .1s ease;
    }

    @keyframes swingdown {
        0% {
            opacity: 0;
            -webkit-transform: perspective(400) rotate3d(1,0,0,-90deg);
            animation-timing-function: ease;
            -ms-transform: perspective(400) rotate3d(1,0,0,-90deg);
            -ms-animation-timing-function: ease;
        }

        100% {
            -webkit-transform: perspective(400) rotate3d(0,0,0,0);
            -ms-transform: perspective(400) rotate3d(0,0,0,0);
            opacity: 1;
            animation-timing-function: ease;
        }
    }

    .level-2 {
        display: flex;
    }

    header {
        padding: 0;
    }

        header .container {
            padding: 0 20px;
        }

        header .max-width {
            padding: 0 20px;
        }

    #toggle {
        display: none;
    }
}


@media screen and (min-width: 1001px) {
    .autoplay2 .slick-track {
        left: calc(10% + 20vw);
    }
}




/* ************************************************ */
/* All mobile nav defaults ************************ */
/* ************************************************ */

#toggle { /*
        position: absolute;
        right: 10px;
        top: 10px;*/
    -webkit-transform: translateY(-40%);
    -ms-transform: translateY(-40%);
    transform: translateY(-40%);
}

.toggle {
    /*   position: relative;
        display: inline-block;
        width: 40px;
    height: 40px; */
    z-index: 999;
    cursor: pointer;
}

    .toggle .cross {
        transition-duration: 0s;
        transition-delay: .1s;
    }

        .toggle .cross span:before {
            transition-property: margin, -webkit-transform;
            transition-property: margin, transform;
            transition-duration: .1s;
            transition-delay: .1s, 0;
        }

        .toggle .cross span:after {
            transition-property: margin, -webkit-transform;
            transition-property: margin, transform;
            transition-duration: .1s;
            transition-delay: .1s, 0;
        }

        .toggle .cross.open span {
            background-color: transparent;
            transition-delay: .1s;
        }

            .toggle .cross.open span:before {
                margin-top: 0;
                -webkit-transform: rotate(45deg);
                -ms-transform: rotate(45deg);
                transform: rotate(45deg);
                transition-delay: 0, .1s;
            }

            .toggle .cross.open span:after {
                margin-top: 0;
                -webkit-transform: rotate(-45deg);
                -ms-transform: rotate(-45deg);
                transform: rotate(-45deg);
                transition-delay: 0, .1s;
            }

    .toggle span {
        margin: 0 auto;
        position: relative;
        z-index: 999;
        top: 12px;
        width: 35px;
        height: 3px;
        display: block;
    }

        .toggle span:before,
        .toggle span:after {
            position: absolute;
            content: '';
            width: 35px;
            height: 3px;
            display: block;
        }

        .toggle span:before {
            margin-top: -8px;
        }

        .toggle span:after {
            margin-top: 8px;
        }




@media only screen and (max-width: 767px) {

    .nav-pills li:first-child a {
        border-radius: 5px 5px 0 0;
    }

    .nav-pills li:last-child a {
        border-radius: 0 0 5px 5px;
    }

    .nav-pills li a {
        border-radius: 0;
    }

    .tab-content {
        border-radius: 5px;
    }

    .smallimage img {
        max-width: 400px;
        margin: 0 auto;
        text-align: center;
    }

    .navcontainer {
        width: 100%;
        position: absolute;
        right: 0;
        top: 78px;
        z-index: 19;
    }

    .searcher {
        /*position: absolute;       Zino Tidy up
            top: 24px;
            right: 60px;
        font-size: 22px*/
    }


    .leftnavcontainer, .contcontainer, .contcontainer img {
        display: none;
    }

    .pagecontent {
        border-left: none;
        border-image: none;
        margin: 0;
        padding: 0;
    }

    .navbar-default {
        position: absolute;
        top: 60px;
        right: 0;
        width: 100%;
    }

    .nav { /* Hopefull fix for full width mobile nav */
        padding: 0;
    }



    /*    
         rhys removed padding-left:10px; for main header on mobile */



    .faicon.fa.fa-angle-right {
        font-size: 1.6em;
        border-radius: 100%;
        background: #ccc;
        min-width: 20px;
        min-height: 20px;
    }

    .selected .faicon {
        transform: rotate(90deg);
        transition: 0.5s ease-in-out;
    }

    .marketingboxcontainer li {
        padding: 25px 50px;
    }

    .lastlimobile, .lastlimobilespacer {
        height: 1000px;
    }

    /*   .searchercontainer form {
            left: 145px;
            right: 90px
    } */

    /* BOOTSTRAP BUTTON  button.btn.btn-default {font-size: 12px !important;min-width:80px;} */
    footer ul li {
        display: inline-block;
        text-align: left;
    }

    footer ul {
        text-align: left !important;
    }

    .footercolumn {
        display: list-item;
        text-align: left;
    }

    .socialtext {
        display: block;
    }

    img#broimage {
        display: none;
    }


    #parallax-container slider div {
        display: block;
    }
}




/* ************************************************ */
/* All overides     ******************************* */
/* ************************************************ */

footer .image-container {
    max-width: 300px;
    padding: 40px 20px;
    width: 100%;
}

#slider, #slider li {
    left: 0 !important;
    right: 0;
    top: 0 !important;
    bottom: 0;
    position: absolute !important;
    list-style-type: none !important;
    padding: 0 !important;
    margin: 0 !important;
    width: 100%;
    transition: all 0.3s;
}

.slideroverlayh img {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 300px;
    width: 40vw;
    max-width: 700px;
    height: auto;
    opacity: 0.1;
}

.fa-search:before {
    font-size: 1.4em;
}

/*
.input-group-lg button.btn.btn-default {
    font-size: 1.4em;
}
    /*
/* bootstrap css /bootstrap/3.3.7/css/bootstrap.min.css */
.navbar-default {
    background-color: transparent;
    border-color: transparent;
}


.mainpageproductlink {
    margin: 0 0 5px 0;
}

.productlistdescriptionhead {
    font-weight: 600;
}

.product-box .well {
    background-color: transparent;
    margin-bottom: 0;
}

.well span, .well div {
    text-align: center;
}

.well div {
    padding: 3px 0;
}

.product-images img, .product-images li {
    max-height: 600px !important;
}

.product-thumbs#bx-pager {
    position: relative;
    margin: 20px 0 0;
}

/* Border on image - didnt like it!
.row.product-images-box {
    border: 2px solid #ccc;
    border-radius: 0 0 5px 5px;
}
     */
.form-group {
    margin-bottom: 0;
}



.category-image img {
    max-width: 250px;
    width: 100%;
}

.category-heading {
    padding: 5px 0;
    font-size: 1.6em;
}

.category-text {
    padding-top: 10px;
}


.modal-open {
    overflow-x: hidden;
    overflow-y: auto;
}

.modalcontrolname {
    color: #000;
    text-align: center;
}

.modal-body {
    padding: 10px;
}

    .modal-body img {
        max-height: 75vh;
    }

.modalfootertext {
    padding-top: 10px;
}

.panel-title, .panel-body p, .panel-body span, .panel-body a {
    color: #000;
    text-decoration: none;
}


/* end bootstrap css */


/* toggle2 */

/* new overides for hensol fluid head 
#toggle2 {
    display: block;
    width: 28px;
    height: 30px;
    margin: 38px -10px 0 0;
}
    */

#toggle2 span:after,
#toggle2 span:before {
    content: "";
    position: absolute;
    left: 0;
    top: -9px;
}

#toggle2 span:after {
    top: 9px;
}

#toggle2 span {
    position: relative;
    display: block;
}

    #toggle2 span,
    #toggle2 span:after,
    #toggle2 span:before {
        width: 100%;
        height: 5px;
        transition: all 0.3s;
        backface-visibility: hidden;
        border-radius: 2px;
    }

/* on activation */
#toggle2.on span {
    background-color: transparent;
}

    #toggle2.on span:before {
        transform: rotate(45deg) translate(5px, 5px);
    }

    #toggle2.on span:after {
        transform: rotate(-45deg) translate(7px, -8px);
    }

#toggle2.on + #menu {
    opacity: 1;
    visibility: visible;
}



/* Flex container */


flex-container {
    display: flex; /* primary flex container */
    flex-direction: row; /* horizontal alignment of flex items
                                      (default value; can be omitted) */
    align-items: stretch; /* will apply equal heights to flex items
                                      (default value; can be omitted) */
    height: 100%;
}

flex-item {
    display: flex; /* nested flex container */
    flex-direction: column; /* vertical alignment of flex items */
    justify-content: center; /* center flex items vertically */
    align-items: left; /* center flex items horizontally */
    margin: 10px; /* apply margin on every side */
}

    flex-item:first-child {
        flex: 1; /* consume 3x more free space than sibling */
        text-align: left;
    }

    flex-item:last-child {
        flex: 1;
        /* make last edge flush to the right */
    }

.flex-containerltr.flex-item:first-child {
    margin-left: 0px;
}

.flex-containerltr.flex-item:last-child {
    margin-right: 0px;
}

.flex-containerrtl.flex-item:first-child {
    margin-right: 0px;
}

.flex-containerrtl.flex-item:last-child {
    margin-left: 0px;
}

p.flexheader {
    font-size: 1.4em;
}

/*
.slidertext {
    position: relative;
    width: 100%;
    text-align: left;
}*/

.slidertext:after {
    content: ' ';
    background: rgba(200,200,200,0.8);
    position: absolute;
    top: 0;
}

.videotext {
    position: relative;
    top: 50%;
    max-width: 25%;
    text-align: center;
    margin: 0 auto;
    padding: 40px;
}

nav ul li .ticket {
    padding: 0 !important;
}

.ticket a {
    position: relative !important;
    padding: 15px;
    background: rgba(184,115,51,0.9);
}

    .ticket a:before, .ticket a:after {
        content: ' ';
        position: absolute;
        top: 0;
        bottom: 0;
        border-radius: 5px;
        width: 15px;
    }

    .ticket a:before {
        background: url(/Media/ticket-130x70px2.png);
        left: -10px;
    }

    .ticket a:after {
        background: url(/Media/ticket-130x70px3.png);
        right: -10px;
    }



/* Not sure why this is here - it breaks the forms on mobile collapse
.emailsignup .row-fluid {
    display: flex;
}
    */

.horizontal .linkcollection {
    padding: 5px 10px;
}


.navelement .linkcollection {
    border-bottom: 1px solid #ddd;
}

    .navelement .linkcollection:last-of-type {
        border-bottom: none;
    }




@media only screen and (min-width: 1170px) {
    .fixedbackground {
        background-attachment: fixed;
    }
}

.fixedbackground {
    position: relative;
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
}

    .fixedbackground .vcentercontent {
        position: sticky; /*
        top: 50%;
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
        margin: 0 auto;
        text-align: center;
             font-size: 3rem;
        width: 90%;
        max-width: 1170px;
        padding-top: 150px;*/
        color: #000;
    }



.largebackground {
    min-height: 2098px;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    z-index: 1;
    width: 100%;
    height: 0;
    padding-top: 66.64%;
    box-shadow: inset 0px 41px 18px -20px #fff, inset 0px -41px 18px -20px #fff;
}



.videoWrapper {
    position: relative;
    padding-bottom: 56.25%; /* 16:9 */
    padding-top: 25px;
    height: 0;
    margin-top: -120px;
}

video {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}



.skewed {
    transform: skew(0deg, -5deg);
}

    .skewed .container {
        transform: skew(0deg, 5deg);
    }

.oppositeskewed {
    transform: skew(0deg, 5deg);
}

    .oppositeskewed .container {
        transform: skew(0deg, -5deg);
    }


p.panel-title {
    font-size: 1.2em;
    color: #000;
}

.panel-body {
}

.collapse.in {
    display: block;
}

.come-in {
    transform: translateY(200px);
    animation: come-in .8s ease forwards;
}

.panel-group .panel {
    background: rgba(250,250,250,.9);
}

.collapse, .no-js #loader-wrapper {
    display: none;
}







.zoomEffect {
    animation: move 15s ease-in-out infinite;
}

@keyframes move {
    0% {
        transform: scaleX(1.03);
    }

    50% {
        transform: scaleX(1);
    }

    100% {
        transform: scaleX(1.03);
    }
}

















/* CSS for responsive iframe */
/* ========================= */

/* outer wrapper: set max-width & max-height; max-height greater than padding-bottom % will be ineffective and height will = padding-bottom % of max-width */
#Iframe-Master-CC-and-Rs {
    max-width: 800px;
    max-height: 100%;
    overflow: hidden;
}

/* inner wrapper: make responsive */
.responsive-wrapper {
    position: relative;
    height: 0; /* gets height from padding-bottom */
    /* put following styles (necessary for overflow and scrolling handling on mobile devices) inline in .responsive-wrapper around iframe because not stable in CSS:
    -webkit-overflow-scrolling: touch; overflow: auto; */
}

    .responsive-wrapper iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        border: none;
    }

/* padding-bottom = h/w as % -- sets aspect ratio */
/* YouTube video aspect ratio */
.responsive-wrapper-wxh-572x612 {
    padding-bottom: 107%;
}

/* general styles */
/* ============== */
.set-border {
    border: 5px inset #4f4f4f;
}

.set-box-shadow {
    -webkit-box-shadow: 4px 4px 14px #4f4f4f;
    -moz-box-shadow: 4px 4px 14px #4f4f4f;
    box-shadow: 4px 4px 14px #4f4f4f;
}

.set-padding {
    padding: 40px;
}

.set-margin {
    margin: 30px;
}

.center-block-horiz {
    margin-left: auto !important;
    margin-right: auto !important;
}










.app {
    padding: var(--gutter) 0;
    display: grid;
    grid-gap: var(--gutter) 0;
    grid-template-columns: var(--gutter) 1fr var(--gutter);
    align-content: start;
}

    .app > * {
        grid-column: 2 / -2;
    }

    .app > .full {
        grid-column: 1 / -1;
    }

.hs {
    display: grid;
    grid-gap: calc(var(--gutter) / 2);
    grid-template-columns: 10px;
    grid-template-rows: minmax(150px, 1fr);
    grid-auto-flow: column;
    grid-auto-columns: calc(25% - var(--gutter) * 2);
    overflow-x: scroll;
    scroll-snap-type: x proximity;
    padding-bottom: calc(.75 * var(--gutter));
    margin-bottom: calc(-.25 * var(--gutter));
}

    .hs:before,
    .hs:after {
        content: '';
        width: 10px;
    }


    /* Demo styles */


    /*
.app {
    overflow-y: scroll;
}
    */

    .hs > li,
    .item {
        scroll-snap-align: center;
        padding: calc(var(--gutter) / 4 * 1.5);
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background: #fff;
        border-radius: 8px;
    }



.shopNavBlock div {
    display: inline;
}




/* masonary photos */

#photos {
    list-style-type: none;
    /* Prevent vertical gaps */
    line-height: 0;
    -webkit-column-count: 4;
    -webkit-column-gap: 6px;
    -moz-column-count: 4;
    -moz-column-gap: 6px;
    column-count: 4;
    column-gap: 6px;
    padding: 0;
}

.galleryimagelink img {
    /* Just in case there are inline attributes */
    width: 100% !important;
    height: auto !important;
    -moz-transition: all 0.3s;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

#photos .galleryimagelink img {
    padding: 3px 0;
}




@media (max-width: 1200px) {
    #photos {
        -moz-column-count: 4;
        -webkit-column-count: 4;
        column-count: 4;
    }
}

@media (max-width: 1000px) {
    #photos {
        -moz-column-count: 3;
        -webkit-column-count: 3;
        column-count: 3;
    }
}

@media (max-width: 800px) {
    #photos {
        -moz-column-count: 2;
        -webkit-column-count: 2;
        column-count: 2;
    }
}

@media (max-width: 400px) {
    #photos {
        -moz-column-count: 1;
        -webkit-column-count: 1;
        column-count: 1;
    }
}




.page-header {
    padding: 0;
    margin: 0;
    border: none;
    text-align: center;
}

.page-purchasebox {
    padding-bottom: 10px;
}

.box {
    height: 100%;
}

.product-box {
    /* border: 2px solid silver;*/
    text-align: center;
    margin: 0 auto;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 3px 15px rgba(0, 0, 0, 0.6);
    height: 100%;
    background: #D3CCE3; /* fallback for old browsers */
    background: -webkit-linear-gradient(to top, #E9E4F0, #D3CCE3); /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to top, #E9E4F0, #D3CCE3); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

    .product-box img {
        border-radius: 5px;
    }

    /*
.product-box img {border-radius: 5px 5px 0 0;}
    */

    .product-box .item-1 {
        padding: 10px
    }

.product-box-list .row {
    padding: 10px 0;
}

    .product-box-list .row > div {
        padding: 10px;
    }


.mui-basket img {
    width: 30px;
}

.item-1, .price.text-center {
    text-align: center;
    font-size: 1.0em;
}

.item-2 {
    display: flex;
    justify-content: flex-end;
    flex-direction: column;
    text-align: center;
}

/*
.item.item-2 {position:relative;}
.item.item-2 .well {position:absolute;bottom:0;left:0;right:0;margin:0 auto;text-align:center;}
*/



/* Linkcollection for testimonials etc */
.linkcollection p, .linkcollection span, .linkcollection div {
    color: #000;
}





/* netflix carousel */

.netcaroucontainer {
    padding: 0 10px;
    margin: 0;
    /* background: #eee; */
    color: #ecf0f1;
    font-family: 'Open Sans', sans-serif;
    /* min-height: 100vh; */
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

    .netcaroucontainer .contain {
        width: 100%;
        overflow-y: hidden;
    }

    .netcaroucontainer .row {
        overflow-x: scroll;
        width: 100%;
    }

.row__inner {
    transition: 450ms -webkit-transform;
    transition: 450ms transform;
    transition: 450ms transform, 450ms -webkit-transform;
    white-space: nowrap;
    margin: 20px 0 50px 0;
    padding-bottom: 10px;
}

.tile {
    position: relative;
    display: inline-block;
    margin-right: 10px;
    font-size: 20px;
    cursor: pointer;
    transition: 450ms all;
    -webkit-transform-origin: center left;
    transform-origin: center left;
}

.tile__img {
    -o-object-fit: cover;
    object-fit: cover;
}

.tile__details {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;
    font-size: 10px;
    opacity: 1;
    transition: 450ms opacity;
}

    .tile__details:after,
    .tile__details:before {
        content: '';
        position: absolute;
        top: 50%;
        left: 50%;
    }

    .tile__details:after {
        margin-top: -25px;
        margin-left: -25px;
        width: 50px;
        height: 50px;
        border: 3px solid #ecf0f1;
        line-height: 50px;
        text-align: center;
        border-radius: 100%;
        background: rgba(0,0,0,0.5);
        z-index: 1;
    }

    .tile__details:before {
        content: '\25BA';
        left: 0;
        width: 100%;
        font-size: 30px;
        margin-left: 4px;
        margin-top: -20px;
        text-align: center;
        z-index: 2;
    }

.tile:hover .tile__details {
    opacity: 1;
}

.tile__title {
    position: absolute;
    bottom: -40px;
    padding: 10px;
    opacity: 1;
    left: 0;
    right: 0;
    text-align: center;
    font-size: 1.2em;
}

.row__inner:hover {
    -webkit-transform: translate3d(-25px, 0, 0);
    transform: translate3d(-25px, 0, 0);
}

    .row__inner:hover .tile {
        opacity: 0.3;
    }

        .row__inner:hover .tile:hover {
            -webkit-transform: scale(1.1);
            transform: scale(1.1);
            opacity: 1;
        }

.tile:hover ~ .tile {
    -webkit-transform: translate3d(25px, 0, 0);
    transform: translate3d(25px, 0, 0);
}



.tab-pane.active {
    animation: slide-down 0.5s ease;
}

@keyframes slide-down {
    0% {
        opacity: 0;
        transform: translateY(100%);
    }

    100% {
        opacity: 1;
        transform: translateY(0);
    }
}







/*
	Max width before this PARTICULAR table gets nasty. This query will take effect for any screen smaller than 760px and also iPads specifically.
	*/
@media only screen and (max-width: 760px), (min-device-width: 768px) and (max-device-width: 1024px) {

    /* Force table to not be like tables anymore */
    table, thead, tbody, th, td, tr {
        display: block;
    }

        /* Hide table headers (but not display: none;, for accessibility) */
        thead tr {
            position: absolute;
            top: -9999px;
            left: -9999px;
        }

    tr {
        margin: 0 0 1rem 0;
    }

        tr:nth-child(odd) {
            background: #ccc;
        }

    td {
        /* Behave  like a "row" */
        border: none;
        border-bottom: 1px solid #eee;
        position: relative;
        padding-left: 54%;
    }

        td:before {
            /* Now like a table header */
            position: absolute;
            /* Top/left values mimic padding */
            top: 0;
            left: 6px;
            width: 45%;
            padding-right: 10px;
            white-space: nowrap;
        }

    /* Overrides!!!! */


    /*
            This is going to have to be a per table fix unfortunatly!

		Label the data
    You could also use a data-* attribute and content for this. That way "bloats" the HTML, this way means you need to keep HTML and CSS in sync. Lea Verou has a clever way to handle with text-shadow.
		*/
    .ringtable td:nth-of-type(1):before {
        content: "Ring Size";
    }

    .ringtable td:nth-of-type(2):before {
        content: "Circumference (mm)";
    }



    .bangletable td:nth-of-type(1):before {
        content: "Size";
    }

    .bangletable td:nth-of-type(2):before {
        content: "cm";
    }

    .bangletable td:nth-of-type(3):before {
        content: "inches";
    }
}




.tab-content {
    background: #fff;
    padding: 5px 10px;
}

/*
.homeoverlaylayer {
    position: absolute;
    top: 25%;
    bottom: 25%;
    left: 25%;
    right: 25%;
    z-index:199;
    filter: saturate(0.5) sepia(0.5) contrast(0.4) brightness(1.2) blur(3px);
    mix-blend-mode: overlay;

}
    */






.footer-image {
    width: 100%;
    max-width: 150px;
    display: inline-block;
    padding: 10px 20px;
}

ul.sublevel.level-4 .fa {
    font-size: 1.6em;
}

.sublevel.level-4 img {
    margin: 0 0 10px 0;
    border-radius: 5px;
}




.overflow {
    overflow: hidden !important;
}

/*
input.btn.btn-success.pull-right {
    margin-right: 15px;
}*/

.haschildren p {
    color: #fff;
    z-index: 1999;
}

/* fix for scrolling elements taking up overflow when off screen */
.umb-grid.Bootstrap3 {
    overflow: hidden;
}












/* Icon 1 */

.animated-icon1 {
    width: 30px;
    height: 20px;
    position: relative;
    margin: 0px;
    -webkit-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
    -webkit-transition: .5s ease-in-out;
    -moz-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out;
    cursor: pointer;
}

    .animated-icon1 span {
        display: block;
        position: absolute;
        height: 3px;
        width: 100%;
        border-radius: 9px;
        opacity: 1;
        left: 0;
        -webkit-transform: rotate(0deg);
        -moz-transform: rotate(0deg);
        -o-transform: rotate(0deg);
        transform: rotate(0deg);
        -webkit-transition: .25s ease-in-out;
        -moz-transition: .25s ease-in-out;
        -o-transition: .25s ease-in-out;
        transition: .25s ease-in-out;
    }



        .animated-icon1 span:nth-child(1) {
            top: 0px;
        }

        .animated-icon1 span:nth-child(2) {
            top: 10px;
        }

        .animated-icon1 span:nth-child(3) {
            top: 20px;
        }

    .animated-icon1.open span:nth-child(1) {
        top: 11px;
        -webkit-transform: rotate(135deg);
        -moz-transform: rotate(135deg);
        -o-transform: rotate(135deg);
        transform: rotate(135deg);
    }

    .animated-icon1.open span:nth-child(2) {
        opacity: 0;
        left: -60px;
    }

    .animated-icon1.open span:nth-child(3) {
        top: 11px;
        -webkit-transform: rotate(-135deg);
        -moz-transform: rotate(-135deg);
        -o-transform: rotate(-135deg);
        transform: rotate(-135deg);
    }







#navbarSide {
    max-width: 350px;
    right: 0;
    position: absolute;
}


    #navbarSide .navbar-nav {
        min-width: 350px;
        height: 100vh;
        padding: 10px 10px 10px 40px;
        margin: 0;
        list-style-type: none;
        font-size: 1.2em;
        position: relative;
        text-transform: uppercase;
    }

.navbar-toggler.first-button.collapsed, .navbar-toggler.first-button {
    padding: 3px 5px !important;
}

ul.sublevel.level-4 li {
    margin-top: 20px;
}

.navbar {
    margin-bottom: 0;
    min-height: 40px;
}

/* Desktop perminent overides */


#navbarSide .navbar-nav {
    float: none;
    margin: 0;
}

#navbarSide ul.sublevel.level-4 {
}

#navbarSide .navbar-nav > li {
    float: none;
    text-align: left;
    padding: 10px 40px;
}

#navbarSide .navbar-nav > .haschildren {
    padding: 10px 40px;
}

#navbarSide .level-4 {
    list-style-type: none;
}

#navbarSide .level-4 {
    padding: 0;
}



    #navbarSide .level-4 li {
        list-style-type: none;
    }


        #navbarSide .level-4 li img {
            display: none;
        }

#navbarSide ul li a {
    line-height: 26px;
}


#navbarSide li.haschildren ul li {
    opacity: 0;
    height: 0;
    transition: all 0.5s ease-in-out;
}

#navbarSide li.haschildren.selected ul li {
    min-height: 25px;
    opacity: 1;
}

.headerplaceholder {
    padding-top: 65px;
}



.linkblock, .imageAsBoxContainer {
    float: none;
    display: inline-grid;
}

#parallax-container .linkblock {
    max-width: 400px;
}



.haschildren .childrenhook {
    display: inline-block;
    transition: all 1s ease-in-out;
    min-width: 20px;
    margin: 0 0 0 -25px;
    font-size: 1.2em;
}

#navbarSide .haschildren .childrenhook:before {
    content: "+";
    color: var(--main-primarycolor);
}

#navbarSide .haschildren.selected .childrenhook:before {
    animation: changeLetter 0.5s linear alternate;
    content: "-";
}

#navbarSide .level-4 p {
    font-size: 0.8em
}


@keyframes changeLetter {
    0% {
        content: "+";
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        content: "-";
        opacity: 1;
    }
}



nav span, .linkcollection a, .navbar-nav span {
    text-decoration: none;
    width: 100%;
    position: relative;
}

    nav span:after, .linkcollection a:after, .navbar-nav span:after {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        left: 0;
        right: 0;
        bottom: -5px;
        content: " ";
        display: block;
        margin: 0 auto;
        -webkit-transition: all 280ms ease-in-out;
        transition: all 280ms ease-in-out;
        width: 0;
        position: absolute;
    }

    nav span:hover:after, .linkcollection a:hover:after, .navbar-nav span:hover:after {
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden;
        -webkit-transition: width 350ms ease-in-out;
        transition: width 350ms ease-in-out;
        width: 100%;
    }

    nav span:hover:before, .linkcollection a:hover:before, .navbar-nav span:before {
        bottom: auto;
        top: 0;
        width: 100%;
    }







.form-control:focus, #keywords {
    border-color: #b68e4c;
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}



a.galleryimagelink.inview {
    opacity: 1;
}

a.galleryimagelink {
    opacity: 0;
    -webkit-transition: all 0.2s ease-in-out;
    -o-transition: all 0.2s ease-in-out;
    transition: all 0.2s ease-in-out;
}

    a.galleryimagelink img {
        transform: scale(0);
    }

    a.galleryimagelink.inview img {
        transform: scale(1);
    }


.modal .fade.in {
    background: rgba(0,0,0,0.6);
}


#navbarSide .selected ul.sublevel.level-4 {
    display: inline;
}

#navbarSide ul.sublevel.level-4 {
    display: none;
}




.hidemiddlecolumn .singlecolumncontainer .col-sm-4.col-xs-4 {
    display: none;
}

#parallax-container {
    background-repeat: no-repeat !important;
    background-attachment: fixed !important;
    background-size: cover !important;
}

@media (max-width:768px) {
    body.is-os #parallax-container {
        background-size: cover !important;
        background-attachment: scroll !important;
        background-repeat: repeat !important;
        background: #666 !important;
    }
}


@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body.is-os #parallax-container {
        background-position: center !important;
        background-size: 100% !important;
        background-repeat: no-repeat !important;
        background-attachment: initial !important;
        background: #666 !important;
    }
}

.reservewidth .col-lg-3.col-md-3.col-sm-3.col-xs-12.column {
    min-width: 350px !important;
}

.formheadercontainer {
    position: relative;
    width: 100%;
    height: 150px;
    border-bottom: 20px solid #fff;
    overflow: hidden;
}

    .formheadercontainer img {
        position: absolute;
        left: 0;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        width: 100px; /* Need a specific value to work */
    }

    .formheadercontainer span {
        background: url(/Media/popup_slices3.jpg) center;
        background-size: cover;
        width: 100%;
        height: 100px;
        display: block;
        margin-top: 50px;
    }

.formheaderspacer {
    background: url(/Media/popup_slices4.jpg) center;
    background-size: cover;
    width: 100%;
    height: 20px;
    display: block;
}

/* Cookie concent text colour overide */

span.cc-message {
    color: #fff;
}

/* jquery age verification overide */

.content_wrapper ul {
    list-style-type: none;
    margin: 0 auto;
    padding: 0;
}

.content_wrapper li {
    display: inline-block;
    padding: 10px;
}

#modal_content .content_wrapper {
    width: 95vw;
    margin: 3em auto 0;
}

@media (min-width: 688px) {
    #modal_content .content_wrapper {
        width: 100%;
        padding-top: 0 !important;
    }
}





ul#slider .container {
    width: 100% !important;
}

.linkblocks {
    margin-left: -15px;
    margin-right: -15px;
}

picture img {
    height: 100%;
    position: absolute;
    filter: brightness(0.5);
}
