:root {
    --main-bordercolor: #b6b6b6;
	--main-backcolor: #e5e5e5;
	--main-forcolor: #000;
	--main-ctacolor: #BE8371;
}



#checkout.embed #checkout-wrapper, #checkout.button #checkout-wrapper {
    border-radius: 0px;
    max-width: 320px;
}
#checkout-header .title {
    text-transform: uppercase;
    color: var(--main-forcolor);
}
#checkout.embed #checkout-wrapper>*:first-child, #checkout.button #checkout-wrapper>*:first-child {
	border: 0px solid #e8ebed;
	border-bottom: 1px solid var(--main-bordercolor);
}
#checkout-header, #checkout-calendar .calendar-header {
    background: var(--main-backcolor);
}
#checkout-header .locale {
    border-top: 1px solid var(--main-bordercolor);
}
#checkout-header .locale .omega {
    border-left: 1px solid var(--main-bordercolor);
}
#checkout.embed #checkout-body {
    background: var(--main-backcolor);
}
#checkout.embed #checkout-body, .checkbox .checkbox-input {
    border: 0px solid #e8ebed;
}
.checkout-discount, .summary-discount {
    background: var(--main-backcolor);
    border-bottom: 1px solid var(--main-bordercolor);
}
.checkout-discount>.icon-discount, .summary-discount>.icon-discount {
    color: var(--main-ctacolor);
}
#checkout-tickets .tier>.quantity>.plus, #checkout-tickets .tier>.quantity>.minus {
    border-radius: 0px;
	background: white;
}
label a, .accent-color {
    color: var(--main-ctacolor);
}
.accent-background, #times-body>.options>.option.available>.price:before {
    background-color: var(--main-ctacolor);
}
button#checkout-btn-next span, button#checkout-btn-prev span {
	color: white;
	text-transform:uppercase;
}
#checkout.embed #checkout-wrapper>*:last-child, #checkout.button #checkout-wrapper>*:last-child, .input-collection>.form-group:last-child input, .input-collection>.form-group:last-child textarea, .input-collection>.form-group:last-child select, .checkout-discount>input, .summary-discount>input, #checkout.embed #checkout-wrapper>*:first-child, #checkout.button #checkout-wrapper>*:first-child, .input-collection>.form-group:first-child input, .input-collection>.form-group:first-child textarea, .input-collection>.form-group:first-child select, #checkout-calendar .calendar-body .day {
	border-radius: 0px;
}
#checkout-calendar .calendar-header, #times-header {
	background: var(--main-backcolor);
	border-bottom: 1px solid var(--main-bordercolor);
}
#checkout-calendar .calendar-body .day.available, #times-header .day.available, .accent-background-important {
	background:	white;
	border:none;
	color: var(--main-ctacolor) !important;
}
#checkout-calendar .calendar-body .day.available:hover, #times-header .day.available:hover, #times-header .day.available.current {
    color: white !important;
    background: var(--main-ctacolor);
}
#times-body>.options>.option>.time:after {
	content: none;
}
.input-collection {
    border: 0px solid #edeff0;
    border-radius: 0px;
}
.form-group .form-control-icon {
	background: white;
}