﻿<div class="spinner" ng-show="OptionsLoading" align="center"><img src="/images/redloader.gif"></div>
<div id="optionType-giftWrap" ng-show="!OptionsLoading" ng-model="Option">
    <div class="optionsContainer optionInline">
        <div ng-repeat="Option in GiftWrap">
            <span class="optionInline">{{Option.Name}}</span><input id="{{Option.OptionId}}" name="giftwrap" type="radio" ng-model="$parent.Option" ng-value="{{Option}}" />
            <div ng-hide="HideTemplate">
                <div opt-template="Option.Attributes[0].Value">
                </div>
                <div class="optionsButton">
                    <button type="button" class="close optionNoFloat" ng-click="AddToOptionCollection(Option)"><span class="flxAttributesClose">Add</span></button>
                </div>
            </div>
        </div>
    </div>
</div>