﻿<div class="spinner" ng-show="OptionsLoading" align="center"><img src="/images/redloader.gif"></div>
<div id="optionType-personalisation" ng-show="!OptionsLoading" ng-model="Option">
    <div class="optionsContainer">
        <div ng-repeat="Option in PersonalisationOptions">
            <input id="{{Option.OptionId}}" name="personalisation" type="radio" ng-model="$parent.Option" ng-change="ToggleTemplateHide()" ng-value="{{Option}}" />{{Option.Name}}
            <div ng-hide="HideTemplate">
                <div class="option" opt-template="Option.Attributes[0].Value"></div>
                <div class="optionsButton">
                    <button type="button" class="close optionNoFloat" data-dismiss="modal">
                        <span class="flxAttributesClose" aria-hidden="true" ng-click="AddToOptionCollection(Option)">Add</span>
                    </button>
                </div>
            </div>
        </div>
    </div>
</div>