<select ng-model="model.value">
    <option value="" ng-selected="{{model.value == null}}">none</option>
    <option ng-repeat="preval in model.prevalues" ng-selected="{{model.value != null && (model.value == preval.value || model.value == preval)}}" value="{{preval.value || preval}}">{{preval.label || preval.value || preval}}</option>
</select>