﻿@inherits Umbraco.Web.Mvc.UmbracoTemplatePage<ContentModels.BlogPost>
@using ContentModels = Umbraco.Web.PublishedContentModels;
<!-- BOF - Views/blogPage -->

@{
    Layout = "Master.cshtml";
}
@{
    int settingsNodetemp = 0;
    int blogNodetemp = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodetemp = item.Id;
        }
        if (item.Name == "Blog")
        {
            blogNodetemp = item.Id;
        }
    }
    var settingsNode = Umbraco.Content(settingsNodetemp);
    var blogNode = Umbraco.Content(blogNodetemp);
}


@{
    IPublishedContent featThumb = Model.Content.GetPropertyValue<IPublishedContent>("postImage");

    <div style="position:relative;">
        <ul id="slider" style="width: auto; position: relative;">
            <li alt="@CurrentPage.Name">
                <picture>
                    <source media="(min-width: 1600px)" srcset="@Url.GetCropUrl(featThumb, "Desktop Large")">
                    <source media="(min-width: 1220px)" srcset="@Url.GetCropUrl(featThumb, "Desktop Small")">
                    <source media="(min-width: 768px)" srcset="@Url.GetCropUrl(featThumb, "Tablet Small")">
                    <source media="(min-width: 0px)" srcset="@Url.GetCropUrl(featThumb, "Mobile")">
                    <img src="@Url.GetCropUrl(featThumb, "Desktop Large")">
                </picture>
                <span class="slideroverlayh"><img src="/Media/H_Opacity.png" /></span>
                <div class="container">
                    <div class="centerslider">
                        <div class="slidertext homeoverlaylayer2">
                            <div class="headertextinverted">@CurrentPage.postDate.ToString("MMMM dd yyyy")</div>
                            <br />
                            <h1 class="headertext">@CurrentPage.Name</h1>
                            <p>
                                @if (CurrentPage.HasValue("postDescription"))
                                {
                                    @Umbraco.Truncate(Umbraco.StripHtml(CurrentPage.postDescription), 200, true)
                                }
                                else
                                {
                                    @Umbraco.Truncate(Umbraco.StripHtml(CurrentPage.GetGridHtml(Html, "content")), 500, true)
                                }
                            </p>
                        </div>
                    </div>
                </div>
            </li>
        </ul>
    </div>

    <div class="pagecontainer post center" @(settingsNode.HasValue("websiteGutter") ? Html.Raw(" style=\"max-width:" + settingsNode.websiteGutter + ";\"") : Html.Raw(" style=\"width:100%;\""))>
        
            <p class="headertextinverted">@CurrentPage.postDate.ToString("MMMM dd yyyy")</p>
            <br />
            <h1 class="headertext">@CurrentPage.Name</h1>
			        <br />
						<div class="buttongroup">
							<div class="socialblock buttonspaceclass">
								@{var socialLink = "";}

								@if (!String.IsNullOrEmpty(CurrentPage.GetValue<string>("socialLink")))
								{
									socialLink = CurrentPage.GetValue<IPublishedContent>("socialLink").Url;
								}
								else { socialLink = HttpContext.Current.Request.Url.ToString(); }

								@if (settingsNode.HasValue("facebookLink"))
								{@Html.Raw("<a href=\"https://www.facebook.com/sharer/sharer.php?u=" + socialLink + "\" target=\"_blank\"><i class=\"fa fa-facebook\" aria-hidden=\"true\"></i></a>");
							}
								@if (settingsNode.HasValue("twitterLink"))
								{@Html.Raw("<a href=\"https://twitter.com/home?status=" + socialLink + "\" target=\"_blank\"><i class=\"fa fa-twitter\" aria-hidden=\"true\"></i></a>");
							}
								@if (settingsNode.HasValue("instagramLink"))
								{@Html.Raw("<a href=\"https://pinterest.com/pin/create/button/?url=" + socialLink + "\" target=\"_blank\"><i class=\"fa fa-instagram\" aria-hidden=\"true\"></i></a>");
							}
								@if (settingsNode.HasValue("youtubeLink"))
								{@Html.Raw("<a href=\"" + socialLink + "\" target=\"_blank\"><i class=\"fa fa-youtube\" aria-hidden=\"true\"></i></a>");
							}
							</div>
						</div>
            <div class="postcontent">
                @CurrentPage.GetGridHtml(Html, "content")
            </div>

        @{var featured = blogNode.Children.Where("featured == true").OrderBy("sortorder desc").Take(4); }

        <div class="blogpostcontainer row">
            @foreach (var sub in featured)
            {
                IPublishedContent mediaitem = sub.GetPropertyValue<IPublishedContent>("postImage");

                <div class="blogpost col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="@sub.Url">
                        <div class="image">
                            <img src="@Url.GetCropUrl(mediaitem, 600, 600)" alt="@sub.postImage" />
                            <div class="blogtestalignment">
                                <span class="headertextinverted">@sub.postDate.ToString("MMMM dd yyyy")</span>
                                <br />
                                <p class="headertext">@sub.Name</p>
                            </div>
                        </div>
                        @{
                            if (sub.HasValue("postDescription"))
                            {
                                <p class="blogdescription">@Umbraco.Truncate(Umbraco.StripHtml(sub.postDescription), 100, true)</p>
                            }
                            else
                            {
                                <p class="blogdescription">@Umbraco.Truncate(Umbraco.StripHtml(sub.GetGridHtml(Html, "content")), 250, true)</p>
                            }
                        }
                        <div class="buttongroup">
                            <button type="button" class="btn btn-success">Read More</button>
                        </div>
                    </a>
                </div>
            }
        </div>
    </div>
}
    <!-- EOF - Views/blogPage -->
