﻿@inherits UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Web.PublishedContentModels;
<!-- EOF - Views/FunctionPage -->

@{
    Layout = "Master.cshtml";
}
@{
    int settingsNodetemp = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodetemp = item.Id;
        }
    }
    var settingsNode = Umbraco.Content(settingsNodetemp);
}

@if (Model.GetPropertyValue<bool>("sliderEnabled")) { @Umbraco.RenderMacro("pageSlider") } else { <div class="headerplaceholder">&nbsp;</div> }

@if (Model.GetPropertyValue<bool>("displayBreadcrumb"))
{@Umbraco.RenderMacro("breadcrumb")}




    @Model.GetGridHtml("Content")


@if ((Model.HasValue("alternativeFooterLinkBlock")) && (Model.GetPropertyValue<bool>("showFooterLinkBlock")))
{
    @Umbraco.RenderMacro("linkblock", new { linkSource = Model.GetPropertyValue("alternativeFooterLinkBlock") })
}
else if ((settingsNode.HasValue("footerLinkBlock")) && (Model.GetPropertyValue<bool>("showFooterLinkBlock")))
{
    @Umbraco.RenderMacro("linkblock", new { linkSource = settingsNode.footerLinkBlock })
}


@if ((settingsNode.HasValue("footerEmailSignup")) && (Model.GetPropertyValue<bool>("showFooterEmailSignup")))
{
    var emailblock = settingsNode.footerEmailSignup;
    @Umbraco.RenderMacro("renderGrid", new { linkSource = emailblock })

}


<!-- EOF - Views/FunctionPage -->
