﻿@inherits UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Web.PublishedContentModels;

@{
    Layout = "Master.cshtml";
}
@{
    int settingsNodetemp = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodetemp = item.Id;
        }
    }
    var settingsNode = Umbraco.Content(settingsNodetemp);
}

@if (Model.GetPropertyValue<bool>("sliderEnabled")) { @Umbraco.RenderMacro("pageSlider") } else { <div class="headerplaceholder">&nbsp;</div> }

@if (Model.GetPropertyValue<bool>("displayBreadcrumb"))
{@Umbraco.RenderMacro("breadcrumb")}


@Model.GetGridHtml("Content")


@if ((settingsNode.HasValue("footerLinkBlock")) && (Model.GetPropertyValue<bool>("showFooterLinkBlock")))
{
    var footblock = settingsNode.footerLinkBlock;
    @Umbraco.RenderMacro("linkblock", new { linkSource = footblock })
}

@if ((settingsNode.HasValue("footerEmailSignup")) && (Model.GetPropertyValue<bool>("showFooterEmailSignup")))
{
    var emailblock = settingsNode.footerEmailSignup;
    @Umbraco.RenderMacro("renderGrid", new { linkSource = emailblock })
}

