﻿@inherits UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@using ClientDependency.Core.Mvc;
@{
    Layout = null;

    int settingsNodetemp = 0;
    int tabletPageTemp = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodetemp = item.Id;
        }
        else if (item.Name == "Tablet Pages")
        {
            tabletPageTemp = item.Id;
            continue;
        }
    }
    var settingsNode = Umbraco.Content(settingsNodetemp);
    var tabletPage = Umbraco.Content(tabletPageTemp);

    var queryPage = "";
    Uri myUri = new Uri(Request.Url.AbsoluteUri);
    queryPage = HttpUtility.ParseQueryString(myUri.Query).Get("queryPage");;
	


    Html.RequiresCss("~/Css/font-awesome.min.css");
    Html.RequiresCss("~/Css/bootstrap.min.css");
    Html.RequiresCss("~/Css/jquery.bxslider.css");
    Html.RequiresCss("~/Css/styles.css");
    Html.RequiresCss("~/Css/helpers.css");
    Html.RequiresCss("~/slick/slick.css");
    Html.RequiresCss("~/slick/slick-theme.css");

    Html.RequiresJs("~/Scripts/bootstrap.min.js");
    Html.RequiresJs("~/Scripts/jquery.validate-min.js");
    Html.RequiresJs("~/Scripts/jquery.validate.unobtrusive-min.js");
    Html.RequiresJs("~/Scripts/jquery.unobtrusive-ajax-min.js");
    Html.RequiresJs("~/slick/slick.min.js");
    Html.RequiresJs("~/Scripts/jquery.bxslider.js");
    Html.RequiresJs("~/Scripts/simpleparallax.js");

    <script src="~/Scripts/jquery-1.12.4.min.js"></script> @* MUST be loaded first and seperate to all the rest or things stop working! *@

    if (settingsNode.GetPropertyValue<bool>("displayWarningMessage"))
    {
        Html.RequiresCss("~/Css/age-verification.css");
        Html.RequiresJs("~/Scripts/age-verification.js");
        Html.RequiresJs("~/Scripts/jquery.cookie.min.js");
    }
    if (settingsNode.GetPropertyValue<bool>("displayCookieMessage"))
    {
        Html.RequiresCss("~/Css/cookieconsent.min.css");
        Html.RequiresJs("~/Scripts/cookieconsent.min.js");
    }

}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (settingsNode.HasValue("googleTagManager"))
    {
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','@Html.Raw(settingsNode.googleTagManager)');
        </script>
    }
    else if (settingsNode.HasValue("googleAnalyticsId"))
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=@Html.Raw(settingsNode.googleAnalyticsId)"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '@Html.Raw(settingsNode.googleAnalyticsId)');
        </script>
    }

    <title>@(Model.HasValue("metaTitle") ? Model.GetPropertyValue<string>("metaTitle") : Model.Name + " | " + settingsNode.websiteTitle)</title>
    <meta name="keywords" content="@(Model.HasValue("metaKeywords") ? Model.GetPropertyValue<string>("metaKeywords") :  Model.GetPropertyValue<string>("Name") + ", " + settingsNode.websiteTitle)" />
    <meta name="description" content="@(Model.HasValue("metaDescription") ? Model.GetPropertyValue<string>("metaDescription") : Model.GetPropertyValue<string>("Name") + " " + settingsNode.websiteTitle)" />
    <meta name="robots" content="@(settingsNode.GetPropertyValue<bool>("robotsTxt") ? "index, follow" : "noindex, nofollow")" />
    @if (Model.HasValue("canonicalLink"))
    {@Html.Raw("    <link rel=\"canonical\" href=\"" + Model.GetPropertyValue<string>("canonicalLink") + "\">\n");
}
    @if (settingsNode.HasValue("websiteFavIcon"))
    {@Html.Raw("<link rel=\"shortcut icon\" type=\"image/x-icon\" href=\"" + @settingsNode.websiteFavIcon + "\">\n");
}
    @{ Html.RenderPartial("openGraph"); }

    @Html.RenderCssHere()

	@Html.RenderJsHere()

</head>
<body>
    @if (!string.IsNullOrEmpty(Request.QueryString["queryPage"]))
    {

        <header class="navbar-fixed-top">
            <div class="headercontainer">
                <div class="row">
                    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4"></div>

                    <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 websitelogo">
                            <img src="@(settingsNode.websiteLogo)" alt="@(settingsNode.websiteTitle)">
                    </div>

                    <div class="col-lg-5 col-md-5 col-sm-4 col-xs-4"></div>
                </div>
            </div>
        </header>

        <div class="headerplaceholder">&nbsp;</div>
        <div style="display:none;">@RenderBody()</div>

        var linkPage = 0;

        foreach (var link in tabletPage.Children)
        {
            if (link.name == queryPage)
            {
                linkPage = link.Id;
                break;
            }
        }

        @Umbraco.Content(linkPage).GetGridHtml("content", "Bootstrap3Custom");

    }
    else
    {

        if (settingsNode.HasValue("googleTagManager"))
        {
            <noscript>
                <iframe src="https://www.googletagmanager.com/ns.html?id=@Html.Raw(settingsNode.googleTagManager)" height="0" width="0" style="display:none;visibility:hidden"></iframe>
            </noscript>
        }

        <header class="navbar-fixed-top">
            @{ Html.RenderPartial("centerlogoNavigation"); } @* Here you can decide on your top menu style or even make your own. Use Partial Views. Original is mainNavigation *@
        </header>

        @RenderBody()

        <div class="push"></div>
        <div class="pagecontainer" @(settingsNode.HasValue("websiteGutter") ? Html.Raw(" style=\"max-width:" + settingsNode.websiteGutter + ";\"") : Html.Raw(" style=\"width:100%;\""))>
            <footer>
                @settingsNode.GetGridHtml("content", "Bootstrap3Custom")
                <div class="copyright">Copyright ©@DateTime.Now.ToString("yyyy") @settingsNode.websiteTitle</div>
            </footer>
        </div>

    }
    
	


    <script defer src="~/Scripts/website.js"></script>

<link href="https://fonts.googleapis.com/css?family=Montserrat:100,200,300,400,500,600,700&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Oswald&display=swap" rel="stylesheet">

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script async src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script async src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
	
	<div class="modal fade" id="example" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <a class="close" data-dismiss="modal">×</a>
                    <h3>This is a Modal Heading</h3>
                </div>
                <div class="modal-body">
                </div>
                <div class="modal-footer">
                    <a href="#" class="btn btn-success">Call to action</a>
                    <a href="#" class="btn" data-dismiss="modal">Close</a>
                </div>
            </div>
        </div>
    </div>

	
	
    @if (settingsNode.GetPropertyValue<bool>("displayCookieMessage"))
    {
        <script>
            window.addEventListener("load", function () {
                window.cookieconsent.initialise({
                    "palette": {
                        "popup": {
                            "background": "#252e39"
                        },
                        "button": {
                            "background": "#14a7d0"
                        }
                    },
                    "content": {
                        "href": "/cookie-policy"
                    }
                })
            });
        </script>
    }

</body>
</html>
@*

    Animate on scroll: http://michalsnik.github.io/aos/
    BX Slider: https://bxslider.com/
    Full Screen Video https://codepen.io/dudleystorey/pen/knqyK
    Slick Carousel: https://kenwheeler.github.io/slick/
    Match Height JS: https://github.com/liabru/jquery-match-height
    Age Verification: https://www.jqueryscript.net/other/Website-Age-Verification-Plugin-with-jQuery.html
    Age Verification: https://github.com/Herudea/age-verification
*@