﻿@inherits UmbracoViewPage<IPublishedContent>
@using ContentModels = Umbraco.Web.PublishedContentModels;
@{
    Layout = null;
}
@*
    Animate on scroll: http://michalsnik.github.io/aos/
    BX Slider: https://bxslider.com/
    Full Screen Video https://codepen.io/dudleystorey/pen/knqyK
    Slick Carousel: https://kenwheeler.github.io/slick/
    Match Height JS: https://github.com/liabru/jquery-match-height
*@
@{
    int settingsNodetemp = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodetemp = item.Id;
        }
    }
    var settingsNode = Umbraco.Content(settingsNodetemp);
}<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    @if (settingsNode.HasValue("googleTagManager"))
    {
        <script>
            (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
            new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
            })(window,document,'script','dataLayer','@Html.Raw(settingsNode.googleTagManager)');
        </script>
    }
    else if (settingsNode.HasValue("googleAnalyticsId"))
    {
        <script async src="https://www.googletagmanager.com/gtag/js?id=@Html.Raw(settingsNode.googleAnalyticsId)"></script>
        <script>
            window.dataLayer = window.dataLayer || [];
            function gtag() { dataLayer.push(arguments); }
            gtag('js', new Date());
            gtag('config', '@Html.Raw(settingsNode.googleAnalyticsId)');
        </script>
    }

    <title>@(Model.HasValue("metaTitle") ? Model.GetPropertyValue<string>("metaTitle") : Model.GetPropertyValue<string>("Name") + " | " + settingsNode.websiteTitle)</title>
    <meta name="keywords" content="@(Model.HasValue("metaKeywords") ? Model.GetPropertyValue<string>("metaKeywords") :  Model.GetPropertyValue<string>("Name") + ", " + settingsNode.websiteTitle)" />
    <meta name="description" content="@(Model.HasValue("metaDescription") ? Model.GetPropertyValue<string>("metaDescription") : Model.GetPropertyValue<string>("Name") + " " + settingsNode.websiteTitle)" />
    @if (Model.HasValue("canonicalLink"))
    {@Html.Raw("    <link rel=\"canonical\" href=\"" + Model.GetPropertyValue<string>("canonicalLink") + "\">\n");
}
    @if (settingsNode.HasValue("websiteFavIcon"))
    {@Html.Raw("<link rel=\"shortcut icon\" type=\"image/x-icon\" href=\"" + @settingsNode.websiteFavIcon + "\">\n");
}
    @{ Html.RenderPartial("openGraph"); }

    <meta name="robots" content="@(settingsNode.GetPropertyValue<bool>("robotsTxt") ? "index, follow" : "noindex, nofollow")" />

    <link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

    <link async rel="stylesheet" type="text/css" href="~/Css/font-awesome.min.css">

    <script src="https://code.jquery.com/jquery-1.12.4.min.js" integrity="sha384-nvAa0+6Qg9clwYCGGPpDQLVpLNn0fRaROjHqs13t4Ggj3Ez50XnGQqc/r8MhnRDZ" crossorigin="anonymous"></script>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    @*   <!-- NOT REQUIRED AT ALL! -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css" integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp" crossorigin="anonymous">
    *@

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa" crossorigin="anonymous"></script>

    @*
        <script src="~/Scripts/bootstrap.min.js"></script>

        <link async rel="stylesheet" type="text/css" href="~/Content/bootstrap.min.css">
    *@

    <link href="~/Css/aos.css" rel="stylesheet">

    <script src="~/Scripts/jquery.validate-min.js"></script>
    <script src="~/Scripts/jquery.validate.unobtrusive-min.js"></script>
    <script src="~/Scripts/jquery.unobtrusive-ajax-min.js"></script>

    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery.matchHeight/0.7.0/jquery.matchHeight.js"></script>
    <script type="text/javascript" src="slick/slick.min.js"></script>

    <script src="~/Scripts/jquery.bxslider.js"></script>
    <script src="~/Scripts/simpleparallax.js"></script>
    @*
        if (Request.Url.Host.Contains("localhost"))
    *@
    <!-- localhost -->
    <script async src="~/Scripts/jquery.matchHeight.js"></script>
    <script async src="~/Scripts/aos.js"></script>
    <script async src="~/Scripts/website.js"></script>
    <link async rel="stylesheet" type="text/css" href="~/Css/aos.css">
    <link async rel="stylesheet" type="text/css" href="~/Css/jquery.bxslider.css">
    <link async rel="stylesheet" type="text/css" href="~/Css/styles.css">
    <link async rel="stylesheet" type="text/css" href="~/Css/helpers.css">

    @* }
            else
            {
            <!-- A hosted server -->
            <script async src="~/dist/aos-min.js"></script>
            <script async src="~/dist/website-min.js"></script>
            <link async rel="stylesheet" type="text/css" href="~/dist/aos-min.css">
            <link async rel="stylesheet" type="text/css" href="~/dist/jquery-bxslider-min.css">
            <link async rel="stylesheet" type="text/css" href="~/dist/styles-min.css">
            <link async rel="stylesheet" type="text/css" href="~/dist/helpers-min.css">
            }
        }*@

    <link rel="stylesheet" type="text/css" href="slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="slick/slick-theme.css" />




    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
      <script async src="//oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
      <script async src="//oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->


</head>
<body>
    @if (settingsNode.HasValue("googleTagManager"))
    {
        <noscript>
            <iframe src="https://www.googletagmanager.com/ns.html?id=@Html.Raw(settingsNode.googleTagManager)" height="0" width="0" style="display:none;visibility:hidden"></iframe>
        </noscript>
    }


    <header class="navbar-fixed-top">

        @* Here you can decide on your top menu style or even make your own. Use Partial Views. Original is mainNavigation *@

        @{ Html.RenderPartial("centerlogoNavigation"); }

    </header>


    @if (settingsNode.GetPropertyValue<bool>("displayWarningMessage"))
    {@Umbraco.RenderMacro("entryMessage")}

    @RenderBody()


    <div class="push"></div>

    <div class="pagecontainer" @(settingsNode.HasValue("websiteGutter") ? Html.Raw(" style=\"max-width:" + settingsNode.websiteGutter + ";\"") : Html.Raw(" style=\"width:100%;\""))>
        <footer>
            @settingsNode.GetGridHtml("content")
            <div class="copyright">Copyright ©@DateTime.Now.ToString("yyyy") @settingsNode.websiteTitle</div>
        </footer>
    </div>

    <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    This modal!
                    <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true" class="fa fa-times-circle"></span></button>
                </div>
                <div class="modal-body">
                </div>
            </div>
        </div>
    </div>


    <link rel="stylesheet" type="text/css" href="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.css" />
    <script src="//cdnjs.cloudflare.com/ajax/libs/cookieconsent2/3.1.0/cookieconsent.min.js"></script>
    <script>
        window.addEventListener("load", function () {
            window.cookieconsent.initialise({
                "palette": {
                    "popup": {
                        "background": "#252e39"
                    },
                    "button": {
                        "background": "#14a7d0"
                    }
                },
                "content": {
                    "href": "/cookie-policy"
                }
            })
        });
    </script>

</body>
</html>