﻿
<style>
    input.filter {
        margin-bottom: 20px;
        display: block;
    }

    input.categoryCheckList {
        display: inline;
        width: 20px;
        height: 20px;
        margin: 0px 2px 10px 0;
    }

    div.categorySelectorContainer {
        width: 100%;
    }

    div.category {
        margin: 0 0 12px 25px;
        display: inline-block;
        width: 250px;    
    }
</style>
<div class="categorySelectorContainer" ng-controller="flx.categorySelectorController">
    <input class="filter" style="" type="text" placeholder="Find a Category" ng-model="CategoryName" />
    {{error}}
    <div class="category" ng-repeat="Category in Categories | filter: CategoryName">
        <input class="categoryCheckList" type="checkbox" ng-model="Category.Selected" ng-change="SelectedCatagory({{Category.Info.CategoryID}})" />{{Category.Info.Name}}
    </div>
</div>

