﻿<div class="umb-property leekes-keyvalue" ng-controller="Leekes.Umbraco.KeyValueExtension.KeyValueConverter">
    <div class="umb-property ng-scope">
        <div class="control-group umb-control-group">
            <div class="umb-el-wrap">
                <label class="control-label">Key Value Pairing</label>
                <div class="controls">
                    <div class="umb-property-editor ng-scope">
                        <div class="add-metadata">
                            <input type="text" ng-model="metadata.key" placeholder="metadata key" />
                            <input type="text" ng-model="metadata.value" placeholder="metadata value" />
                            <a class="btn" href="#" ng-click="addMetadata()" prevent-default="">
                                <localize key="general_add">Add</localize>
                            </a>
                        </div>
                        <div class="list-metadata">
                            <table class="table table-striped">
                                <thead>
                                    <tr>
                                        <th>
                                            Key
                                        </th>
                                        <th>
                                            Value
                                        </th>
                                        <th></th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr ng-repeat="item in model.value.metadata track by $index">
                                        <td>
                                            {{item.key}}
                                        </td>
                                        <td>
                                            {{item.value}}
                                        </td>
                                        <td>
                                            <a href="#" ng-click="removeMetadata($index)" prevent-default="">
                                                <i class="icon icon-delete red"></i>
                                                <localize key="general_delete" class="ng-isolate-scope ng-scope">Remove</localize>
                                            </a>
                                        </td>
                                    </tr>
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>