﻿<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/App_Plugins/flxCommerceApplication/backoffice/css/flxAdminTools.css?v=1">



<div class="umb-panel-body umb-scrollable row-fluid" ng-controller="flxMainDashboard.Controller" style="margin-top:-83px;">


    <table class="tile-table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td class="tile-table50">
               
                        <h3 class="dashboardHeader">Flexeweb Commerce Dashboard</h3>
                  
                   
                        <table class="tile-table">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td class="tile-table50">

                                    <img src="/App_Plugins/flxCommerceApplication/backoffice/images/FlexewbCommerce.jpg" alt="Flexeweb Commerce" class="dashboardLogo" style="height:150px;width:150px;" />


                                </td>
                                <td class="tile-table50">
                                    <p>Welcome to your Flexeweb Commerce dashboard.</p>
                                    <p>Use the quick links below to access common tools or use the navigation tree on the left</p>
                                </td>

                            </tr>
                        </table>



            </td>
            <td class="tile-table50">
                <div class="panel panel-blue">
                    <div class="panel-heading">
                        <h2>Revenue Overview</h2>
                    </div>
                    <div class="panel-body">
                        <table class="tile-table">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <!-- <td class="tile-table25">
                                     <div class="flx-tile tile-blue" style="visibility: visible; opacity: 1; display: block; ">
                                         <div class="tile-icon"><i class="fa fa-shopping-cart"></i></div>
                                         <div class="tile-heading"><span>Awaiting dispatch</span></div>
                                         <div class="tile-body"><span>{{OrderList.AwaitingDispatch.length || "0"}}</span></div>
                                         <div class="tile-footer"></div>
                                     </div>
                                 </td>
                                 <td class="tile-table25">
                                     <div class="flx-tile tile-orange" style="visibility: visible; opacity: 1; display: block; ">
                                         <div class="tile-icon"><i class="ti ti-shopping-cart-full"></i></div>
                                         <div class="tile-heading"><span>Awaiting Dispatch Total</span></div>
                                         <div class="tile-body"><span>{{OrderList.AwaitingDispatch.Total || "0" | currency:OrderList[0].AwaitingDispatch.Currency.Symbol:2  }}</span></div>
                                         <div class="tile-footer"></div>
                                     </div>
                                 </td>-->
                                <td class="tile-table50">
                                    <div class="flx-tile tile-green" style="visibility: visible; opacity: 1; display: block; ">
                                        <div class="tile-icon"><i class="fa fa-bar-chart"></i></div>
                                        <div class="tile-heading"><span>Total Orders over last 7 days</span></div>
                                        <div class="tile-body"><span>{{lastSevenDaysNumberOfOrders || "0"}}</span></div>
                                        <div class="tile-footer">
                                            <span class="tile-text-success" ng-if="orderNumberPercentageChange > 0">{{orderNumberPercentageChange | number:0  }}%<i class="fa fa-level-up"></i></span>
                                            <span class="tile-text-warning" ng-if="orderNumberPercentageChange <= 0">{{orderNumberPercentageChange | number:0  }}%<i class="fa fa-level-down"></i></span>

                                        </div>
                                    </div>
                                </td>

                                <td class="tile-table50">
                                    <div class="flx-tile tile-orange" style="visibility: visible; opacity: 1; display: block; ">
                                        <div class="tile-icon"><i class="fa fa-line-chart"></i></div>
                                        <div class="tile-heading"><span>Last 7 days Total</span></div>
                                        <div class="tile-body"><span>{{lastSevenDaysOrderTotal || "0" | currency:OrderList[0].AwaitingDispatch.Currency.Symbol:2   }}</span></div>
                                        <div class="tile-footer">
                                            <span class="tile-text-success" ng-if="orderTotalPercentageChange > 0">{{orderTotalPercentageChange | number:0  }}%<i class="fa fa-level-up"></i></span>
                                            <span class="tile-text-warning" ng-if="orderTotalPercentageChange <= 0">{{orderTotalPercentageChange | number:0  }}%<i class="fa fa-level-down"></i></span>
                                        </div>
                                    </div>
                                </td>
                            </tr>
                        </table>



                    </div>
                </div>
            </td>


        </tr>

    </table>

    <table class="tile-table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td class="tile-table">
                <div class="panel panel-green">
                    <div class="panel-heading">
                        <h2>Order Management</h2>
                    </div>
                    <div class="panel-body">
                        <table class="tile-table">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td class="tile-table25">
                                    <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-Paid" class="tile-link">
                                        <div class="flx-tile tile-green" style="visibility: visible; opacity: 1; display: block; ">
                                            <div class="tile-icon"><i class="fa fa-shopping-cart"></i></div>
                                            <div class="tile-heading"><span>Paid</span></div>
                                            <div class="tile-body"><span>{{awaitingDispatch || "0"}}</span></div>
                                            <div class="tile-footer"></div>

                                        </div>
                                    </a>
                                </td>
                                <td class="tile-table25">
                                    <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-Awaiting Payment" class="tile-link">
                                        <div class="flx-tile tile-blue" style="visibility: visible; opacity: 1; display: block; ">
                                            <div class="tile-icon"><i class="fa fa-print"></i></div>
                                            <div class="tile-heading"><span>Awaiting Payment</span></div>
                                            <div class="tile-body"><span>{{awaitingPrint || "0"}}</span></div>
                                            <div class="tile-footer"></div>

                                        </div>
                                    </a>
                                </td>
                                <td class="tile-table25">
                                    <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-Completed" class="tile-link">
                                        <div class="flx-tile tile-orange" style="visibility: visible; opacity: 1; display: block; ">
                                            <div class="tile-icon"><i class="fa fa-truck"></i></div>
                                            <div class="tile-heading"><span>Orders Completed</span></div>
                                            <div class="tile-body"><span>{{shipped || "0"}}</span></div>
                                            <div class="tile-footer"></div>

                                        </div>
                                    </a>
                                </td>
                                <td class="tile-table25">
                                    <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-Cancelled" class="tile-link">
                                        <div class="flx-tile tile-danger" style="visibility: visible; opacity: 1; display: block; ">
                                            <div class="tile-icon"><i class="fa fa-minus-circle"></i></div>
                                            <div class="tile-heading"><span>Cancelled</span></div>
                                            <div class="tile-body"><span>{{cancelled || "0"}}</span></div>
                                            <div class="tile-footer"></div>

                                        </div>
                                    </a>
                                </td>
                            </tr>
                        </table>



                    </div>
                </div>
            </td>


        </tr>

    </table>

    <table class="tile-table">
        <tr>
            <th></th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
        <tr>
            <td class="tile-table">
                <div class="panel panel-bluegray">
                    <div class="panel-heading">
                        <h2>Marketing Management</h2>
                    </div>
                    <div class="panel-body">
                        <table class="tile-table">
                            <tr>
                                <th></th>
                                <th></th>
                                <th></th>
                                <th></th>
                            </tr>
                            <tr>
                                <td class="tile-table25">
                                    <a href="/umbraco/#/flxCommerce/flxTools/landing/promotion-activeCampaigns" class="tile-link">
                                        <div class="flx-tile tile-green" style="visibility: visible; opacity: 1; display: block; ">
                                            <div class="tile-icon"><i class="fa fa-check"></i></div>
                                            <div class="tile-heading"><span>Active Campaigns</span></div>
                                            <div class="tile-body"><span>{{activeCampaigns | number:0}}</span></div>
                                            <div class="tile-footer"></div>
                                        </div>
                                    </a>
                                </td>
                                <td class="tile-table25">
                                    <a href="/umbraco/#/flxCommerce/flxTools/landing/promotion-expiredCampaigns" class="tile-link">
                                        <div class="flx-tile tile-danger" style="visibility: visible; opacity: 1; display: block; ">
                                            <div class="tile-icon"><i class="fa fa-close"></i></div>
                                            <div class="tile-heading"><span>Expired Campaigns</span></div>
                                            <div class="tile-body"><span>0</span></div>
                                            <div class="tile-footer"></div>
                                        </div>
                                    </a>
                                </td>
                                 <td class="tile-table25">
                                     <a href="/umbraco/#/flxCommerce/flxTools/landing/newsletter-subscribers" class="tile-link">
                                         <div class="flx-tile tile-success" style="visibility: visible; opacity: 1; display: block; ">
                                             <div class="tile-icon"><i class="fa fa-envelope-o"></i></div>
                                             <div class="tile-heading"><span>Subscribers</span></div>
                                             <div class="tile-body"><span>{{subscribers | number:0 }}</span></div>
                                             <div class="tile-footer"></div>
                                         </div>
                                     </a>
                                </td><!--
        <td class="tile-table25">
            <div class="flx-tile tile-green" style="visibility: visible; opacity: 1; display: block; ">
                <div class="tile-icon"><i class="fa fa-line-chart"></i></div>
                <div class="tile-heading"><span>Total Orders over last 7 days</span></div>
                <div class="tile-body"><span>{{lastSevenDaysNumberOfOrders || "0"}}</span></div>
                <div class="tile-footer">
                    <span class="tile-text-success" ng-if="orderNumberPercentageChange > 0">{{orderNumberPercentageChange | number:0  }}%<i class="fa fa-level-up"></i></span>
                    <span class="tile-text-warning" ng-if="orderNumberPercentageChange <= 0">{{orderNumberPercentageChange | number:0  }}%<i class="fa fa-level-down"></i></span>

                </div>
            </div>
        </td>

        <td class="tile-table25">
            <div class="flx-tile tile-orange" style="visibility: visible; opacity: 1; display: block; ">
                <div class="tile-icon"><i class="ti ti-shopping-cart-full"></i></div>
                <div class="tile-heading"><span>Last 7 days Total</span></div>
                <div class="tile-body"><span>{{lastSevenDaysOrderTotal || "0" | currency:OrderList[0].AwaitingDispatch.Currency.Symbol:2   }}</span></div>
                <div class="tile-footer">
                    <span class="tile-text-success" ng-if="orderTotalPercentageChange > 0">{{orderTotalPercentageChange | number:0  }}%<i class="fa fa-level-up"></i></span>
                    <span class="tile-text-warning" ng-if="orderTotalPercentageChange <= 0">{{orderTotalPercentageChange | number:0  }}%<i class="fa fa-level-down"></i></span>
                </div>
            </div>
        </td>
                 -->
                            </tr>
                        </table>



                    </div>
                </div>
            </td>


        </tr>

    </table>





</div>

<!--
<div class="umb-panel-body umb-scrollable row-fluid">
    <h2>Welcome to the Flexeweb Commerce BuzzBikes Demonstration shop</h2>
    <br />
    <div class="row">
        <div class="col-md-3">
            <h3>Order Management Tools</h3>
            <a href="/umbraco/#/flxCommerce/flxTools/landing/orders" class="btn btn-primary dash"> Order Dashboard</a>
        </div>
    </div>
    <br />
    <div class="row">
        <div>
            <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-awaitingDispatch" class="btn btn-primary dash">Orders Awaiting Dispatch</a>
            <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-awaitingPrint" class="btn btn-primary dash">Orders Awaiting Printing</a>
            <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-shippedOrders" class="btn btn-primary dash">Shipped Orders</a>
            <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-cancelledOrders" class="btn btn-primary dash">Cancelled Orders</a>
            <a href="/umbraco/#/flxCommerce/flxTools/landing/orders-forReview" class="btn btn-primary dash">For Review Orders</a>
        </div>
    </div>


    <div class="row">
        <div class="col-md-3">
            <h3>Promotion Management Tools</h3>
        </div>
    </div>
    <div class="row">
        <div>
            <a href="/umbraco/#/flxCommerce/flxTools/landing/promotion-activeCampaigns" class="btn btn-primary dash">Active Campaigns</a>
            <a href="/umbraco/#/flxCommerce/flxTools/landing/promotion-expiredCampaigns" class="btn btn-primary dash">Expired Campaigns</a>
            <a href="/umbraco/#/flxCommerce/flxTools/landing/newsletter-subscribers" class="btn btn-primary dash">Newsletter Subscribers</a>
        </div>
    </div>







</div>




-->