@inherits UmbracoViewPage<dynamic>
@using Umbraco.Web.Templates
@using Newtonsoft.Json.Linq
<!-- BOF Bootstrap3Custom.html -->

@if (Model != null && Model.sections != null)
{
    var oneColumn = ((System.Collections.ICollection)Model.sections).Count == 1;
    <div class="umb-grid Bootstrap3">
        @if (oneColumn)
        {
            foreach (var section in Model.sections)
            {
                <div class="grid-section">
                    @foreach (var row in section.rows)
                    {
                        @renderRow(row, true);
                    }
                </div>
            }
        }
        else
        {
            <div class="container 1stcontainer">
                <div class="row clearfix">
                    @foreach (var s in Model.sections)
                    {
                        <div class="grid-section">
                            <div class="col-md-@s.grid">
                                @foreach (var row in s.rows)
                                {
                                    @renderRow(row, false);
                                }
                            </div>
                        </div>
                    }
                </div>
            </div>
        }
    </div>
}

@helper renderRow(dynamic row, bool singleColumn)
{

    <div @RenderElementAttributes(row)>
        @Umbraco.If(singleColumn, "<div class='container singlecolumncontainer'>")
        <div class="row clearfix">
            @{
                var i = 0;
                var total = 0;
                var value = "";

                foreach (var area in row.areas)
                {
                    if (RenderElementAttributes(area).ToString().Contains("mobileignoreme")) { i++; }
                    total++;
                }

                var realcolumnCount = 12 / (total - i);
            }
            @foreach (var area in row.areas)
            {
                if (RenderElementAttributes(area).ToString().Contains("mobileignoreme"))
                {
                    value = "col-lg-4 col-md-4 col-sm-4 hidden-xs";
                }
                else
                {
                    value = "col-lg-" + @area.grid + " col-md-" + @area.grid + " col-sm-" + @area.grid + " col-xs-" + realcolumnCount;
                }
                <div class="@value column">
                    <div @RenderElementAttributes(area)>
                        @foreach (var control in area.controls)
                        {
                            if (control != null && control.editor != null && control.editor.view != null)
                            {
                                <text>@Html.Partial("grid/editors/base", (object)control)</text>
                            }
                        }
                    </div>
                </div>
            }
        </div>
        @Umbraco.If(singleColumn, "</div>")
    </div>
}

@functions {
    public static MvcHtmlString RenderElementAttributes(dynamic contentItem)
    {
        var attrs = new List<string>();
        JObject cfg = contentItem.config;

        if (cfg != null)
            foreach (JProperty property in cfg.Properties())
            {
                var propertyValue = HttpUtility.HtmlAttributeEncode(property.Value.ToString());
                attrs.Add(property.Name + "=\"" + propertyValue + "\"");
            }

        JObject style = contentItem.styles;

        if (style != null)
        {
            var cssVals = new List<string>();
            foreach (JProperty property in style.Properties())
            {
                var propertyValue = property.Value.ToString();
                if (string.IsNullOrWhiteSpace(propertyValue) == false)
                {
                    cssVals.Add(property.Name + ":" + propertyValue + ";");
                }
            }

            if (cssVals.Any())
                attrs.Add("style=\"" + HttpUtility.HtmlAttributeEncode(string.Join(" ", cssVals)) + "\"");
        }

        return new MvcHtmlString(string.Join(" ", attrs));
    }
}
<!-- EOF Bootstrap3.html -->