﻿<div class="umb-dialog-body with-footer" ng-controller="Umbraco.Editors.Content.CreateController">
	
	<div class="umb-pane">
	<h5><localize key="create_createUnder">Create a page under</localize> {{currentNode.name}}</h5>

	<p class="abstract" ng-hide="allowedTypes">
		<localize key="create_noDocumentTypes" />
	</p>

	<ul class="umb-actions umb-actions-child">

		<li ng-repeat="docType in allowedTypes | orderBy:'name':false">
            <a href="#/flxCommerce/flxTools/edit/{{currentNode.id}}?doctype={{docType.alias}}&create=true" ng-click="nav.hideNavigation()">

                <i class="large {{docType.icon}}"></i>

                <span class="menu-label">
                    {{docType.name}}
                    <small>
                        {{docType.description}}
                    </small>
                </span>
            </a>
		</li>
<!--
		<li class="add">
		    <a href="#settings/documenttype/create/{{currentNode.id}}?doctype={{docType.alias}}&create=true" ng-click="nav.hideNavigation()">
		        <i class="large icon-add"></i>
		        <span class="menu-label">
		            Create a new document type
		            <small>
		                Design and configure a new document type
		            </small>
		        </span>
		    </a>
		</li>	-->
	</ul>
	</div>		
</div>
	
<div class="umb-dialog-footer btn-toolbar umb-btn-toolbar">
		<button class="btn" ng-click="nav.hideDialog(true)">
			<localize key="buttons_somethingElse">Do something else</localize>
		</button>
</div>