<div class="umb-dialog umb-pane" ng-controller="flxDeleteContent.controller">
    <div class="umb-dialog-body" auto-scale="90">

        <p class="umb-abstract">
            Are you sure you want to delete <strong>{{currentNode.name}}</strong> ?
        </p>

        <umb-confirm on-confirm="performDelete" on-cancel="cancel">
        </umb-confirm>

    </div>
</div>
