﻿<link rel="stylesheet" href="/App_Plugins/flxCommerceApplication/backoffice/css/flxAdminTools.css">
<div id="flxTools" ng-controller="flxTools.umbraco.controller">
    <div ng-include="Template">

    </div>
</div>