﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/Autoplay Video -->
@{
    var videoFile = Model.MacroParameters["videoFile"] as string;
    var videoPlaceholder = Umbraco.TypedMedia(Model.MacroParameters["videoPlaceholder"]);
    var contentid = Umbraco.TypedContent(Model.MacroParameters["elementContent"]);
    var containerClass = Model.MacroParameters["containerClass"] as string;

    var udi = Udi.Parse(videoFile);
    var media = Umbraco.TypedMedia(udi);
}

<div class="videoWrapper fixedbackground">
    <video poster="@videoPlaceholder.Url" id="bgvid" playsinline autoplay muted loop>
        <!--
        - Video needs to be muted, since Chrome 66+ will not autoplay video with sound.
        WCAG general accessibility recommendation is that media such as background video play through only once. Loop turned on for the purposes of illustration; if removed, the end of the video will fade in the same way created by pressing the "Pause" button  -->
        <source src="@media.Url" type="video/mp4">
    </video>
    @if (!String.IsNullOrEmpty(Model.MacroParameters["elementContent"] as string))
    {
        <div @if (containerClass.Length > 0) { @Html.Raw(" class=\"" + containerClass + "\"") ; }>@Html.GetGridHtml(contentid, "content")</div> 
    }
</div>
<!-- EOF - Views/MacroPartials/Autoplay Video -->
