﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    int settingsNodeT = 0;
    int homeNodeT = 0;
    int blogNodeT = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodeT = item.Id;
            continue;
        }
        else if (item.Name == "Home")
        {
            homeNodeT = item.Id;
            continue;
        }
        if (item.Name == "Blog")
        {
            blogNodeT = item.Id;
            continue;
        }
        if (settingsNodeT > 0 && blogNodeT > 0 && homeNodeT > 0) { break; }
    }
    var settingsNode = Umbraco.Content(settingsNodeT);
    var homeNode = Umbraco.Content(homeNodeT);
    var blogNode = Umbraco.Content(blogNodeT);
    var page = 1; int.TryParse(Request.QueryString["page"], out page);
}

@if (Request.Url.AbsolutePath.Contains("GetMacroResultAsHtmlForEditor"))
{
    <link rel="stylesheet" type="text/css" href="~/Css/cms-grid.css">
    <div style="background-color: #ddd;padding: 5px 10px;border: 1px solid #000;margin:0 0 10px 0;">
        <h4>Blog Macro</h4>
        <p>To add / remove entries in this blog, look in the main Content folder under Blog.</p>
        <p>To adjust settings use the Settings tab on the blog page.</p>
    </div>
}

@{
    if (string.IsNullOrEmpty(Request.QueryString["page"]) || (page == 1))
    {
        var featured = blogNode.Children.Where("featured == true").OrderBy("postDate desc").FirstOrDefault();

        if (featured.ToString() != "")
        {

        IPublishedContent featThumb = featured.GetPropertyValue<IPublishedContent>("postImage");

        <div style="position:relative;">
            <ul id="slider" style="width: auto; position: relative;">
                <li alt="@featured.Name">
                    <picture>
                        <source media="(min-width: 1600px)" srcset="@Url.GetCropUrl(featThumb, "Desktop Large")">
                        <source media="(min-width: 1220px)" srcset="@Url.GetCropUrl(featThumb, "Desktop Small")">
                        <source media="(min-width: 768px)" srcset="@Url.GetCropUrl(featThumb, "Tablet Small")">
                        <source media="(min-width: 0px)" srcset="@Url.GetCropUrl(featThumb, "Mobile")">
                        <img src="@Url.GetCropUrl(featThumb, "Desktop Large")">
                    </picture>
                    <span class="slideroverlayh"><img src="/Media/H_Opacity.png" /></span>
                    <div class="container">
                        <div class="centerslider">
                            <div class="slidertext homeoverlaylayer2">
                                <div class="headertextinverted">@featured.postDate.ToString("MMMM dd yyyy")</div>
                                <br />
                                <h1 class="headertext">@featured.Name</h1>
                                <p>
                                    @if (featured.HasValue("postDescription"))
                                    {
                                        @Umbraco.Truncate(Umbraco.StripHtml(featured.postDescription), 200, true)
                                    }
                                    else
                                    {
                                        @Umbraco.Truncate(Umbraco.StripHtml(featured.GetGridHtml(Html, "content")), 500, true)
                                    }
                                </p>
                                <a href="@featured.Url"><button type="button" class="btn btn-success">Read More</button></a>
                            </div>
                        </div>
                    </div>
                </li>
            </ul>
        </div>
        } else { <div class="headerplaceholder">&nbsp;</div> }
    } else {<div class="headerplaceholder">&nbsp;</div>}
}





<div class="pagecontainer" @(settingsNode.HasValue("websiteGutter") ? Html.Raw(" style=\"max-width:" + settingsNode.websiteGutter + ";\"") : Html.Raw(" style=\"width:100%;\""))>


@{
    var pageSize = blogNode.GetPropertyValue<int>("postsPerPage");
    var items = blogNode.Children.OrderBy("postDate desc").Where("Visible");
    var totalPages = (int)Math.Ceiling((double)items.Count() / (double)pageSize);

    if (page > totalPages)
    {
        page = totalPages;
    }
    else if (page < 1)
    {
        page = 1;
    }
    
    if (items.Any())
    {
        @childPage(page, totalPages); //Call the pager

        <div class="blogpostcontainer row">
            @foreach (var sub in items.Skip((page - 1) * pageSize).Take(pageSize))
            {
                IPublishedContent mediaitem = sub.GetPropertyValue<IPublishedContent>("postImage");
                <div class="blogpost col-lg-3 col-md-6 col-sm-6 col-xs-12">
                    <a href="@sub.Url">
                        <div class="image">
                            <img src="@Url.GetCropUrl(mediaitem, 600, 600)" alt="@sub.postImage" />
                            <div class="blogtestalignment">
                                <span class="headertextinverted">@sub.postDate.ToString("MMMM dd yyyy")</span>
                                <br />
                                <p class="headertext">@sub.Name</p>
                            </div>
                        </div>
                        @{
                            if (sub.HasValue("postDescription"))
                            {
                                <p class="blogdescription">@Umbraco.Truncate(Umbraco.StripHtml(sub.postDescription), 100, true)</p>
                            }
                            else
                            {
                                <p class="blogdescription">@Umbraco.Truncate(Umbraco.StripHtml(sub.GetGridHtml(Html, "content")), 250, true)</p>
                            }
                        }
                        <div class="buttongroup">
                            <button type="button" class="btn btn-success">Read More</button>
                        </div>
                    </a>
                </div>
            }
        </div>

        @childPage(page, totalPages); //Call the pager
    } else
    {
        <p>No Blog posts found!</p>
    }
}

</div>



@helper childPage(int page, int totalPages)
{
    if (totalPages > 1)
    {
        <div aria-label="Page navigation">
            <ul class="pagination">
                @if (page > 1)
                {
                    <li>
                        <a href="?page=@(page - 1)" aria-label="Previous">
                            <span aria-hidden="true">&laquo;</span>
                        </a>
                    </li>
                }
                @for (int p = 1; p < totalPages + 1; p++)
                {
                    string selected = (p == page) ? "active" : String.Empty;
                    <li class="@selected"><a href="?page=@p" title="Go to page @p of results">@p</a></li>
                }
                @if (page < totalPages)
                {
                    <li>
                        <a href="?page=@(page + 1)" aria-label="Next">
                            <span aria-hidden="true">&raquo;</span>
                        </a>
                    </li>
                }
            </ul>
        </div>
    }
}
