﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/breadcrumb -->
@{
    int settingsNodetemp = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodetemp = item.Id;
        }
    }
    var settingsNode = Umbraco.Content(settingsNodetemp);
}
@*
    This snippet makes a breadcrumb of parents using an unordered HTML list.

    How it works:
    - It uses the Ancestors() method to get all parents and then generates links so the visitor can go back
    - Finally it outputs the name of the current page (without a link)
*@

@{ var selection = Model.Content.Ancestors().ToArray(); }

@if (selection.Length > 0)
{
    <div class="pagecontainer breadcrumbcontainer" @(settingsNode.HasValue("websiteGutter") ? Html.Raw(" style=\"max-width:" + settingsNode.websiteGutter + ";\"") : Html.Raw(" style=\"width:100%;\""))>

        <ul class="breadcrumb">
            @* For each page in the ancestors collection which have been ordered by Level (so we start with the highest top node first) *@
            @foreach (var item in selection.OrderBy(x => x.Level))
            {
                <li><a href="@item.Url">@item.Name</a> <span class="divider"></span></li>
            }

            @* Display the current page as the last item in the list *@
            <li class="active">@Model.Content.Name</li>
        </ul>

    </div>
}
<!-- EOF - Views/MacroPartials/breadcrumb -->
