﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/Brochure List -->

@{
    var showThumbnails = Model.MacroParameters["showThumbnails"];
    var sourceNode = Umbraco.TypedContent(Model.MacroParameters["brochureSource"]);
    var items = sourceNode.Children;
    int i = 1;

    if (items.Any())
    {
        if (showThumbnails.Equals("1"))
        {
            @*            <div class="app paddingbottom50 backgroundcolorgrey">
                            <ul class="hs full">
                                @foreach (var sub in items)
                                {
                                    <li class="item @i linkcollection center">
                                        <a href="@Html.Raw(sub.GetPropertyValue("brochurePdf"))">
                                            <img src="@Html.Raw(sub.GetPropertyValue("brochureThumbnail"))" style="max-width:150px;" />
                                            <p>@sub.Name</p>
                                        </a>
                                    </li>
                                    i++;
                                }
                            </ul>
                        </div>

                 typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("timedSliderImages");
                sub.GetPropertyValue<IEnumerable<IPublishedContent>>("brochureThumbnail")
                @Url.GetCropUrl(sub.GetPropertyValue("brochureThumbnail"), 1800, 800)
            *@
            <div class="netcaroucontainer">
                <div class="contain">

                    <div class="row__inner">
                        @foreach (var sub in items)
                        {
                            var thisImage = sub.GetPropertyValue("brochureThumbnail");

                            <div class="tile">
                                <a href="@Html.Raw(sub.GetPropertyValue("brochurePdf"))">
                                    <div class="tile__media">
                                        <img class="tile__img" src="@Url.GetCropUrl(sub, propertyAlias: "brochureThumbnail", width: 220, height: 300)" alt="" />
                                    </div>
                                    <div class="tile__details">
                                        <div class="tile__title">
                                            @sub.Name
                                        </div>
                                    </div>
                                </a>
                            </div>
                        }
                    </div>


                </div>
            </div>
        }
        else
        {
            <ul>
                @foreach (var sub in items)
                {
                    <li class="item @i linkcollection">
                        <a href="@Html.Raw(sub.GetPropertyValue("brochurePdf"))">
                            <p>@sub.Name</p>
                        </a>
                    </li>
                    i++;
                }
            </ul>
        }
    }
}
<!-- EOF - Views/MacroPartials/Brochure List -->
