﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var myString = Model.MacroParameters["codeSource"].ToString();

    if (Request.Url.AbsolutePath.Contains("GetMacroResultAsHtmlForEditor"))
    {
        <link rel="stylesheet" type="text/css" href="~/Css/cms-grid.css">
        <div style="background-color: #ddd;padding: 5px 10px;border: 1px solid #000;margin:0 0 10px 0;word-break:break-word;">
            <h4>Code Render Macro</h4>
            <p>@myString</p>
            <p>This text area is used to render jquery/scripts or force any code that would usually have the html tags stripped. There are no other settings for this macro.</p>
        </div>
    }
    else
    {
        <div class="scriptcontainer">
            @Html.Raw(HttpUtility.HtmlDecode(myString))
        </div>
    }
}