﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/Faqs -->

@{
    var sourceNode = Umbraco.TypedContent(Model.MacroParameters["faqSourceNode"]);
    var items = sourceNode.Children;
    int i = 0;
    var word = "in";


    if (items.Any())
    {
        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
            @foreach (var sub in items)
            {
                if (sub.GetPropertyValue("enabled").ToString() == "True")
                {
                    <div class="panel panel-default module">
                        <div class="panel-heading" role="tab" id="heading-@sub.Id">
                            <a role="button" data-toggle="collapse" data-parent="#accordion" href="#collapse-@sub.Id" aria-expanded="true" aria-controls="collapse-@sub.Id">
                                <h4 class="panel-title">
                                    @sub.Name
                                </h4>
                            </a>
                        </div>
                        <div id="collapse-@sub.Id" class="panel-collapse collapse @if (i==0) { @Html.Raw(word) }" role="tabpanel" aria-labelledby="heading-@sub.Id">
                            <div class="panel-body">
                                @Html.Raw(sub.GetPropertyValue("answer"))
                            </div>
                        </div>
                    </div>
                    i++;
                }
            }
        </div>
    }
}
<!-- EOF - Views/MacroPartials/Faqs -->
