﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/Gallery -->
@*
    Macro to display a gallery of images from the Media section.
    Works with either a 'Single Media Picker' or a 'Multiple Media Picker' macro parameter (see below).

    How it works:
        - Confirm the macro parameter has been passed in with a value
        - Loop through all the media Ids passed in (might be a single item, might be many)
        - Display any individual images, as well as any folders of images

    Macro Parameters To Create, for this macro to work:
    Alias:mediaIds     Name:Select folders and/or images    Type: Multiple Media Picker
                                                            Type: (note: You can use a Single Media Picker if that's more appropriate to your needs)
*@

@{ var mediaIds = Model.MacroParameters["gallerySource"] as string; }

@if (Request.Url.AbsolutePath.Contains("GetMacroResultAsHtmlForEditor"))
{
    <link rel="stylesheet" type="text/css" href="~/Css/cms-grid.css">
    <div style="background-color: #ddd;padding: 5px;border: 1px solid #000;">
        <h4>Gallery Macro</h4>
        <p>To add or remove pictures in this gallery, add or remove them from the Media/@Umbraco.TypedMedia(mediaIds).Name (id: @mediaIds) folder.</p>
        <p>There are no other settings for this gallery.</p>
    </div>
}

@if (mediaIds != null)
{
    <div id="photos">
        @foreach (var mediaId in mediaIds.Split(','))
        {
            var media = Umbraco.TypedMedia(mediaId);

            @* a single image *@
            if (media.DocumentTypeAlias == "Image")
            {
                @Render(media as Image);
            }

            @* a folder with images under it *@
            foreach (var image in media.Children<Image>())
            {
                @Render(image);
            }
        }
    </div>
}


<script>
    document.addEventListener("DOMContentLoaded", function () {
        var lazyloadImages = document.querySelectorAll("img.lazy");
        var lazyloadThrottleTimeout;

        function lazyload() {
            if (lazyloadThrottleTimeout) {
                clearTimeout(lazyloadThrottleTimeout);
            }

            lazyloadThrottleTimeout = setTimeout(function () {
                var scrollTop = window.pageYOffset;
                lazyloadImages.forEach(function (img) {
                    if (img.offsetTop < (window.innerHeight + scrollTop)) {
                        img.src = img.dataset.src;
                        img.classList.remove('lazy');
                    }
                });
                if (lazyloadImages.length == 0) {
                    document.removeEventListener("scroll", lazyload);
                    window.removeEventListener("resize", lazyload);
                    window.removeEventListener("orientationChange", lazyload);
                }
            }, 20);
        }

        document.addEventListener("scroll", lazyload);
        window.addEventListener("resize", lazyload);
        window.addEventListener("orientationChange", lazyload);
    });
</script>

@helper Render(Image item)
{

    <a href="#" class="galleryimagelink" data-toggle="modal" data-target="#myModal">

        <img src="@item.GetCropUrl()" alt="@item.Name" />

    </a>
}
<!-- EOF - Views/MacroPartials/Gallery -->
