﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage


@{ var mediaIds = Model.MacroParameters["sliderImages"] as string; }

@if (Request.Url.AbsolutePath.Contains("GetMacroResultAsHtmlForEditor"))
{
    <link rel="stylesheet" type="text/css" href="~/Css/cms-grid.css">
    <div style="background-color: #ddd;padding: 5px 10px;border: 1px solid #000;margin:0 0 10px 0;">
        <h4>Gallery Carousel Macro</h4>
        <p>To add or remove pictures in this gallery, add or remove them from the Image picker when you click this macro.</p>
        <p>More than 5 images will create a sliding gallery carousel. Less than this will result in a static gallery. There are no other settings for this gallery.</p>
    </div>
}

@if (mediaIds != null && mediaIds.Count() > 1)
{
    <div class="autoplay3 verticalcenter">

        @foreach (var mediaId in mediaIds.Split(','))
        {
            var media = Umbraco.TypedMedia(mediaId);

            @* a single image *@
            if (media.DocumentTypeAlias == "Image")
            {
                <div class="row autoplay3container img-gallery">
                    <a href="#" class="galleryimage" data-toggle="modal" data-target="#example">
                        <img src="@Url.GetCropUrl(media, width: 450, height: 350)" style="width:unset;max-width:100%;" data-content="@Url.GetCropUrl(media)" />
                        @*<p>@media.Name</p>*@
                    </a>
                </div>
            }


        }
    </div>
}
else
{ <p>None Found</p>}

