﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/GridContentBlock -->

@{
    var displayDirection = Model.MacroParameters["displayDirection"];
    var largeImage = Model.MacroParameters["largeImage"] as string;
    var blockTitle = Model.MacroParameters["blockTitle"];
    var blockButton = Model.MacroParameters["blockButton"];
    var blockLink = Model.MacroParameters["blockLink"] as string;

    var udi = Udi.Parse(largeImage);
    var media = Umbraco.TypedMedia(udi);
    var mediaIds = Model.MacroParameters["displayDirection"];

    var link = Umbraco.TypedContent(blockLink);
}

<flex-container @(displayDirection.Equals("1") ? Html.Raw("class=\"flex-containerltr\"") : Html.Raw("class=\"flex-containerrtl\""))>
    <flex-item@(displayDirection.Equals("1") ? Html.Raw(" style=\"order:2;\"") : Html.Raw(""))>
        <img src="@media.Url" />
        </flex-item>
        <flex-item@(displayDirection.Equals("1") ? Html.Raw(" style=\"order:1;\"") : Html.Raw(""))>
            <p class="flexheader">@Html.Raw(blockTitle)</p>
            <p>@Html.Raw(HttpUtility.HtmlDecode(Model.MacroParameters["blockCopy"] as string))</p>
            <a href="@link.Url"><button type="button" class="btn btn-primary">@Html.Raw(blockButton)</button></a>
        </flex-item>
</flex-container>
<!-- EOF - Views/MacroPartials/GridContentBlock -->
