﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var mediaIds1 = Model.MacroParameters["image1"] as string;
    var mediaIds2 = Model.MacroParameters["image2"] as string;

    if (mediaIds1 != null && mediaIds1.Count() > 1 && mediaIds2 != null && mediaIds2.Count() > 1)
    {
        var media1 = Umbraco.TypedMedia(mediaIds1);
        var media2 = Umbraco.TypedMedia(mediaIds2);

        if (media1.DocumentTypeAlias == "Image" && media2.DocumentTypeAlias == "Image")
        {
            if (Request.Url.AbsolutePath.Contains("GetMacroResultAsHtmlForEditor"))
            {
                <link rel="stylesheet" type="text/css" href="~/Css/cms-grid.css">
                <div style="background-color: #ddd;padding: 5px 10px;border: 1px solid #000;margin:0 0 10px 0;">
                    <h4>Image Comparison Macro</h4>
                    <p>To add or remove pictures click this macro.</p>
                </div>
            }
            <figure class="cd-image-container">
                <img src="@Url.GetCropUrl(media1, width: 1200, height: 600)" />
                <span class="cd-image-label" data-type="original">Original</span>

                <div class="cd-resize-img">
                    <img src="@Url.GetCropUrl(media2, width: 1200, height: 600)" />
                    <span class="cd-image-label" data-type="modified">Modified</span>
                </div>

                <span class="cd-handle"></span>
            </figure>

            <link rel="stylesheet" href="~/Css/imagecomparison-style.css">
            <script src="~/Scripts/jquery.mobile.custom.min.js"></script>
            <script src="~/Scripts/imagecomparison-main.js"></script>
        }
    }
    else
    {
        @Html.Raw("<!-- No image(s) files found -->");
    }
}


