﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/Link Collection -->

@{ var linkCollection = Model.MacroParameters["linkCollection"] as string; }
@{ var linkDirection = Model.MacroParameters["linkDirection"] as string;}

<div @if (linkDirection.ToString() == "1") { @Html.Raw("class=\"horizontal\"") }>
    @foreach (var collection in linkCollection.Split(','))
    {
        if (Umbraco.Content(collection).Name != "")
        {
        <div class="linkcollection @if (CurrentPage.Id == Umbraco.Content(collection).Id)
    {@Html.Raw("currentpage")}">
            @if (!Umbraco.Content(collection).GetPropertyValue<bool>("labelOnly"))
            {@Html.Raw("<a href=\"" + Umbraco.Content(collection).Url + "\">")}
            @Umbraco.Content(collection).Name
            @if (!Umbraco.Content(collection).GetPropertyValue<bool>("labelOnly"))
            {@Html.Raw("</a>")}
        </div>
        }
    }
</div>
<!-- EOF - Views/MacroPartials/Link Collection -->
