﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Text;
<!-- BOF - Views/MacroPartials/linkblock -->

@{
    int settingsNodetemp = 0;
    foreach (var item in @Umbraco.TypedContentAtRoot())
    {
        if (item.Name == "Site Settings")
        {
            settingsNodetemp = item.Id;
        }
    }
    var settingsNode = Umbraco.Content(settingsNodetemp);
}

@{
    var sourceNode = Umbraco.TypedContent(Model.MacroParameters["linkSource"]);
    var items = sourceNode.Children;

    if (Request.Url.AbsolutePath.Contains("GetMacroResultAsHtmlForEditor"))
    {
        <link rel="stylesheet" type="text/css" href="~/Css/cms-grid.css">
        <div style="background-color: #ddd;padding: 5px 10px;border: 1px solid #000;margin:0 0 10px 0;">
            <h4>Link Block Macro</h4>
            <p>This macro will render the contents of a link block collection, these are under the Content/Link Blocks tree.  Currently using @sourceNode.Name (id: @sourceNode.Id).</p>
            <p>Further settings are in the link block itself.</p>
        </div>
    }

    @Html.Raw("<!-- Linkblock using: " + @sourceNode.Name + " (id: " + @sourceNode.Id + ") -->");

    var sb = new StringBuilder();

    sb.AppendFormat("{0}", sourceNode.GetPropertyValue<bool>("useGutter") ? "max-width:" + settingsNode.websiteGutter + ";" : "");
    sb.AppendFormat("{0}", sourceNode.HasValue("backgroundColour") ? "background-color:" + sourceNode.GetPropertyValue("backgroundColour") + ";" : "");
    sb.AppendFormat("{0}", sourceNode.HasValue("paddingTop") ? "padding-top:" + sourceNode.GetPropertyValue("paddingTop") + "px;" : "");
    sb.AppendFormat("{0}", sourceNode.HasValue("paddingBottom") ? "padding-bottom:" + sourceNode.GetPropertyValue("paddingBottom") + "px;" : "");
    sb.AppendFormat("{0}", sourceNode.HasValue("contentAlign") ? "text-align:" + sourceNode.GetPropertyValue("contentAlign") + ";" : "");
    sb.AppendFormat("{0}", sourceNode.HasValue("backgroundImage") ? "background:linear-gradient(0deg,rgba(0,0,0,0.2),rgba(0,0,0,0.7)),url(" + sourceNode.GetPropertyValue("backgroundImage") + ");" : "");

    if (sb.Length > 0)
    {
        sb.Insert(0, "style=\"");
        sb.Append("\"");
    }

    if (items.Any())
    {
        var itemcount = items.Count();

        <div@(sourceNode.GetPropertyValue<bool>("useParallaxScrolling") ? Html.Raw(" id=\"parallax-container\"") : Html.Raw("")) class="linkblocks" @Html.Raw(sb.ToString())>
            @(sourceNode.GetPropertyValue<bool>("useInnerGutter") ? Html.Raw("<div style=\"max-width:" + settingsNode.websiteGutter + ";margin:0 auto;\">") : Html.Raw(""))

            @foreach (var sub in items)
            {
                <div class="@(sub.GetPropertyValue<bool>("imageAsBox") ? Html.Raw("imageAsBoxContainer ") : Html.Raw("linkblock "))@switch (itemcount)
        {
                case 1:
                    @Html.Raw("col-xs-12 col-sm-6 col-lg-6 col-xl-6 colwidth2");
        break;
                case 3:
                    @Html.Raw("col-xs-12 col-sm-4 col-lg-4 col-xl-4 colwidth3");
        break;
                case 4:
                    @Html.Raw("col-xs-6 col-sm-6 col-lg-3 col-xl-3 colwidth4");
        break;
                case 5:
                case 6:
                    @Html.Raw("col-xs-12 col-sm-6 col-lg-3 col-xl-3 colwidth4");
        break;
        default:
                    ;
        break;
    }">

                    @if (sub.GetPropertyValue<bool>("imageAsBox") && sub.HasValue("link") && sub.HasValue("blockImage"))
                    {
                        @Html.Raw("<a href=\"" + sub.GetPropertyValue("link").ToString() + "\" style=\"background-image:url(" + @Url.GetCropUrl(sub, propertyAlias: "blockImage", width: 500, height: 300) + ")\">")
                    }
                    else if (sub.GetPropertyValue<bool>("imageAsBox") && !sub.HasValue("link") && sub.HasValue("blockImage"))
                    {
                        @Html.Raw(" style=\"background-image:url(" + @Url.GetCropUrl(sub, propertyAlias: "blockImage", width: 500, height: 300) + ")\"")
                    }
                else if (sub.HasValue("link"))
                {
                    @Html.Raw("<a href=\"" + sub.GetPropertyValue("link").ToString() + "\">")
                }
                @* Changed from if (!sub.GetPropertyValue<bool>("imageAsBox") && sub.HasValue("link")) *@

                    @if (sub.GetPropertyValue<bool>("imageAsBox"))
                    {
                        <div class="imageasboxoverlay">
                            <div class="imageasbox">
                                <div class="heading headertext">@sub.Name</div>
                                <div class="description">
                                    @if (sub.HasValue("description"))
                                    {
                                        @sub.GetPropertyValue("description")
                                    }
                                </div>
                                @if (sub.HasValue("buttonText"))
                                {
                                    <button type="button" class="btn btn-success">@sub.GetPropertyValue("buttonText")</button>
                                }
                            </div>
                        </div>
                    }
                    else
                    {
                        <div class="heading headertext">@sub.Name</div>
                        if (sub.HasValue("blockImage"))
                        {
                            <div class="image">
                                <img src="@Url.GetCropUrl(sub, propertyAlias: "blockImage", width: 300, height: 300)" alt="@sub.GetPropertyValue("imageOrIcon")" style="width:unset;max-width:100%;" />
                            </div>
                        }
                        if (sub.HasValue("description"))
                        {
                            <div class="description">@sub.GetPropertyValue("description")</div>
                        }
                        if (sub.HasValue("buttonText"))
                        {
                            <button type="button" class="btn btn-success">@sub.GetPropertyValue("buttonText")</button>
                        }
                    }
                    @if (sub.HasValue("link"))
                    {@Html.Raw("</a>")}
                </div>
            }
            @(sourceNode.GetPropertyValue<bool>("useInnerGutter") ? Html.Raw("</div>") : Html.Raw(""))
            </div>
        }
}
@(sourceNode.GetPropertyValue<bool>("useParallaxScrolling") ? Html.Raw("<script>simpleParallax('#parallax-container',4);</script>") : Html.Raw(""))
<!-- EOF - Views/MacroPartials/linkblock -->
