﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    // Original page slider with li style images and cropurl image tags

    var typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("sliderImages");

    if (CurrentPage.GetPropertyValue("timedSliderStart") < DateTime.Now && CurrentPage.GetPropertyValue("timedSliderEnd") > DateTime.Now)
    {
        typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("timedSliderImages");
    }

    if (typedMultiMediaPicker != null)
    {
        <div style="position:relative;">
            <ul id="slider">
                @foreach (var item in typedMultiMediaPicker)
                {
                    <li style="@if (CurrentPage.Name == "Home") { @Html.Raw("height:100vh !important;") }" alt="@item.Name" @if (CurrentPage.GetPropertyValue("zoomEffect")) { @Html.Raw(" class=\"zoomEffect\"") }>
                        <picture>
                            <source media="(min-width: 1600px)" srcset="@Url.GetCropUrl(item, "Desktop Large")">
                            <source media="(min-width: 1220px)" srcset="@Url.GetCropUrl(item, "Desktop Small")">
                            <source media="(min-width: 768px)" srcset="@Url.GetCropUrl(item, "Tablet Small")">
                            <source media="(min-width: 0px)" srcset="@Url.GetCropUrl(item, "Mobile")">
                            <img src="@Url.GetCropUrl(item, "Desktop Large")">
                        </picture>
                        <span class="slideroverlayh"><img src="/Media/H_Opacity.png" /></span>
                        @if ((item.HasValue("sliderTitle")) || (item.HasValue("sliderText")) || (item.HasValue("sliderLink")))
                        {
                            <div class="container">
                                <div class="centerslider">
                                    <div class="slidertext homeoverlaylayer2">
                                        @if (item.HasValue("sliderTitle"))
                                        {@Html.Raw("<h1 class=\"headertext\">" + item.GetPropertyValue("sliderTitle") + "</h1>")}
                                        @if (item.HasValue("sliderText"))
                                        {@Html.Raw("<p>" + item.GetPropertyValue("sliderText") + "</p>")}
                                        @if (item.HasValue("textLink"))
                                        {@Html.Raw("<a href=\"" + item.GetPropertyValue("Url") + "\"><button type=\"button\" class=\"btn btn-info\">" + item.GetPropertyValue("sliderButton") + "</button></a>")}
                                    else if (item.HasValue("sliderLink"))
                                    {@Html.Raw("<a href=\"" + item.GetPropertyValue("sliderLink") + "\"><button type=\"button\" class=\"btn btn-info\">" + item.GetPropertyValue("sliderButton") + "</button></a>")}
                                    </div>
                                </div>
                            </div>
                        }
                    </li>
                }
            </ul>

            @if (typedMultiMediaPicker.Count() > 1)
            {
                <!-- Controls -->
                <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                    <span class="sr-only">Previous</span>
                </a>
                <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                    <span class="carousel-control-next-icon" aria-hidden="true"></span>
                    <span class="sr-only">Next</span>
                </a>
            }
        </div>

    }
}
        <!-- EOF - Views/MacroPartials/pageSlider -->
