﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    // experimental image slider using cropurl but try to obey focal point whilst being responsive


    var typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("sliderImages");

    if (CurrentPage.GetPropertyValue("timedSliderStart") < DateTime.Now && CurrentPage.GetPropertyValue("timedSliderEnd") > DateTime.Now)
    {
        typedMultiMediaPicker = Model.Content.GetPropertyValue<IEnumerable<IPublishedContent>>("timedSliderImages");
    }


        <div id="slider">
            @foreach (var item in typedMultiMediaPicker)
            {
            <div>
                <img src="@Url.GetCropUrl(item, 1800, 800)" alt="@item.Name" style="position:relative;">

                @if ((item.HasValue("sliderTitle")) || (item.HasValue("sliderText")) || (item.HasValue("sliderLink")))
                {
                <div class="slidertext homeoverlaylayer2">
                    @if (item.HasValue("sliderTitle"))
                    {@Html.Raw("<h2>" + item.GetPropertyValue("sliderTitle") + "</h2>")}
                    @if (item.HasValue("sliderText"))
                    {@Html.Raw("<p>" + item.GetPropertyValue("sliderText") + "</p>")}
                    @if (item.HasValue("textLink"))
                    {@Html.Raw("<a href=\"" + item.GetPropertyValue("Url") + "\"><button type=\"button\" class=\"btn btn-primary\">" + item.GetPropertyValue("sliderButton") + "</button></a>")}
                else if (item.HasValue("sliderLink"))
                {@Html.Raw("<a href=\"" + item.GetPropertyValue("sliderLink") + "\"><button type=\"button\" class=\"btn btn-primary\">" + item.GetPropertyValue("sliderButton") + "</button></a>")}
                </div>
                }
            </div>
                
            }

        </div>


        if (typedMultiMediaPicker.Count() > 1)
        {
            int i = 0;
            <!-- Controls -->
            <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>

            <div id="bx-pager">
                <ul>
                    @foreach (var image in typedMultiMediaPicker)
                    {
                        <li>
                            <a data-slide-index="@i" href="">
                                <img src="@Url.GetCropUrl(image, 60, 60)" alt="@image.Name" />
                            </a>
                        </li>
                        i++;
                    }
                </ul>
            </div>
        }
}
<!-- EOF - Views/MacroPartials/pageSlider -->
