﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/renderGrid -->
@{
    var sourceNode = Umbraco.TypedContent(Model.MacroParameters["linkSource"] as string);

    if (Request.Url.AbsolutePath.Contains("GetMacroResultAsHtmlForEditor"))
    {
        <link rel="stylesheet" type="text/css" href="~/Css/cms-grid.css">
        <div style="background-color: #ddd;padding: 5px 10px;border: 1px solid #000;margin:0 0 10px 0;">
            <h4>renderGrid Macro</h4>
            <p>This macro will render the contents of a Grid Content element, these are under the Content/Grid Content tree.  Currently using @sourceNode.Name (id: @sourceNode.Id).</p>
            <p>Click for options.</p>
        </div>
    }
    
    @Html.GetGridHtml(sourceNode, "content", "Bootstrap3Updated")
}
<!-- EOF - Views/MacroPartials/renderGrid -->
