﻿@using Examine.LuceneEngine.SearchCriteria
@inherits Umbraco.Web.Macros.PartialViewMacroPage
@using System.Text.RegularExpressions

@{
    var lib = "WebsiteSearcher";

    var searcher = ExamineManager.Instance.SearchProviderCollection[lib];

    string searchTerm = Request.QueryString["keywords"].ToLower(); // Convert all searches to lowercase for Standard Analyser (compares in lowercase)
    if (String.IsNullOrWhiteSpace(searchTerm))
    {
        searchTerm = "";
    }

    var searchCriteria = searcher.CreateSearchCriteria();
    var query = searchCriteria.GroupedOr(new[] { "nodeName", "metaDescription", "metaTitle", "metaKeywords", "content" }, searchTerm).Compile();
    var searchResults = searcher.Search(query).Where(r => r["__IndexType"] == "content").ToList();
}

<div style="padding-bottom:20px;">
    <form action="/search-results/">
        <div class="row">
            <div class="col-lg-12">
                <div class="input-group input-group-lg">
                    <input id="keywords" name="keywords" type="text" class="form-control" placeholder="Search for..." value="@searchTerm">
                    <span class="input-group-btn">
                        <button class="btn btn-default" type="submit">SEARCH</button>
                    </span>
                </div>
            </div>
        </div>
    </form>
</div>


@if (searchResults.Any())
{
    int count = 0;
    <ul class="search-results-box">
        @foreach (var result in searchResults)
        {
            var node = Umbraco.TypedContent(result.Id);
            var pathIds = result["__Path"].Split(',');
            var path = Umbraco.TypedContent(pathIds).Where(p => p != null).Select(p => new { p.Name }).ToList();

            var node1 = Umbraco.Content(result.Id);

            if (!node1.HasValue && node1.GetPropertyValue("hideFromSearchResults") != true) {
                    count++;
                    var resContentDsp = "";

                    try
                    {
                        var resContent = node1.GetGridHtml("content");
                        resContent = Umbraco.StripHtml(resContent);
                        resContent = Umbraco.Truncate(resContent, 250);

                        string pattern = Regex.Escape(searchTerm);
                        var rx = new Regex(pattern, RegexOptions.IgnoreCase);
                        resContentDsp = rx.Replace(resContent.ToString(), "<div class='highlightme'>&nbsp;$0&nbsp;</div>");
                    }
                    catch { }
                

                    <li class="searchcontainer">

                        <div class="text-container">
                            <a href="@node.Url">
                                <span class="searchhead">Name: @node.Name</span>
                                <span class="searchtext">Res: @Html.Raw(resContentDsp)</span>
                            </a>
                        </div>

                    </li>
            }
        }
    </ul>
    <div>Your search for '@searchTerm' had @count results</div>

}
else
{
    <p>
        There are no results matching your search

        @if (!String.IsNullOrWhiteSpace(searchTerm))
        {
            <text>'@searchTerm'</text>
        }
    </p>
}