﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
@{
    var sourceNode = Umbraco.TypedContent(Model.MacroParameters["imageSource"]);
    <div class="autoplay2 backgroundcolorgrey verticalcenter">
        @foreach (var sub in sourceNode.Children)
        {
        <div class="row autoplay2container">
            <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 row-centered textwidth400">
                <p>@sub.GetPropertyValue("description")</p>
                <a href="@sub.GetPropertyValue("link").ToString()">
                    <button type="button" class="btn btn-default">@sub.GetPropertyValue("buttonText")</button>
                </a>
            </div>
            <div class="col-xs-12 col-sm-6 col-lg-6 col-xl-6 @sourceNode.Children.Count() row-centered ">
                <img src="@Url.GetCropUrl(sub, propertyAlias: "blockImage", width: 350, height: 500)" style="width:unset;max-width:100%;" />
            </div>
        </div>
        }
    </div>
}
