﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage

@{
    var sourceNode = Umbraco.TypedContent(Model.MacroParameters["imageSource"]);

    if (sourceNode.Children.Count() >= 5)
    {
        <div class="pagecontainer slider autoplay">
            @foreach (var sub in sourceNode.Children)
            {
                <div class="imageAsBoxContainer2">
                    <a href="@sub.GetPropertyValue("link").ToString()">

                        <img src="@Url.GetCropUrl(sub, propertyAlias: "blockImage", width: 450, height: 350)" style="width:unset;max-width:100%;" />


                            <div class="imageasboxoverlay">
                                <div class="whiteelement">
                                    <h4 class="headertext">
                                        @sub.Name
                                    </h4>
                                    @sub.GetPropertyValue("description")

                                    @if (sub.HasValue("buttonText"))
                                    {
                                        <button type="button" class="btn btn-info">@sub.GetPropertyValue("buttonText")</button>
                                    }
                                </div>
                            </div>

                    </a>
                </div>
            }
        </div>
    }
    else
    {
        <div class="pagecontainer">
            @foreach (var sub in sourceNode.Children)
            {
                <div class="imageAsBoxContainer2 col-xs-12 col-sm-6 col-lg-4 col-xl-4 @sourceNode.Children.Count() row-centered">
                    <a href="@sub.GetPropertyValue("link").ToString()">

                        <img src="@Url.GetCropUrl(sub, propertyAlias: "blockImage", width: 450, height: 350)" style="width:unset;max-width:100%;" />

                        <div class="imageasboxoverlay2">
                                <div class="whiteelement">
                                    @sub.GetPropertyValue("description")
                                </div>
                                @if (sub.HasValue("buttonText"))
                                {
                                    <button type="button" class="btn btn-success">@sub.GetPropertyValue("buttonText")</button>
                                }
                        </div>

                    </a>
                </div>
            }
        </div>
    }


}
