﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/Social Block -->

@{
    int settingsNodetemp = 0;
    foreach (var setting in @Umbraco.TypedContentAtRoot())
    {
        if (setting.Name == "Site Settings")
        {
            settingsNodetemp = setting.Id;
        }
    }
    var settingsNode = Umbraco.Content(settingsNodetemp);

   
<div class="socialblock paddingbottom25">
    <div>
        <div class="fb-share-button socialbutton" data-href="@Request.Url.Scheme://@Request.Url.Host@CurrentPage.Url" data-layout="button_count" data-size="large" data-mobile-iframe="false">
            <a class="fb-xfbml-parse-ignore btn btn-info" target="_blank" href="https://www.facebook.com/sharer/sharer.php?u=@Request.Url.Scheme://@Request.Url.Host@CurrentPage.Url&amp;src=sdkpreparse"><i class="fa fa-facebook" aria-hidden="true"></i></a>
        </div>

        <div class="socialbutton">
            <a class="twitter-share-button btn btn-info" href="https://twitter.com/intent/tweet" target="_blank" data-size="large"><i class="fa fa-twitter" aria-hidden="true"></i></a>
        </div>
    </div>


    @if (CurrentPage.DocumentTypeAlias != "ftProduct")
    {
    <div style="padding-top:5px;">
        <p>Visit:</p>
        @if (settingsNode.HasValue("facebookLink"))
        {
            @Html.Raw("<a href=\"" + settingsNode.GetPropertyValue("facebookLink") + "\" class=\"btn btn-default\"><i class=\"fa fa-facebook\" aria-hidden=\"true\"></i></a>");
    }
        @if (settingsNode.HasValue("twitterLink"))
        {
            @Html.Raw("<a href=\"" + settingsNode.GetPropertyValue("twitterLink") + "\" class=\"btn btn-default\"><i class=\"fa fa-twitter\" aria-hidden=\"true\"></i></a>");
    }
        @if (settingsNode.HasValue("instagramLink"))
        {   @Html.Raw("<a href=\"" + settingsNode.GetPropertyValue("instagramLink") + "\" class=\"btn btn-default\"><i class=\"fa fa-instagram\" aria-hidden=\"true\"></i></a>");
    }
        @if (settingsNode.HasValue("youtubeLink"))
        {   @Html.Raw("<a href=\"" + settingsNode.GetPropertyValue("youtubeLink") + "\" class=\"btn btn-default\"><i class=\"fa fa-youtube\" aria-hidden=\"true\"></i></a>");
    }
    </div>
    }
</div>
}
<!-- EOF - Views/MacroPartials/Social Block -->
