﻿@inherits Umbraco.Web.Macros.PartialViewMacroPage
<!-- BOF - Views/MacroPartials/Static Background Element -->

@{
    var mediaIds = Model.MacroParameters["backgroundImage"] as string;
    var contentid = Umbraco.TypedContent(Model.MacroParameters["elementContent"]);
    var containerClass = Model.MacroParameters["containerClass"] as string;


    var udi = Udi.Parse(mediaIds);
    var media = Umbraco.TypedMedia(udi);
}
<div class="fixedbackground" style="background-image: url('@media.Url');">

    @if (!String.IsNullOrEmpty(Model.MacroParameters["containerClass"] as string) && !String.IsNullOrEmpty(Model.MacroParameters["elementContent"] as string))
    {
        <div @if (containerClass.Length > 0) { @Html.Raw(" class=\"" + containerClass + "\"") ; } style="transform:none !important;">@Html.GetGridHtml(contentid, "content")</div>
        }
</div>
<!-- EOF - Views/MacroPartials/Static Background Element -->
