﻿<div class="row" ng-controller="TheDashboard.Controller">

    <umb-load-indicator ng-if="!vm.activities"></umb-load-indicator>

    <div class="span3">
        <h3><localize key="theDashboard_recentActivities">Recent activities</localize></h3>
        <p><localize key="theDashboard_recentActivitiesDescription">Shows recent activities from all users in the back office.</localize></p>

        <div ng-repeat="item in vm.activities" class="logitem has-avatar">
            <img ng-src="{{item.userAvatarUrl}}"/>
            <span>{{item.timestamp | date:'medium'}}</span>
            <div>
                <p ng-if="item.logItemType =='Save'">
                    {{item.userDisplayName}} <localize key="theDashboard_saved">saved</localize> <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> <localize key="theDashboard_butDidNotPublish">but did not publish</localize>.
                </p>
                <p ng-if="item.logItemType =='SavedAndScheduled'">
                    {{item.userDisplayName}} <localize key="theDashboard_savedAndScheduled">saved and scheduled</localize> <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> <localize key="theDashboard_forPublishingAt">for publishing at</localize> {{item.scheduledPublishDate | date}}.
                </p>
                <p ng-if="item.logItemType =='Publish'">
                    {{item.userDisplayName}} <localize key="theDashboard_savedAndPublished">saved and published</localize> <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a>.
                </p>
                <p ng-if="item.logItemType =='Delete'">
                    {{item.userDisplayName}} <localize key="theDashboard_moved">moved</localize> {{item.nodeName}} <localize key="theDashboard_to">to</localize> <a href="/umbraco/#/content/content/recyclebin"><localize key="theDashboard_recycleBin">recycle bin</localize>.</a>
                </p>
                <p ng-if="item.logItemType =='UnPublish'">
                    {{item.userDisplayName}} <localize key="theDashboard_unpublished">unpublished</localize> {{item.nodeName}}.
                </p>
                <p ng-if="item.logItemType =='UnPublishToRecycleBin'">
                    {{item.userDisplayName}} <localize key="theDashboard_moved">moved</localize> {{item.nodeName}} <localize key="theDashboard_to">to</localize> <a href="/umbraco/#/content/content/recyclebin">recycle bin</a>.
                </p>
            </div>
        </div>
    </div>
    <div class="span3 offset1">
        <div>
            <h3><localize key="theDashboard_yourRecentActivity">Your recent activity</localize></h3>
            <p><localize key="theDashboard_yourRecentActivitiesDescription">Shows your own recent activities.</localize></p>
            <div ng-repeat="item in vm.userRecentActivity" class="logitem">
                <span>{{item.timestamp | date:'medium'}}</span>
                <p ng-if="item.logItemType =='Save'">
                    <localize key="theDashboard_Saved">Saved</localize> <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> <localize key="theDashboard_butDidNotPublish">but did not publish</localize>.
                </p>
                <p ng-if="item.logItemType =='SavedAndScheduled'">
                    <localize key="theDashboard_SavedAndScheduled">Saved and scheduled</localize> <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> <localize key="theDashboard_forPublishingAt">for publishing at</localize> {{item.scheduledPublishDate | date}}.
                </p>
                <p ng-if="item.logItemType =='Publish'">
                    <localize key="theDashboard_SavedAndPublished">Saved and published</localize> <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a>.
                </p>
                <p ng-if="item.logItemType =='Delete'">
                    <localize key="theDashboard_Moved">Moved</localize> {{item.nodeName}} <localize key="theDashboard_to">to</localize> <a href="/umbraco/#/content/content/recyclebin">recycle bin.</a>
                </p>
                <p ng-if="item.logItemType =='UnPublish'">
                    <localize key="theDashboard_Unpublished">Unpublished</localize> <a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a>.
                </p>
                <p ng-if="item.logItemType =='UnPublishToRecycleBin'">
                    <localize key="theDashboard_Moved">Moved</localize> {{item.nodeName}} <localize key="theDashboard_to">to</localize> <a href="/umbraco/#/content/content/recyclebin"><localize key="theDashboard_recycleBin">recycle bin</localize></a>.
                </p>
            </div>
        </div>
	    <div ng-show="vm.unpublishedContent.length > 0">
		    <h3><localize key="theDashboard_unpublishedContent">Unpublished content</localize></h3>
		    <p><localize key="theDashboard_unpublishedContentDescription">Shows unpublished content that has not been been scheduled for publish.</localize></p>
		    <div ng-repeat="item in vm.unpublishedContent" class="logitem">
			    <img ng-src="{{item.userAvatarUrl}}"/>
			    <span>{{item.timestamp | date:'medium'}}</span>
			    <p><a href="/umbraco/#/content/content/edit/{{item.nodeId}}">{{item.nodeName}}</a> <localize key="theDashboard_savedBy">saved by</localize> {{item.userDisplayName}} <localize key="theDashboard_butNotPublishedOrScheduled">but not published or scheduled</localize>.</p>
		    </div>
	    </div>
    </div>
    <div class="span3 offset1">
        <h3></h3>
        <div class="number">
            <div class="dot">{{vm.countPublishedNodes}}</div>
            <p><localize key="theDashboard_publishedContentNodes">Published content nodes</localize></p>
        </div>

        <div class="number">
            <div class="dot">{{vm.countContentInRecycleBin}}</div>
            <p><localize key="theDashboard_nodesInRecycleBin">Nodes in recyle bin</localize></p>
        </div>
        <div class="number">
            <div class="dot members">{{vm.countTotalWebsiteMembers}}</div>
            <p><localize key="theDashboard_membersOnWebsite">Members on website</localize></p>
        </div>
        <div class="number">
            <div class="dot members">{{vm.countNewMembersLastWeek}}</div>
            <p><localize key="theDashboard_newMembersLastWeek">New members last week</localize></p>
        </div>
        <!-- <div class="umbracoguy">
            <button class="btn btn-info" ng-click="magic = 'true'" ng-hide="magic=='true'">Magic button</button>
            <img src="/App_Plugins/thedashboard/umbraco-guy.png" ng-show="magic == 'true'" ng-click="magic='false'" />
        </div>-->
    </div>
</div>
