﻿
div.logitem {
    clear: both;
    overflow: hidden;
    border-bottom: 1px solid #eee;
    margin-bottom: 8px;
}

div.logitem a {
	color: #00aea2;
	text-decoration: underline;
}

div.logitem img {
    -ms-border-radius: 20px;
    border-radius: 50%;
    width: 55px;
    height: 55px;
    float: left;
    margin-right: 15px;
    margin-bottom: 7px;
}

div.logitem span { font-size: 12px; font-style: italic; }
div.logitem.has-avatar p { padding-left: 70px; }

div.number {
    margin-bottom: 10px;
    height: 45px;
    vertical-align: middle;
}
div.number div.dot {
    padding-top: 15px; 
    float: left;
    background-color: cadetblue;
    color: #fff;
    border-radius: 25px;
    width: 50px;
    height: 35px;
    margin-right: 8px;
    text-align: center;
}
div.number div.dot.members {
    background-color: orange;
}
div.number p { padding-top: 15px;}

/*div.umbracoguy { margin-top: 35px;}*/
