﻿.leekes-keyvalue .list-metadata {
    margin: 25px 0 0 0;
}

.leekes-keyvalue .list-metadata table th:first-child{
    width: 200px;
}

.leekes-keyvalue .list-metadata table th:last-child {
    width: 75px;
}

.leekes-keyvalue li {
    list-style-type: none;
}
