﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using umbraco.cms.businesslogic.datatype
@using System.Xml.XPath


<select name="fontDropdown">

    @try
    {
        XPathNodeIterator iterator = umbraco.library.GetPreValues(3166);
        iterator.MoveNext(); //move to first
        XPathNodeIterator preValues = iterator.Current.SelectChildren("preValue", "");
        @*@preValues.Count*@
        var i = 0;

        while (preValues.MoveNext())
        {
            string preValue = preValues.Current.Value;
            if (i == 0)
            {
                <option disabled="false" value="@preValue" style="font-family: @preValue">@preValue</option>
            }
            else
            {
                <option disabled="false" value="@preValue" style="font-family: @preValue">@preValue</option>
            }
            i++;
        }
    }
    catch (Exception e)
    {
        @e.ToString()
    }
</select>


