﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using umbraco.cms.businesslogic.datatype
@using System.Xml.XPath


<form action="" name="fontRadio">

    @try
    {
        XPathNodeIterator iterator = umbraco.library.GetPreValues(3176);
        iterator.MoveNext(); //move to first
        XPathNodeIterator preValues = iterator.Current.SelectChildren("preValue", "");
        @*@preValues.Count*@
      
        <ul>
            @while (preValues.MoveNext())
            {                
                <li>                   
                    <input type="radio" disabled="false" value="@preValues.Current.Value" id="@preValues.Current.Value">                  
                    <label for="@preValues.Current.Value">
                        <img src="" height="18" title="@preValues.Current.Value" alt="@preValues.Current.Value" />
                    </label>
                </li>                
            }
        </ul>

    }
    catch (Exception e)
    {
        @e.ToString()
    }
</form>