﻿@inherits Umbraco.Web.Mvc.UmbracoViewPage<dynamic>
@using umbraco.cms.businesslogic.datatype
@using System.Xml.XPath


<form action="" name="fontRadio">

    @try
    {
        XPathNodeIterator iterator = umbraco.library.GetPreValues(3168);
        iterator.MoveNext(); //move to first
        XPathNodeIterator preValues = iterator.Current.SelectChildren("preValue", "");
        @*@preValues.Count*@
        int i = 0;
        <ul>
            @while (preValues.MoveNext())
            {
                string image = @preValues.Current.Value + ".jpg";
                <li>
                    @if (i == 0)
                    {
                        <input type="radio" disabled="false" name="radioButtons" value="@preValues.Current.Value" id="@preValues.Current.Value"> 
                          <label for="@preValues.Current.Value" style="margin-bottom: 0px;">
                        <img src="/images/fonts/@image" style="height:15px" title="@preValues.Current.Value" alt="@preValues.Current.Value" /> 
                    </label>
                    }
                    else
                    {
                        <input type="radio" disabled="false" name="radioButtons"  value="@preValues.Current.Value" id="@preValues.Current.Value">
                        <label for="@preValues.Current.Value" style="margin-bottom: 0px;">
                            <img src="/images/fonts/@image" style="height:15px" title="@preValues.Current.Value" alt="@preValues.Current.Value" />
                        </label>
                    }
                </li>
                i++;
            }
        </ul>

    }
    catch (Exception e)
    {
        @e.ToString()
    }
</form>